.notificationx-frontend {
    .nx-container {
        .notification-res-item {

            &.themes-woocommerce_sales_reviews_res-theme-one {

                .notificationx-image {
                    padding: 2px;
                    margin: 0;

                    img {
                        border-radius: 2px;
                    }
                }

                .notificationx-content {
                    margin-left: 8px;
                    padding: 8px 0px;

                    p {
                        &.nx-first-row {

                            span {
                                span {
                                    color: #344054;

                                    &:nth-child(1) {
                                        color: #344054;
                                        font-weight: 600;
                                    }

                                    &:nth-child(2) {
                                        color: #344054;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            span {
                                span {
                                    font-weight: 600;
                                    margin-left: 4px;
                                }
                            }
                        }

                        &.nx-third-row {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.themes-woocommerce_sales_reviews_res-theme-two,
            &.themes-woocommerce_sales_reviews_res-theme-three {
                border-radius: 36px;

                .notificationx-image {
                    padding: 2px;
                    margin: 0;

                    img {
                        border-radius: 50%;
                    }
                }

                .notificationx-content {
                    margin-left: 8px;
                    padding: 8px 0px;

                    p {
                        &.nx-first-row {
                            span {
                                span {
                                    color: #344054;
                                    font-weight: 600;

                                    &:nth-child(1) {
                                        color: #344054;
                                        font-weight: 600;
                                    }

                                    &:nth-child(2) {
                                        color: #344054;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            span {
                                display: none;
                            }
                        }

                        &.nx-third-row {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.themes-woocommerce_sales_res-theme-two {

                .notificationx-image {
                    border-right: 1px solid #f2f2f2;
                }
            }

            &.themes-woocommerce_sales_res-theme-three {
                background: transparent;
                box-shadow: none;

                .notificationx-image {
                    position: relative;
                    overflow: initial !important;
                    background: #FFFFFF;
                    border-radius: 50%;
                    border: none !important;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    flex-basis: 40px;
                    width: 40px;
                    min-width: 40px;
                    z-index: 1;

                    img {
                        border-radius: 50%;
                    }

                    .notificationx-image-badge:not(.second-span) {
                        display: none;
                    }

                    .notificationx-image-badge {
                        z-index: -1;
                        bottom: -9px !important;
                        left: 52% !important;
                        border-top-width: 16px !important;
                        border-right-width: 14px !important;
                        border-top-color: #fff;
                        position: absolute;
                        visibility: visible;
                        opacity: 1;
                        border-right-color: transparent !important;
                        border-style: solid !important;
                        border-bottom-width: 0px !important;
                        border-left-width: 0px !important;
                        background: transparent !important;
                    }
                }

                .notificationx-content {
                    border: none !important;
                    position: relative;
                    margin-left: 2px !important;
                    margin-right: 0px !important;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background: #fff;
                    justify-content: center;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    padding-left: 8px;
                    padding-right: 16px;

                    .notificationX-theme-five-shape {
                        position: absolute;
                        right: 100%;
                        top: 0;
                        bottom: 0;
                        height: 100%;
                        fill: #fff;
                        display: block;
                    }
                }
            }

            &.themes-woocommerce_sales_reviews_rating-res-theme-four {
                background: transparent;
                box-shadow: none;
                min-width: 160px;

                .notificationx-inner {
                    // margin-bottom: 10px;
                }

                .notificationx-image {
                    position: relative;
                    overflow: initial !important;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    border-bottom-left-radius: 2px;
                    margin: 6px 0 10px;
                    background: #FFFFFF;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                    img {
                        border-radius: 2px
                    }


                    .notificationx-image-badge {
                        position: absolute;
                        bottom: -7px;
                        right: 0;
                        visibility: visible;
                        opacity: 1;
                        border-top-color: #fff;
                        border-top-width: 7px;
                        border-left-width: 10px;
                        border-left-color: transparent !important;
                        border-style: solid !important;
                        border-bottom-width: 0px !important;
                        border-right-width: 0px !important;
                        background: transparent !important;


                    }
                }

                .notificationx-content {
                    background: #FFFFFF;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    border-radius: 2px;
                    margin-left: 6px;
                    padding: 4px 0;
                    padding-left: 6px;
                    padding-right: 6px;
                    flex-direction: column;
                    gap: 4px;

                    p {
                        &.nx-first-row {
                            span {
                                span {
                                    color: #344054;
                                    font-weight: 600;

                                    &:nth-child(1) {
                                        color: #5614D5;
                                        font-weight: 600;
                                    }

                                    &:nth-child(2) {
                                        color: #344054;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            span {
                                span {
                                    color: #687895;
                                    margin-left: 0;
                                }
                            }
                        }

                        &.nx-third-row {
                            display: none;
                        }
                    }
                }
            }

            &.themes-woocommerce_sales_reviews_rating-res-theme-five {
                border-radius: 36px;
                min-width: 160px;

                .notificationx-image {
                    flex-basis: 40px;
                    width: 40px;
                    min-width: 40px;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0;
                    padding: 1px;

                    &::after {
                        position: absolute;
                        top: -5px;
                        left: 0px;
                        font-family: "FontAwesome";
                        content: "\f10d";
                        background: #FE70BC;
                        height: 14px;
                        width: 14px;
                        border-radius: 50px;
                        border: 2px solid #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-size: 7px;
                        box-shadow: 0.4px 0.4px 8.24px 0.76px #660C3C1A;
                    }

                    img {
                        border-radius: 50%;
                    }
                }

                .notificationx-content {
                    flex-direction: column;
                    gap: 4px;
                    padding: 2px 0;
                    padding-left: 8px;
                    padding-right: 12px;
                    margin: 0;

                    p {
                        &.nx-first-row {
                            span {
                                span {

                                    &:nth-child(1) {
                                        color: #FF69B3;
                                        font-weight: 600;
                                    }

                                    &:nth-child(2) {
                                        color: #687895;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            line-height: 1;

                            span {
                                span {
                                    color: #687895;
                                    font-weight: 500;
                                    margin-left: 0;
                                }
                            }
                        }

                        &.nx-third-row {
                            display: none;
                        }
                    }
                }
            }

            &.themes-woocommerce_sales_reviews_rating-res-theme-six {
                border-radius: 36px;
                min-width: 160px;
                max-width: 200px;

                .notificationx-image {
                    flex-basis: 40px;
                    width: 40px;
                    min-width: 40px;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0;
                    padding: 1px;

                    &::after {
                        position: absolute;
                        top: -5px;
                        left: 0px;
                        font-family: "FontAwesome";
                        content: "\f10d";
                        background: #775AF3;
                        height: 14px;
                        width: 14px;
                        border-radius: 50px;
                        border: 2px solid #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-size: 7px;
                        box-shadow: 0.4px 0.4px 8.24px 0.76px #660C3C1A;
                    }

                    img {
                        border-radius: 50%;
                    }
                }

                .notificationx-content {
                    flex-direction: column;
                    gap: 4px;
                    padding: 2px 0;
                    padding-left: 8px;
                    padding-right: 12px;
                    margin: 0;

                    p {
                        &.nx-first-row {
                            span {
                                span {

                                    &:nth-child(1) {
                                        color: #775AF3;
                                        font-weight: 600;
                                    }

                                    &:nth-child(2) {
                                        color: #687895;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            line-height: 1;

                            span {
                                span {
                                    color: #687895;
                                    font-weight: 500;
                                    margin-left: 0;
                                }
                            }
                        }

                        &.nx-third-row {
                            display: none;
                        }
                    }
                }
            }

            &.themes-woocommerce_sales_res-theme-four {
                border-radius: 20px;

                .notificationx-image {
                    border-radius: 50%;
                    background: #fff;
                    margin: 4px;
                    margin-right: 10px;
                    padding: 0;
                    box-shadow: 0 0 0 2px #ead9f8;
                }
            }

            &.themes-woocommerce_sales_res-theme-seven,
            &.themes-woocommerce_sales_res-theme-eight {
                border-radius: 7px;

                &.button-link {
                    .notificationx-link {
                        position: absolute;
                        left: inherit;
                        bottom: inherit;
                        top: -21px;
                        right: 8px;
                        text-decoration: none;
                        padding: 3px 8px;
                        background: #5612D6;
                        border-radius: 2px;
                        color: #fff;
                        font-size: 8px;
                        line-height: 12px;
                        font-weight: 500;
                        display: block;
                    }
                }
            }

            &.themes-woocommerce_sales_res-theme-eight {
                box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);

                .notificationx-image {
                    flex-basis: 28px;
                    width: 28px;
                    min-width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    box-shadow: 0 0 0 10px #fff;
                    padding: 0px;
                    margin: 4px;
                    animation: ani 1.5s infinite;
                    position: relative;

                    @keyframes ani {
                        0% {
                            outline: 0px solid rgba(86, 18, 214, 0.8);
                        }

                        33% {
                            outline: 2px solid rgba(86, 18, 214, 0.6);
                        }

                        66% {
                            outline: 4px solid rgba(86, 18, 214, 0.4);
                        }

                        100% {
                            outline: 6px solid rgba(86, 18, 214, 0.2);
                        }
                    }

                    img {
                        border-radius: 50%;
                    }
                }

                .notificationx-content {
                    padding: 8px 0px;
                    margin-left: 14px;
                }
            }

            &.themes-woocommerce_sales_res-theme-nine {
                border-radius: 3px;

                .notificationx-image:after {
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    font-family: "FontAwesome";
                    content: "\f07a";
                    background: #45c9b1;
                    height: 14px;
                    width: 14px;
                    border-radius: 50px;
                    border: 2px solid #fff;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 7px;
                    box-shadow: 0 5px 10px rgba(69, 201, 177, 0.4);
                }

                .notificationx-content {
                    p {
                        &.nx-first-row {
                            span {
                                span:nth-child(2) {

                                    span {
                                        &:nth-child(1) {
                                            color: #3AD0BF;
                                        }

                                        &:nth-child(2) {
                                            color: #344054;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            span {
                                span {
                                    &:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.nx-third-row {
                            .nx-branding {
                                a>svg {
                                    fill: #687895;
                                }

                            }
                        }
                    }
                }
            }

            &.themes-woocommerce_sales_res-theme-ten {
                border-radius: 20px;

                .notificationx-image {
                    border-radius: 50%;
                    background: #fff;
                    margin: 4px;
                    margin-right: 10px;
                    padding: 0;
                    box-shadow: 0 0 0 2px #ead9f8;

                    &::after {
                        position: absolute;
                        top: 0px;
                        left: -1px;
                        font-family: "FontAwesome";
                        content: "\f07a";
                        background: #6F51EC;
                        height: 14px;
                        width: 14px;
                        border-radius: 50px;
                        border: 2px solid #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-size: 7px;
                        box-shadow: 0 5px 10px rgba(69, 201, 177, 0.4);
                    }

                    img {
                        border-radius: 50%;
                    }
                }

                .notificationx-content {
                    p {
                        &.nx-first-row {
                            span {
                                span:nth-child(2) {

                                    span {
                                        &:nth-child(1) {
                                            color: #7253EC;
                                        }

                                        &:nth-child(2) {
                                            color: #344054;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            span {
                                span {
                                    &:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.nx-third-row {
                            .nx-branding {
                                a>svg {
                                    fill: #687895;
                                }

                            }
                        }
                    }
                }
            }

            &.themes-woocommerce_sales_res-theme-eleven {
                background: transparent;
                box-shadow: none;

                .notificationx-image {
                    border-radius: 3px;
                    background: #fff;
                    margin: 0;
                    margin-right: 8px;
                    padding: 2px;
                    flex-basis: 36px;
                    width: 36px;
                    min-width: 36px;
                    height: 36px;
                    box-shadow: 1.2px 0px 4.8px 1.2px #3520880F;

                    &::after {
                        position: absolute;
                        top: -9px;
                        left: 3px;
                        font-family: "FontAwesome";
                        content: "\f07a";
                        background: #6F51EC;
                        height: 14px;
                        width: 14px;
                        border-radius: 50px;
                        border: 2px solid #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-size: 7px;
                        box-shadow: 0 5px 10px rgba(69, 201, 177, 0.4);
                    }
                }

                .notificationx-content {
                    background: #FFFFFF;
                    padding: 10px 0px;
                    padding-left: 10px;
                    padding-right: 16px;
                    box-shadow: 1.2px 0px 4.8px 1.2px #3520880F;
                    border-radius: 2px;
                    margin: 0;

                    p {
                        &.nx-first-row {
                            span {
                                span:nth-child(2) {

                                    span {
                                        &:nth-child(1) {
                                            color: #7253EC;
                                        }

                                        &:nth-child(2) {
                                            color: #344054;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }

                        &.nx-second-row {
                            span {
                                span {
                                    &:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.nx-third-row {
                            .nx-branding {
                                a>svg {
                                    fill: #687895;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}