.nx-admin-wrapper  {
    display: flex;
    .nx-admin-sidebar {
        width: 20%;
        flex-basis: 20%;
        margin-left: 30px;
        // background-color: #fff;
        // padding: 15px 20px;
        box-sizing: border-box;
        .sidebar-widget {
            padding: 20px;
            background-color: #fff;
            &:not(&:last-of-type) {
                margin-bottom: 30px;
            }
        }
        .notificationx-instruction {
            padding: 0px;
            & > h4 {
                margin: 0;
                padding: 20px;
                border-bottom: 1px solid #f2f2f2;
            }
            & > div {
                padding: 5px 20px;
                p {
                    margin: 15px 0px;
                }
            }
        }
    }
    .nx-admin-content {
        width: 80%;
        flex-basis: 80%;
        max-width: 80%;
        #nx-title {
            padding: 10px;
            border: none;
        }
        .wp-react-form.wprf-tabs-wrapper {
            margin-bottom: 0px;
        }
    }

}