#notificationx{
    .wprf-type-flashing-theme-one,
    .wprf-type-flashing-theme-two,
    .wprf-type-flashing-theme-three,
    .wprf-type-flashing-theme-four {
        .nx-field-wrapper {
            display: flex;
            flex-direction: column;
        }
        .nx-field {
            display: flex;
            align-items: flex-start;
            width: 100%;
            &.has-bottom-gap {
                margin-bottom: 10px;
            }
            .wprf-control-wrapper {
                width: 100%;
            }
            &.no-wrap {
                .wprf-control-field {
                    flex-wrap: nowrap;
                    input#is-show-empty{
                        margin-right: 30px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }


    .nx-image-popup-wrapper {
        position: relative;
        border: 1px solid #E6EFFB;
        padding: 3px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        background-color: #ddd;
        &:hover {
            .img-overlay {
                opacity: 1;
            }
        }
        &.has-count::after {
            position: absolute;
            content: attr(data-count);
            width: 16px;
            height: 16px;
            line-height: 16px;
            background: #6a4bff;
            border-radius: 100%;
            top: -8px;
            right: -7px;
            color: #fff;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
        }
        img {
            width: 32px;
            height: 32px;
        }
        .wprf-image-upload-btn {
            padding-right: 5px;
        }
        .img-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(10, 10, 10, 0.5);
            transition: .25s;
            border-radius: 5px;
            cursor: pointer;
            img {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .rpt-hover {
            overflow: visible !important;
            display: flex;
            align-items: center;
            span {
                padding: 8px !important;
                display: flex !important;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
            .emoji-wrapper {
                padding: 0 !important;
                background: transparent !important;
                :hover {
                    background: transparent !important;
                }
            }
        }
        .emoji-container {
            position: relative;
        }
        .emoji-container {
            .rpt-textbox-container {
                width: auto !important;
                left: 0 !important;
                top: 10px !important;
                .rpt-shadow-container {
                    box-shadow: rgba(10, 10, 10, 0.25) 7px 7px 20px !important;

                }
            }

        }
        .rpt-textbox-container {
            width: auto !important;
            left: 0 !important;
            top: -30px !important;
            .rpt-shadow-container {
                box-shadow: rgba(10, 10, 10, 0.25) 7px 7px 20px !important;

            }
        }
        .rpt-arrow {

            box-shadow: rgba(10, 10, 10, 0.25) 7px 7px 20px !important;
        }
    }
}




