.wprf-type-flashing-message-icon .wprf-control-field {
    &>span {
        position: relative;
        border: 1px solid #E6EFFB;
        padding: 3px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span {
        position: relative;
        :hover {
            opacity: 1;
        }
        img {
            width: 32px;
            height: 32px;
        }
        .wprf-image-upload-btn {
            padding-right: 5px;
        }
    }
    .img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.7);
        transition: .25s;
        border-radius: 5px;
        img {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
    input {
        margin-left: 10px;
    }
}
.rpt-hover {
    overflow: visible !important;
    display: flex;
    align-items: center;
    span {
        padding: 8px !important;
        display: flex !important;
        img {
            width: 25px;
            height: 25px;
        }
    }
    .emoji-wrapper {
        padding: 0 !important;
        background: transparent !important;
        :hover {
            background: transparent !important;
        }
    }
}
.emoji-container {
    .rpt-textbox-container {
        width: auto !important;
        left: 0 !important;
        top: 10px !important;
        .rpt-shadow-container {
            box-shadow: rgba(10, 10, 10, 0.25) 7px 7px 20px !important;
    
        }
    }

}
.rpt-textbox-container {
    width: auto !important;
    left: 0 !important;
    top: -38px !important;
    .rpt-shadow-container {
        box-shadow: rgba(10, 10, 10, 0.25) 7px 7px 20px !important;

    }
}
.rpt-arrow {
    
    box-shadow: rgba(10, 10, 10, 0.25) 7px 7px 20px !important;
}
