.nx-admin-modal-head {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    gap: 6px;
    .nx-admin-modal-preview-button {
        all: initial;
        width: 40px;
        height: 40px;
        background: #6a4bff;
        border-radius: 5px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            filter: brightness(100);
        }
        &.active {
            background: #5453fd;
        }
    }
    .nx-admin-modal-close-button {
        all: initial;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background: #dcd6ff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
.nx-admin-modal-body {
    overflow: hidden;
    border: 2px solid #5414D0;
    background: #F6F7FD;
    iframe {
        max-height: calc(100vh - 150px);
    }
}
#discount_alert_video {
    margin-top: 20px;
}