.nx-admin-modal-head {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    gap: 6px;
    .nx-admin-modal-preview-button {
        all: initial;
        width: 40px;
        height: 40px;
        background: #6a4bff;
        border-radius: 5px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            filter: brightness(100);
        }
        &.active {
            background: #5453fd;
        }
    }
    .nx-admin-modal-close-button {
        all: initial;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background: #dcd6ff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
.nx-admin-modal-body {
    overflow: hidden;
    border: 2px solid #5414D0;
    background: #F6F7FD;
    iframe {
        max-height: calc(100vh - 150px);
    }
}
#pro_alert_video_popup {
    margin-top: 20px;
}
.csv-preview-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .pagination-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .pagination-info {
            font-size: 14px;
            color: #25396F;
            font-weight: 400;
        }
    }
    .rc-pagination {
        margin-left: auto;
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        > *:not(:last-child) {
            margin-right: 5px;
        }
        &:after {
            display: block;
            clear: both;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            content: " ";
        }
        &-total-text {
            display: flex;
            height: 36px;
            align-items: center;
            justify-content: center;
        }
        &-item {
            display: flex;
            min-width: 36px;
            height: 36px;
            margin-bottom: 0;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
            button,
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #6a4bff;
                transition: none;
                box-shadow: none;
                cursor: pointer;
                text-decoration: none;
            }
            &:focus,
            &:hover {
                // background: #6a4bff;
                a {
                    color: #25396F;
                }
            }
            &-active {
                // background: #6a4bff;
                background-color: rgba(#6a4bff, 0.15);
                // border: 1px solid #6a4bff;
                a {
                    color: #25396F;
                }
                &:focus a,
                &:hover a {
                    color: #25396F;
                }
            }
        }

        &-jump-prev,
        &-jump-next {
            background: rgba(#6a4bff, 0.15);
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
            button,
            a {
                text-decoration: none;
                display: flex;
                cursor: pointer;
                user-select: none;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                color: transparent;
                box-shadow: none;
                text-decoration: none;
                position: relative;
                &:after {
                    position: absolute !important;
                    content: "•••";
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    color: #6a4bff;
                    cursor: pointer;
                    user-select: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    box-shadow: none;
                    text-decoration: none;
                    position: relative;
                    font-size: 0.75rem;
                }
            }
            &:focus,
            &:hover {
                // background: #6a4bff;
                background-color: rgba(#6a4bff, 0.15);
                button,
                a {
                    text-decoration: none;
                    &:after {
                        color: #fff;
                    }
                }
            }
        }
        &-prev,
        &-next,
        &-jump-prev,
        &-jump-next {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 36px;
            height: 36px;
            margin-bottom: 0;
            color: #6a4bff;
            border-radius: 10px;
            font-size: 0.75rem;
            cursor: pointer;
        }

        &-prev,
        &-next {
            button,
            a {
                cursor: pointer;
                user-select: none;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                color: transparent;
                box-shadow: none;
                text-decoration: none;
                position: relative;
                border: none;
                background: none;
                &:after {
                    position: absolute !important;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    color: #6a4bff;
                    cursor: pointer;
                    user-select: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    font-size: 0.75rem;
                }
            }
        }
        &-prev {
            button,
            a {
                &:after {
                    content: "<";
                }
            }
        }
        &-next {
            button,
            a {
                &:after {
                    content: ">";
                }
            }
        }

        &-disabled {
            &:hover,
            &:focus {
                button,
                a {
                    cursor: not-allowed !important;
                    color: transparent !important;
                    background: rgba(#ccc, 0.15) !important;
                    &:after {
                        cursor: not-allowed !important;
                        color: #a3a3a3 !important;
                        background: rgba(#ccc, 0.15) !important;
                    }
                }
            }
        }

        &-simple &-prev,
        &-simple &-next {
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            button,
            a {
                text-decoration: none;
                height: 36px;
                &::after {
                    height: 36px;
                }
            }
        }
    }
}