.DS_Store
# phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
.vscode/
src/wp-react-form
src/form-builder
package-lock.json
yarn.lock
nxbuild
**/*.map
**/*.lock
.idea

stats.json
pnpm-lock.yaml
