@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.notification-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // overflow: hidden;
    left: auto;
    // animation: SlideTop 300ms;
    animation-fill-mode: forwards;
    min-width: 300px;
    position: relative;
    z-index: 99998;

    audio {
        display: none;
    }

    &:not(&:last-child) {
        margin-bottom: 30px;
    }

    &.exit {
        opacity: 0;
        // animation: SlideBottom 300ms;
        // animation-fill-mode: forwards;
    }

    &.button-link {
        .notificationx-link {
            left: inherit;
            bottom: inherit;
            top: -35px;
            right: 15px;
            font-size: 14px;
            text-decoration: none;
            padding: 6px 15px;
            background: #5612D6;
            border-radius: 4px;
            color: #fff;
            line-height: 18px;
            font-weight: 500;
        }

        .yt-notificationx-link {
            position: absolute;
            left: auto;
            bottom: inherit;
            top: -35px;
            right: 15px;
            font-size: 14px;
            text-decoration: none;
            border-radius: 4px;
            color: #fff;
            line-height: 18px;
            font-weight: 500;
        }
    }
    &.themes-pa-theme-four.button-link .notificationx-link {
        background-color: #FF0000;
    }

    .notificationx-inner {
        display: flex;
        align-items: center;
    }

    .notificationx-image {
        flex-basis: 100px;
        width: 100px;
        min-width: 100px;
        padding: 12px;
        overflow: hidden;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;

        &>img {
            object-fit: cover;
            max-height: 100%;
            max-width: 100%;
        }

        &.image-circle {
            img {
                border-radius: 50%;
                aspect-ratio: 1/1;
            }
        }

        &.image-rounded {
            img {
                border-radius: 10px;
            }
        }

        .notificationx-image-badge {
            visibility: hidden;
            opacity: 0;
        }
    }

    .notificationx-content {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px 0px;

        &:first-child {
            margin-left: 25px;
        }

        .notificationX-theme-five-shape {
            display: none;
        }

        &>p {
            margin: 0;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;

            a {
                position: relative;
                z-index: 9;
            }

            &:not(:last-of-type) {
                margin-bottom: 5px;
            }

            &>span {
                margin-right: 5px;

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &.nx-first-row {
                font-size: 13px;
                line-height: 1.2;

                * {
                    line-height: 1.2;
                }
            }

            &.nx-second-row {
                font-size: 14px;
                line-height: 1.2;
                // * {
                //     line-height: 1.2;
                // }
            }

            &.nx-third-row {
                font-size: 13px;
                line-height: 1.2;

                * {
                    line-height: 1.2;
                }
            }
        }

        &.adv-template {
            &>p {
                >span {
                    width: 100%;
                }

                &.nx-third-row {
                    display: flex;
                    align-items: center;

                    >span {
                        flex-grow: 1;
                        width: auto;
                    }
                }
            }
        }

        .nx-branding {
            display: flex;
            align-items: center;
            z-index: 9;

            &>* {
                margin-right: 5px;
            }

            &>a {
                z-index: 999;
                display: inline-block;
            }

            &>a>svg {
                width: 80px;
                fill: #5614d5;
                height: 16px;
                display: block;
            }

            &>a:hover>svg {
                fill: lighten(#5614d5, 30%);
                transition: fill 0.3s ease 0s;
            }
        }
    }

    .notificationx-close {
        padding: 10px 15px 10px 10px;
        z-index: 9;
        order: 2;
        align-self: start;
        margin-top: 5px;
        display: inline-flex;

        svg {
            cursor: pointer;
            fill: #000000;
        }
    }

    &.img-position-right {
        .notificationx-close {
            order: 0;
        }

        .notificationx-content {
            order: 1;
        }

        .notificationx-image {
            order: 2;
        }
    }

    .notificationx-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @import "./theme-two";
    @import "./theme-three";
    @import "./theme-six";
    @import "./theme-seven";
    @import "./theme-eight";
    @import "./theme-ten";
    @import "./theme-eleven";
}

.notificationx-shortcode-wrapper {
    padding: 30px 0;

    .notification-item {
        animation: FadeIn 500ms;
        animation-fill-mode: forwards;
    }
}

@import "./customizable";