@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.themes-theme-five,
.themes-theme-six-free,
.themes-page_analytics_pa-theme-two,
.themes-conv-theme-nine,
.themes-review-comment {
    background-color: transparent;
    left: auto;
    box-shadow: none;
    audio {
        display: none;
    }
    .notificationx-inner {
        display: flex;
        align-items: stretch;
        position: relative;
    }
    .notificationx-image {
        background: #fff;
        flex-basis: 100px;
        width: 100px;
        min-width: 100px;
        padding: 12px;
        overflow: hidden;
        align-self: stretch;
        display: flex;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .notificationx-content {
        background: #fff;
        justify-content: center;
        margin-left: 10px;
        margin-right: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding-left: 10px;
        padding-right: 45px;
    }
    div.notificationx-close {
        position: absolute;
        right: 0;
        top: 0;
    }
    &.img-position-right {
        .notificationx-close {
            right: initial;
            left: 5px;
        }
        .notificationx-content {
            margin-right: 10px;
            margin-left: 0;
            padding-right: 10px;
            padding-left: 45px;
        }
    }
    .notificationx-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// conv-theme-nine style
.themes-conv-theme-nine {
    .notificationx-image {
        position: relative;
        overflow: initial !important;
        &:after {
            position: absolute;
            top: -10px;
            left: 5px;
            font-family: "FontAwesome";
            content: "\f07a";
            background: #7052f0;
            height: 20px;
            width: 20px;
            border-radius: 50px;
            border: 2px solid #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 7px;
            box-shadow: 0 5px 10px rgba(#7052f0, 0.4);
        }
    }
}

// theme-review-comment & theme-six-free style
.themes-theme-six-free,
.themes-review-comment {
    .notificationx-inner {
        margin-bottom: 15px;
    }
    .notificationx-image {
        position: relative;
        overflow: initial !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        .notificationx-image-badge {
            top: 100%;
            right: 0;
            border-top-color: #fff;
            position: absolute;
            visibility: visible;
            opacity: 1;
            border-top-width: 13px;
            border-left-width: 23px;
            border-left-color: transparent !important;
            border-style: solid !important;
            border-bottom-width: 0px !important;
            border-right-width: 0px !important;
            background: transparent !important;
            &.second-span {
                border-top-width: 13px !important;
                border-left-width: 23px !important;
            }
        }
    }
    .notificationx-content {
        border-radius: 5px;
    }
}

// theme five style
.themes-theme-five {
    .notificationx-inner {
        margin-bottom: 50px;
    }
    .notificationx-image {
        position: relative;
        overflow: initial !important;
        border-radius: 50px;
        border: none !important;
        z-index: 1;
        height: 100px;
        &:not(.image-circle) {
            padding: 19px;
        }
        .notificationx-image-badge {
            z-index: -1;
            top: 83px !important;
            right: 13px !important;
            border-top-color: #fff;
            position: absolute;
            visibility: visible;
            opacity: 1;
            border-top-width: 40px !important;
            border-right-width: 35px !important;
            border-right-color: transparent !important;
            border-style: solid !important;
            border-bottom-width: 0px !important;
            border-left-width: 0px !important;
            background: transparent !important;
            &:not(.second-span) {
                display: none;
            }
        }
    }
    .notificationx-content {
        border: none !important;
        position: relative;
        margin-left: 20px !important;
        margin-right: 0px !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .notificationX-theme-five-shape {
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            height: 100%;
            fill: #fff;
            display: block;
        }
        &:first-child {
            margin-left: 0 !important;
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
            .notificationX-theme-five-shape {
                display: none;
            }
        }
    }
    &.img-position-right {
        .notificationx-content {
            margin-left: 0px !important;
            margin-right: 20px !important;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            .notificationX-theme-five-shape {
                left: 100%;
                right: initial;
                transform: rotateY(180deg);
            }
            &:first-child {
                margin-right: 0 !important;
                border-top-right-radius: 5px !important;
                border-bottom-right-radius: 5px !important;
            }
        }
    }
}
