#notificationx {
    .wp-react-form.wprf-tabs-wrapper.wprf-tab-menu-as-sidebar {
        .wprf-tab-content-wrapper {
            &.press_bar {
                .wprf-tab-content {
                    .wprf-control-section {
                        &.main_preview {
                            .wprf-section-title {
                                padding: 12px 24px;
                                min-height: auto;
                                margin: 0;
                            }
                            .wprf-section-fields {
                                padding: 12px 24px;
                                .nx-bar {
                                    &.nx-bar-section-preview {
                                        position: static;
                                    }
                                }
                            }
                        }
                        &.sliding_text {
                            .wprf-section-title {
                                display: none;
                            }
                            .wprf-section-fields {
                                padding: 0;
                            }
                        }
                        .wprf-section-fields {
                            .wprf-control-wrapper {
                                &.radio-card-v2 {
                                    .wprf-control-label {
                                        margin: 0;
                                    }
                                    .wprf-control-field {
                                        min-height: 28px;

                                        .wprf-control {
                                            .wprf-row {    
                                                margin: 0;
                                                display: flex;
                                                flex-wrap: nowrap;
                                                gap: 16px;
                                                &:before {
                                                    display: none;
                                                }
                                                &:after {
                                                    display: none;
                                                }
                                                .wprf-column {
                                                    width: auto;
                                                    height: auto;
                                                    padding: 0;
                                                    .wprf-input-radio-option {
                                                        // position: relative;
                                                        margin-top: 0;
                                                        border-radius: 0;
                                                        box-shadow: none;
                                                        display: flex;
                                                        align-items: unset;
                                                        flex-direction: unset;
                                                        min-height: auto;
                                                        height: auto;
                                                        .wprf-input-label {
                                                            background-color: transparent !important;
                                                            border: none;
                                                            font-size: 14px;
                                                            font-weight: 400;
                                                            color: #092161 !important;
                                                            border-radius: 0;
                                                            flex-grow: unset;
                                                            padding: 0;
                                                            padding-left: 20px;
                                                            line-height: 1em;
                                                            text-align: center;
                                                            cursor: pointer;
                                                            position: relative;

                                                            &:before {
                                                                content: "";
                                                                position: absolute;
                                                                top: 50%;
                                                                left: 0;
                                                                transform: translateY(-50%);
                                                                background: transparent;
                                                                width: 14px;
                                                                height: 14px;
                                                                border: 1.5px solid #DBE3EE;
                                                                border-radius: 50%;
                                                                box-sizing: border-box;
                                                            }
                                                        }

                                                        &.wprf-option-selected {
                                                            .wprf-input-label {
                                                                &:before {
                                                                    border: 4px solid #6a4bff;
                                                                }
                                                            }
                                                            &:before {
                                                                display: none;
                                                            }
                                                            &:after {
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    + .wprf-repeater-control {
                                        width: 70%;
                                        margin-left: auto;
                                        margin-bottom: 30px;
                                        .wprf-repeater-field {
                                            .wprf-repeater-field-title {
                                                padding: 12px;
                                                cursor: pointer;
                                                font-size: 12px;
                                                background-color: #F8FAFB;
                                                display: flex;
                                                align-items: center;
                                            }
                                            .wprf-repeater-inner-field {
                                                padding: 12px;
                                                background-color: #F8FAFB;
                                                border: none;
                                                .wprf-control-wrapper {
                                                    align-items: flex-start;
                                                    background: #FFF;
                                                    border: 1px solid #F1F1F1;
                                                    border-radius: 4px;
                                                    .wprf-control-label {
                                                        display: none;
                                                    }
                                                    .wprf-control-field {
                                                        width: 100%;
                                                        .rdw-editor-toolbar {
                                                            padding: 7px 6px 0;
                                                            border-radius: 2px;
                                                            border: none;
                                                            display: flex;
                                                            justify-content: flex-start;
                                                            background: white;
                                                            flex-wrap: wrap;
                                                            font-size: 15px;
                                                            margin-bottom: 5px;
                                                            user-select: none;
                                                        }
                                                        .wprf-editor .wprf-editor-main {
                                                            height: calc(100% - 46px);
                                                            padding: 5px 16px;
                                                            box-sizing: border-box;
                                                            border: none;
                                                            border-top: 0px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .wprf-repeater-label {
                                            .wprf-repeater-button {
                                                margin-top: 20px;
                                                border: 1px solid #6A4BFF;
                                                padding: 10px 12px;
                                                background: #6A4BFF;
                                                color: #FFFFFF;
                                                line-height: 1em;
                                                box-sizing: border-box;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.bar_coupon {
                            .wprf-section-fields {
                                .wprf-name-enable_coupon {
                                    .wprf-control-label {
                                        display: none;
                                    }
                                    .wprf-control-field {
                                        position: absolute;
                                        top: 20px;
                                        right: 16px;
                                        min-height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}