.nx-container {
    margin-left: 30px;
    margin-bottom: 30px;

    .nx-popup {
        position: relative;

        &.popup_notification_theme-one {
            background: linear-gradient(180deg, #FFEAD7 0%, #FFFCF5 100%);
            box-shadow: 0px 4px 4px 0px #E4DBCB;
            border: 4px solid #FFF;
            border-radius: 16px;

            .nx-popup-container {
                max-width: 300px;
                text-align: center;
                margin: 0 auto;

                .nx-popup-header {
                    padding: 32px 16px 12px;
                    
                    h3.nx-popup-title {
                        font-size: 22px;
                        line-height: 110%;
                        font-weight: 700;
                        color: #45290E;
                    }
                }
                .nx-popup-content {
                    .nx-popup-description {
                        font-size: 14px;
                        line-height: 120%;
                        color: #726252;
                        margin-bottom: 24px;
                    }
                    button.nx-popup-primary-button {
                        background: #885729;
                        border: 1px solid #EADFFF;
                        box-shadow: 0px 25.45px 30.55px 0px #9E642E29;
                        margin: 0 0 24px;
                    }
                }
                .nx-popup-footer {
                    background: #FFFEFC;
                }
            }
        }
        &.popup_notification_theme-two {
            background: #FFF;
            border: 1px solid #EAEEF2;
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px #CBD2E4;

            .nx-popup-container {
                .nx-popup-header {
                    padding: 16px;
                    h3.nx-popup-title {
                        font-size: 20px;
                        line-height: 110%;
                        font-weight: 600;
                        color: #2A385E;
                    }
                }
                .nx-popup-content {
                    padding: 0 16px;

                    iframe {
                        border-radius: 8px;
                    }
                    .nx-popup-button.nx-popup-primary-button {
                        background: #6A4BFF;
                        border: 1px solid #EADFFF;
                        box-shadow: 0px 25.45px 30.55px 0px #8A50E629;
                        margin: 8px 0 12px;
                    }
                }
                .nx-popup-footer {
                    background: #F8F5FC;
                }
            }
        }
        &.popup_notification_theme-three {
            background: #FFF;
            border: 1px solid #EAEEF2;
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px #E4D7CB;

            .nx-popup-container {
                min-width: 300px;
                display: flex;
                flex-direction: column;

                .nx-popup-header {
                    margin: 3px 3px 0 3px;
                    padding: 14px 16px;
                    border-radius: 12px 12px 0 0;
                    background: #FE5900;

                    h3.nx-popup-title {
                        font-size: 16px;
                        line-height: 110%;
                        font-weight: 600;
                        color: #FFFFFF;
                    }
                }
                .nx-popup-content {
                    padding: 20px 20px 16px;

                    iframe {
                        border-radius: 8px;
                    }
                    .nx-popup-button.nx-popup-primary-button {
                        background: #6A4BFF;
                        border: 1px solid #EADFFF;
                        box-shadow: 0px 25.45px 30.55px 0px #8A50E629;
                        margin: 8px 0 12px;
                    }
                }
                .nx-popup-footer {
                    background: #FFF8F4;
                }
            }
        }
        .nx-popup-container {
            button.nx-popup-close.top-right {
                position: absolute;
                right: -32px;
                top: -0px;
                background: #FFF;
                color: #535D77;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                box-shadow: 0px 0px 4px 0px #CBD2E4;

                svg path {
                    stroke: #535D77;
                }

            
            }
            .nx-popup-header {
            }
            .nx-popup-content {
                padding: 0 16px;
                .nx-popup-button.nx-popup-primary-button {
                    font-size: 14px;
                    font-weight: 500;
                    color: #FFF;
                    border-radius: 8px;
                    min-height: 42px;
                    padding: 12px 16px;
                    margin: 8px 0 12px;
                }
            }
            .nx-popup-footer {
                padding: 8px 16px;
                line-height: 120%;
                border-radius: 0 0 16px 16px;

                .nx-popup-branding span {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 120%;
                    color: #7884A0;
                }
            }
        }
    } 
} 