.nx-container {
    margin-left: 30px;
    margin-bottom: 30px;

    .nx-popup {
        position: relative;

        &.popup_notification_theme-one {
            background: linear-gradient(180deg, #FFEAD7 0%, #FFFCF5 100%);
            box-shadow: 0px 4px 4px 0px #E4DBCB;
            border: 4px solid #FFF;
            border-radius: 16px;

            .nx-popup-container {
                max-width: 300px;
                text-align: center;
                margin: 0 auto;

                .nx-popup-header {
                    padding: 32px 16px 12px;
                    
                    h3.nx-popup-title {
                        font-size: 22px;
                        line-height: 110%;
                        font-weight: 700;
                        color: #45290E;
                    }
                }
                .nx-popup-content {
                    .nx-popup-description {
                        font-size: 14px;
                        line-height: 120%;
                        color: #726252;
                        margin-bottom: 24px;
                    }
                    button.nx-popup-primary-button {
                        background: #885729;
                        border: 1px solid #EADFFF;
                        box-shadow: 0px 25.45px 30.55px 0px #9E642E29;
                        margin: 0 0 24px;
                    }
                }
                .nx-popup-footer {
                    background: #FFFEFC;
                }
            }
        }
        &.popup_notification_theme-two {
            background: #FFF;
            border: 1px solid #EAEEF2;
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px #CBD2E4;

            .nx-popup-container {
                .nx-popup-header {
                    padding: 16px;
                    h3.nx-popup-title {
                        font-size: 20px;
                        line-height: 110%;
                        font-weight: 600;
                        color: #2A385E;
                    }
                }
                .nx-popup-content {
                    padding: 0 16px;

                    iframe {
                        border-radius: 8px;
                    }
                    .nx-popup-button.nx-popup-primary-button {
                        background: #6A4BFF;
                        border: 1px solid #EADFFF;
                        box-shadow: 0px 25.45px 30.55px 0px #8A50E629;
                        margin: 4px 0 12px;
                    }
                }
                .nx-popup-footer {
                    background: #F8F5FC;
                }
            }
        }
        &.popup_notification_theme-three {
            background: #FFF;
            border: 1px solid #EAEEF2;
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px #E4D7CB;

            .nx-popup-container {
                min-width: 300px;
                display: flex;
                flex-direction: column;

                .nx-popup-header {
                    margin: 3px 3px 0 3px;
                    padding: 14px 16px;
                    border-radius: 12px 12px 0 0;
                    background: #FE5900;

                    h3.nx-popup-title {
                        font-size: 16px;
                        line-height: 110%;
                        font-weight: 600;
                        color: #FFFFFF;
                    }
                }
                .nx-popup-content {
                    padding: 20px 20px 16px;

                    .nx-popup-description {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        margin-bottom: 0;
                        .des-item-wrap {
                            background: linear-gradient(90deg, #FFF3ED 0%, #FFFFFF 100%);
                            padding: 12px 16px;
                            border-radius: 8px;
                            display: flex;
                            flex-direction: column;
                            gap: 4px;

                            h3 {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 150%;
                                color: #092161;
                            }
                            p {
                                font-size: 14px;
                                line-height: 150%;
                                color: #535D77;
                                margin: 0;
                            }
                        }
                    }
                    .nx-popup-actions {
                        display: none;
                    }
                }
                .nx-popup-footer {
                    background: #FFF8F4;
                }
            }
        }
        &.popup_notification_theme-four,
        &.popup_notification_theme-five {
            background: linear-gradient(270deg, #D4ECFF 31.24%, #F0E5FF 100%);
            border: 1px solid #EAEEF2;
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px #CBD2E4, 0px 4px 20px 5px #FFFFFF80 inset;
            
            .nx-popup-container {
                .nx-popup-header {
                    padding: 24px 24px 12px;

                    h3.nx-popup-title {
                        font-size: 20px;
                        line-height: 110%;
                        font-weight: 600;
                        color: #092161;
                    }
                }
                .nx-popup-content {
                    min-width: 300px;
                    padding: 0 24px;

                    .nx-popup-description {
                        font-size: 14px;
                        line-height: 130%;
                        color: #535D77;
                        margin-bottom: 12px;
                        max-width: 290px;
                    }

                    input {
                        background: #FFF;
                        border: 1px solid #EFF6FC;
                        border-radius: 8px;
                        padding: 12px;
                        font-size: 12px;
                        line-height: 150%;
                        color: #092161;
                        width: 100%;
                        margin-bottom: 12px;
                    }
                    textarea {
                        background: #FFF;
                        border: 1px solid #EFF6FC;
                        border-radius: 8px;
                        padding: 12px;
                        font-size: 12px;
                        line-height: 150%;
                        color: #092161;
                        width: 100%;
                        height: 80px;
                        resize: none;
                        margin-bottom: 12px

                    }
                    .nx-popup-button.nx-popup-primary-button {
                        border: 1px solid #FFFFFF80;
                        box-shadow: none;
                        background: radial-gradient(96.55% 96.55% at 49.23% 0%, #EDE4FF 0%, #7484FF 100%);
                        border-radius: 6px;
                        margin: 0 0 18px;
                    }
                }
                .nx-popup-footer {
                    background: #FFFFFF;
                }
            } 
        }
        &.popup_notification_theme-six {
            background: #FFF;
            border: 1px solid #F0EAE7;
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px #CBD2E4;
            
            .nx-popup-container {
                .nx-popup-header {
                    padding: 40px 30px 80px;
                    background: #FF6E20;
                    border-radius: 16px 16px 0 0;

                    h3.nx-popup-title {
                        font-size: 28px;
                        line-height: 110%;
                        font-weight: 600;
                        color: #FFF;
                        max-width: 230px;
                    }
                }
                .nx-popup-content {
                    min-width: 300px;
                    padding: 20px 24px 16px;

                    .nx-popup-description {
                        display: none;
                    }

                    input {
                        background: #FAFBFC;
                        border: 1px solid #EAEEF2;
                        border-radius: 8px;
                        padding: 12px;
                        font-size: 12px;
                        line-height: 150%;
                        color: #092161;
                        width: 100%;
                        margin-bottom: 12px;
                    }
                    textarea {
                        background: #FAFBFC;
                        border: 1px solid #EAEEF2;
                        border-radius: 8px;
                        padding: 12px;
                        font-size: 12px;
                        line-height: 150%;
                        color: #092161;
                        width: 100%;
                        height: 80px;
                        resize: none;
                        margin-bottom: 12px

                    }
                    .nx-popup-button.nx-popup-primary-button {
                        border: 1px solid #FFFFFF80;
                        box-shadow: none;
                        color: #FFF;
                        background: radial-gradient(51.87% 101.72% at 49.46% -5.17%, #FFD6C1 0%, #F3661A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                        border-radius: 6px;
                        margin: 0;
                    }
                }
                .nx-popup-footer {
                    background: #FFF4EE;
                }
            } 
        }
        &.popup_notification_theme-seven {
            background: #FFF;
            border: 1px solid #EAEEF2;
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px #CBD2E4;
            
            .nx-popup-container {
                .nx-popup-header {
                    padding: 24px;
                    padding-bottom: 4px;

                    h3.nx-popup-title {
                        font-size: 20px;
                        line-height: 110%;
                        font-weight: 600;
                        color: #092161;
                    }
                }
                .nx-popup-content {
                    min-width: 300px;
                    padding: 0 24px 16px;

                    .nx-popup-description {
                        font-size: 12px;
                        line-height: 130%;
                        max-width: 234px;
                        color: #535D77;
                        margin-bottom: 24px;
                    }

                    input {
                        background: #FAFBFC;
                        border: 1px solid #EAEEF2;
                        border-radius: 8px;
                        padding: 12px;
                        font-size: 12px;
                        line-height: 150%;
                        color: #092161;
                        width: 100%;
                        margin-bottom: 12px;
                    }
                    textarea {
                        background: #FAFBFC;
                        border: 1px solid #EAEEF2;
                        border-radius: 8px;
                        padding: 12px;
                        font-size: 12px;
                        line-height: 150%;
                        color: #092161;
                        width: 100%;
                        height: 80px;
                        resize: none;
                        margin-bottom: 12px

                    }
                    .nx-popup-button.nx-popup-primary-button {
                        border: 1px solid #FFFFFF80;
                        box-shadow: none;
                        color: #FFF;
                        background: radial-gradient(51.87% 101.72% at 49.46% -5.17%, #FFD6C1 0%, #3570D5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                        border-radius: 6px;
                        margin: 0;
                    }
                }
                .nx-popup-footer {
                    background: #EEF4FF;
                }
            } 
        }
        .nx-popup-container {
            button.nx-popup-close.top-right {
                position: absolute;
                right: -32px;
                top: -0px;
                background: #FFF;
                color: #535D77;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                box-shadow: 0px 0px 4px 0px #CBD2E4;

                svg path {
                    stroke: #535D77;
                }

            
            }
            .nx-popup-content {
                padding: 0 16px;

                .nx-popup-description {
                    font-size: 14px;
                    line-height: 130%;
                    color: #535D77;
                    margin-bottom: 12px;
                }
                .nx-popup-button.nx-popup-primary-button {
                    font-size: 14px;
                    font-weight: 500;
                    color: #FFF;
                    border-radius: 8px;
                    min-height: 42px;
                    padding: 12px 16px;
                    margin: 8px 0 12px;
                }
            }
            .nx-popup-footer {
                padding: 8px 16px;
                line-height: 120%;
                border-radius: 0 0 16px 16px;

                .nx-popup-branding span {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 120%;
                    color: #7884A0;
                }
            }
        }
    } 
} 