&.themes-conversions_conv-theme-ten {
    .notificationx-content {
        font-family: "DM Sans";
        width: 100%;
        display: grid;
        grid-template-columns: repeat( 3, auto );
        column-gap: 15px;
        margin-right: 0;
        margin-left: 0;
        .nx-first-row {
            grid-column-start: 1;
            grid-column-end: 3;
            span {
                font-size: 16px;
                line-height: 21px;
                font-weight: 500;
                span:nth-child(1) {
                    color: #344054;
                }
                span:nth-child(2) {
                    color: #98A2B3;
                    font-weight: 400;
                }
            }
        }
        .nx-second-row {
            grid-column-start: 1;
            grid-column-end: 3;
            span {
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                span:nth-child(1) {
                    color: #5D3AB4;
                }
            }
        }
        .nx-third-row {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 4;
            span {
                span:nth-child(1) {
                    font-size: 12px;
                    color: #98A2B3;
                    font-weight: 500;
                }
            }
            .nx-branding {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
    }
}