&.themes-review-comment-2,
&.themes-review-comment-2,
&.themes-theme-seven-free {
    border-radius: 100px;
    &:not(.img-position-right) {
        .notificationx-content:first-child {
            margin-left: 25px;
        }
    }
    &.img-position-right {
        .notificationx-content:first-child {
            margin-right: 25px;
        }
    }
    .notificationx-inner {
        border-radius: 100px;
    }
    .notificationx-image {
        &:not(.image-circle) {
            padding: 19px;
        }
    }
    .notificationx-image {
        border-radius: 100px !important;
        padding: 8px;
        background: #fae8f4;
        position: relative;
        overflow: initial;
        &:after {
            position: absolute;
            top: 5px;
            left: 5px;
            font-family: "FontAwesome";
            content: "\f10d";
            background: #ff66bc;
            height: 20px;
            width: 20px;
            border-radius: 50px;
            border: 2px solid #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 7px;
            box-shadow: 0 5px 10px rgba(#ff66bc, 0.4);
        }
    }
    .notificationx-close {
        align-self: center;
        margin-top: 0px;
    }
    &.img-position-right {
        div.notificationx-close {
            order: 0;
            padding: 10px 10px 10px 15px;
        }
        div.notificationx-content {
            order: 1;
        }
        div.notificationx-image {
            order: 2;
        }
    }
    .notificationx-link {
        border-radius: 100px;
    }
}

&.themes-woocommerce_sales_conv-theme-seven,
&.themes-conversions_conv-theme-seven {
    border-radius: 3px;
    .notificationx-image {
        position: relative;
        overflow: initial !important;
        &:after {
            position: absolute;
            top: -10px;
            left: -10px;
            font-family: "FontAwesome";
            content: "\f07a";
            background: #45c9b1;
            height: 20px;
            width: 20px;
            border-radius: 50px;
            border: 2px solid #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 7px;
            box-shadow: 0 5px 10px rgba(#45c9b1, 0.4);
        }
    }
}
