#manager_tab {
    .nx-cookies-list-action {
        position: absolute;
        transform: translateX(-100%);
        background: #fff;
        border-radius: 4px;
        z-index: 999;
        box-shadow: 0px 0 14px 0px rgba(0,0,0,0.2);
        margin: 0;
        padding: 10px;
        // top: -10px;
        // left: 40px;
        ul {
            margin: 0;
            padding: 8px 0;
            li {
                margin-bottom: 0;
                border-bottom: 1px solid rgba(230,239,251,0.3);
                a {
                    text-align: left;
                    padding: 10px 25px 10px 20px;
                    white-space: nowrap;
                    color: #495463;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 0.05em;
                    display: flex;
                    align-items: center;
                    line-height: 0;
                    gap: 10px;
                    &:hover {
                        cursor: pointer;
                        color: #6a4bff;
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 13px;
        //     left: auto;
        //     right: -7px;
        //     border-top: 7px solid transparent;
        //     border-bottom: 7px solid transparent;
        //     border-left: 7px solid #fff;
        // }
    }
}
