.nx-admin-new-wrapper {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        display: inline-flex;
    }

    a:focus {
        box-shadow: none;
        outline: 0;
    }

    button {
        cursor: pointer;
    }

    img {
        max-width: 100%;
    }

    // padding: 20px 32px;
    background: #F6F7FE;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1686px;
    margin: 0 auto;

    .nx-content-details {
        h2 {
            font-size: 32px;
            color: #092161;
            line-height: 35px;
            font-weight: 600;
            margin: 0;

            @media only screen and (max-width: 1280px) {
                font-size: 26px;
                color: #092161;
                line-height: 30px;
            }
        }

        h4 {
            font-size: 24px;
            line-height: 26px;
            font-weight: 600;
            color: #092161;
            margin: 0;
        }

        h5 {
            font-size: 16px;
            line-height: 1.2em;
            font-weight: 700;
            color: #092161;
            margin: 0;
        }

        h6 {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2em;
            color: #092161;
            margin: 0;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #778095;
            margin: 0;
        }

        .nx-primary-btn {
            background-color: #6A4BFF;
            color: #fff;
            border: 1px solid #6A4BFF;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            min-height: 48px;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #5414d0;
            }
        }

        .nx-secondary-btn {
            background-color: transparent;
            color: #6A4BFF;
            border: 1px solid #6A4BFF;
            padding: 8px 12px;
            font-size: 12px;
            line-height: 1em;
            font-weight: 500;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            min-height: 32px;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;


            svg path {
                transition: 0.3s ease-in-out;
            }

            &:hover {
                background-color: #5414d0;
                color: #FFFFFF;
                border: 1px solid #5414d0;
                box-shadow: 0 15px 25px -5px rgba(86, 20, 213, 0.3);

                svg path {
                    stroke: #FFFFFF;
                }
            }
        }

        a.nx-resource-link {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            color: #6A4BFF;
            display: flex;
            gap: 2px;
        }
    }

    .nx-admin-header {
        padding-top: 32px;
        display: flex;
        align-items: center;
        gap: 32px;

        a.nx-add-new-btn {
            background-color: #6A4BFF;
            color: #fff;
            border: none;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            min-height: 48px;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #5414d0;
                box-shadow: 0 15px 25px -5px rgba(86, 20, 213, 0.3);
            }
        }
    }

    .nx-admin-content-wrapper {
        padding: 24px;
        background: #fff;
        border-radius: 12px;

        &.nx-started {
            padding: 0;
            background: linear-gradient(90deg, #FFFFFF 53.81%, #E8E4FC 100%);
        }

        .nx-started-wrapper {
            padding: 24px;
            display: flex;
            align-items: center;
            gap: 64px;
            background: url(../../../assets/admin/images/new-img/get-started-bg.png);
            background-repeat: no-repeat;
            background-position: right;

            .nx-video-widget {
                min-width: 380px;
            }

            .nx-started-content {
                max-width: 788px;
                // display: flex;
                // flex-direction: column;
                // gap: 0;
                // justify-content: flex-start;
                // align-items: flex-start;


                h2 {
                    padding-bottom: 16px;
                }

                p {
                    padding-bottom: 32px;
                }

                a.nx-resource-link {
                    margin-top: 12px;
                }
            }
        }
    }

    .nx-analytics-wrapper {
        display: flex;
        gap: 32px;

        .nx-analytics-content-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 32px;
            background: #fff;
            border-radius: 10px;

            img {
                max-width: 100%;
                padding: 15px 18px;
                background: #F6F7FE;
                border: 1px solid #F0F6FF;
                border-radius: 10px;
                height: 68px;
            }

            .analytics-counter {
                span.nx-counter-label {
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #778095;
                    margin: 0;
                    padding-bottom: 16px;
                    display: inline-block;
                }

                h3.nx-counter-number {
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 30px;
                    color: #092161;
                    margin: 0;
                }
            }


            /*toggle css



            .toggle-wrap {
                position: relative;
                display: inline-block;
                width: 32px;
                height: 16px;
            }

            .toggle-wrap input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #8D92B1;
                border-radius: 17px;
                transition: ease-in-out .35s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 14px;
                width: 14px;
                left: 1px;
                bottom: 1px;
                background-color: #fff;
                border-radius: 50%;
                transition: ease-in-out .35s;
                box-shadow: 0 1px 2px 0 #1018280F, 0 1px 3px 0 #1018281A;
            }

            input:checked+.slider {
                background-color: #6A4BFF;
            }

            input:checked+.slider:before {
                transform: translateX(16px);
            }

            */
        }
    }

    .nx-notifications-wrapper {

        .nx-admin-items {
            // overflow: auto;

            .nx-list-table-wrapper {
                min-width: 1180px;
                margin-top: 0;


                thead {
                    background: transparent;

                    td {
                        font-size: 16px;
                        line-height: 24px;
                        color: #7C8DB5;
                        background-color: #F6F7FE;
                        height: auto;
                        padding: 18px 20px;

                        @media only screen and (max-width: 1600px) {
                            padding: 12px 16px;

                            &:nth-child(2) {
                                width: 180px;
                            }
                        }

                        &:nth-child(2) {
                            border-radius: 5px 0 0 0;
                        }

                        &:nth-child(1) {
                            display: none;
                        }

                        &:nth-child(4) {
                            width: 80px;
                        }

                        &:nth-child(5) {
                            width: 140px;
                        }

                        &:nth-child(6) {
                            width: 70px;
                        }

                        &:last-child {
                            width: 70px;
                            border-radius: 0 4px 0 0;
                        }
                    }
                }

                tbody {

                    tr {
                        background: transparent;

                        &:last-child td {
                            &:nth-child(2) {
                                border-radius: 0 0 0 5px;
                            }

                            &:last-child {
                                border-radius: 0 0 5px 0;
                            }
                        }

                        td {
                            font-size: 16px;
                            line-height: 24px;
                            color: #092161;
                            background-color: #F6F7FE;
                            padding: 16px 20px;

                            @media only screen and (max-width: 1600px) {
                                padding: 12px 16px;

                                &:nth-child(2) {
                                    width: 180px;
                                }

                            }

                            &:nth-child(1) {
                                display: none;
                            }

                            &:nth-child(4) {
                                width: 80px;
                            }

                            &:nth-child(5) {
                                width: 140px;
                            }

                            &:nth-child(6) {
                                width: 70px;
                            }

                            &:last-child {
                                width: 70px;
                            }

                            .nx-admin-preview {
                                height: auto;
                                border: none;
                                background-color: transparent;
                                display: inline-flex;
                                padding: 0;
                                box-sizing: border-box;
                                border-radius: 0;
                                align-items: center;
                                justify-content: flex-start;
                                width: 200px;
                            }

                            a {
                                color: #092161;
                            }

                            .nx-admin-actions-wrapper {

                                .nx-admin-action-button {
                                    a {
                                        background-color: #efeffe;
                                        border: 1px solid #e9e8fe;
                                        border-radius: 4px;
                                        line-height: 0;
                                        padding: 0;
                                        width: 38px;
                                        height: 38px;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }

                                .nx-admin-actions-lists {
                                    left: 18px;

                                    @media only screen and (max-width: 1600px) {

                                        left: 10px;
                                    }

                                    @media only screen and (max-width: 782px) {

                                        left: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .notifications-not-found {
            max-width: 450px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 30px;
            background-color: transparent !important;

            h5 {
                padding-bottom: 12px;
            }

            p {
                padding-bottom: 16px;
            }

            button.nx-primary-btn {
                font-size: 12px;
                display: inline-flex;
                padding: 6px 12px;
                min-height: 32px;

                img {
                    width: 16px;
                }
            }
        }
    }

    .nx-admin-content-wrapper {
        flex: 1;

        &.notificationx-items {
            margin-bottom: 0;
        }

        .nx-content-details.header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            margin-bottom: 16px;
        }
    }

    .nx-analytics-integration-wrapper {
        display: flex;
        gap: 32px;

        .nx-analytics-graph-main-wrapper {
            flex: 65%;
            border-radius: 6px;
            position: relative;
            padding-bottom: 0;
            .nx-analytics-overlay {
                position: absolute;
                inset: 0;
                background: #16007E1A;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;

                .nx-get-pro {
                    background-color: #FF9437;
                    color: #fff;
                    border: 1px solid #FF9437;
                    padding: 12px 16px;
                    font-size: 16px;
                    font-weight: 500;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    min-height: 48px;
                    box-shadow: 0px 0px 10px 2px #FFFFFF1A inset;
                    box-sizing: border-box;
                    transition: 0.3s ease-in-out;
                }
            }

            .nx-analytics-filter-wrapper {
                margin-bottom: 24px;

                .nx-analytics-filter {
                    gap: 12px;
                    margin: 0;
                    padding: 0;

                    .nx-analytic-select-wrapper {
                        width: 100%;
                        min-width: 300px;
                        max-width: 300px;
                        margin: 0;
                        padding: 0;

                        .analytics-select__control {
                            min-height: 42px;
                            padding: 0px 0px 0px 12px;

                            .analytics-select__value-container {
                                gap: 4px;

                                .analytics-select__multi-value {
                                    background: rgba(106, 75, 255, 0.1);
                                    border: 1px solid rgba(106, 75, 255, 0.02);
                                    border-radius: 30px;
                                    padding-left: 0;
                                    padding-right: 0;
                                    margin: 0;

                                    .analytics-select__multi-value__label {
                                        padding: 2px 6px;
                                    }

                                    .analytics-select__multi-value__remove {
                                        padding-left: 0;
                                    }

                                }
                            }
                        }

                        .analytics-select__control:focus-within {
                            border-color: #e6effb;
                        }

                        .analytics-select__menu {
                            z-index: 999;
                            border-radius: 0;
                            margin-top: 10px;
                            border-radius: 5px;

                            option {
                                padding: 6px 8px !important;
                            }
                        }
                    }

                    .wprf-control-wrapper {
                        .wprf-control-field {
                            .components-button {
                                min-height: 42px;
                                box-sizing: border-box;
                                padding: 4px 18px;
                                border: 1.5px solid #e6effb;
                                border-radius: 5px;
                                background: #fff;
                                font-size: 14px;
                                font-weight: 500;
                                color: #6a4bff;
                                cursor: pointer;
                            }
                        }
                    }

                    >* {
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            .nx-analytics-graph-wrapper {
                padding: 0;

                .apexcharts-toolbar {
                    padding: 0 6px 2px;

                    .apexcharts-menu-open {
                        .apexcharts-menu-item {
                            text-align: center;
                            padding: 6px 7px;
                            font-size: 12px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .nx-integration-wrapper {
            flex: 35%;
            display: flex;
            flex-direction: column;


            .nx-integrations-body {
                display: flex;
                flex: 1;

                img {
                    width: 100%;
                    height: 100%;

                }
            }
        }
    }

    .nx-other-details-wrapper {
        display: flex;
        gap: 32px;

        .nx-notification-type-wrapper {
            flex: 50%;

            .nx-notification-type-header {
                h4 {
                    margin-bottom: 4px;
                }
            }

            .nx-notification-type-body {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;

                .nx-body-content-wrapper {
                    padding: 16px;
                    border: 1px solid #F0F6FF;
                    border-radius: 6px;
                    background: linear-gradient(180deg, #F9F8FC 0%, #FFFFFF 100%);
                    display: flex;
                    flex-direction: column;

                    img {
                        margin-bottom: 6px;
                        max-width: 100%;
                    }

                    .nx-content-details {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        flex: 1;
                        gap: 0;
                        margin-bottom: 0;

                        h5 {
                            font-weight: 500;
                            padding-bottom: 8px;
                        }

                        p {
                            font-size: 14px;
                            padding-bottom: 16px;
                            flex: 1;
                        }

                        .nx-secondary-btn {
                            &:hover {
                                background-color: #6A4BFF;
                                color: #FFFFFF;
                                border: 1px solid #6A4BFF;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }



        .nx-resource-stories-wrapper {
            display: flex;
            flex-direction: column;
            gap: 32px;
            flex: 50%;

            .nx-resource-wrapper {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .nx-resource-body {
                    display: flex;
                    flex-direction: column;

                    .nx-resource-content {
                        display: inline-flex;
                        gap: 8px;
                        align-items: center;
                        padding: 10px 0;
                        border-bottom: 1px solid #F0F6FF;
                        cursor: pointer;

                        a,
                        svg path {
                            transition: ease-in-out .25s;
                            fill: #ADA6D6;
                            color: #ADA6D6;
                            font-size: 16px;

                        }

                        &:hover {
                            a {
                                color: #6A4BFF;
                            }

                            svg path {
                                fill: #6A4BFF;
                            }

                        }

                        &:last-child {
                            border-bottom: none;
                        }

                        a {
                            display: inline-flex;
                        }
                    }
                }

            }

            .nx-stories-wrapper {
                .nx-stories-body {
                    display: flex;
                    gap: 24px;

                    .nx-stories-content {
                        border: 1px solid #F0F6FF;
                        border-radius: 6px;
                        display: flex;
                        flex-direction: column;
                        flex: 1;

                        img.stories-bg {
                            border-radius: 6px;
                            max-width: 100%;
                        }

                        .nx-content-details {
                            padding: 12px 16px 20px;

                            h5 {
                                font-weight: 500;
                                line-height: 1.2em;
                                margin-bottom: 6px;
                            }

                            p {
                                font-size: 12px;
                                margin-bottom: 16px;
                            }

                            .nx-author-details {
                                display: flex;
                                align-items: center;
                                gap: 14px;

                                h6 {
                                    margin-bottom: 4px;
                                }

                                p {
                                    font-size: 12px;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nx-more-docs-wrapper {
        display: flex;
        gap: 32px;
        margin-top: 18px;

        .nx-docs-content-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 32px;
            background: #FFFFFF;
            border: 1px solid #F0F6FF;
            border-radius: 12px;

            &:first-child {
                background: linear-gradient(238.66deg, #ECE8FC 0%, #FFFFFF 57.84%);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: 0;
                    background: url(../../../assets/admin/images/new-img/show-love.png);
                    z-index: 999;
                    width: 64px;
                    height: 69px;
                    background-repeat: no-repeat;
                    background-position: top center;
                }
            }

            .img-wrap {
                width: 56px;
                height: 56px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #6A4BFF0D;
                border-radius: 6px;
                margin-bottom: 24px;
            }

            h3 {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.1em;
                color: #092161;
                margin: 0;
                margin-bottom: 16px;
            }

            p {
                font-size: 14px;
                padding-bottom: 32px;
                flex: 1;
            }
        }
    }

    .notification--wrapper {
        position: fixed;
        right: 48px;
        bottom: 48px;
        height: 64px;
        aspect-ratio: 1;
        background: #FFFFFF;
        box-shadow: 0px 18px 24px 8px #170A531F;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 999;

        img {
            height: 44px;
            aspect-ratio: 1;
            visibility: visible;
            opacity: 1;
            transition: all .3s ease-in-out;
            transform: scale(.8);
        }

        .nx-dashboard-floating-actions {

            .floating-item {
                position: absolute;
                right: 8px;
                opacity: 0;
                visibility: hidden;
                transform: scale(0);
                transition: all .2s ease-in-out;

                &.item-1 {
                    bottom: 268px;

                }

                &.item-2 {
                    bottom: 204px;
                }

                &.item-3 {
                    bottom: 142px;
                }

                &.item-4 {
                    bottom: 80px;
                }

                &:last-child {
                    right: 0;
                    bottom: 0;
                }

                &:first-child .nx-items--icon {
                    background: #FF9940;
                }

                .nx-items--details {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    color: #092161;
                    padding: 8px 16px;
                    background: #FFFFFF;
                    border-radius: 4px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: calc(100% + 16px);
                    white-space: nowrap;
                    box-shadow: 0px 18px 24px 8px rgba(23, 10, 83, 0.1215686275);
                    transition: all .2s ease-out;
                }

                .nx-items--icon {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 48px;
                    height: 48px;
                    background: #FFFFFF;
                    border-radius: 50%;
                    box-shadow: 0px 18px 24px 8px rgba(23, 10, 83, 0.215686275);
                }

                .nx-close {
                    height: 64px;
                    aspect-ratio: 1;
                    background: #FFFFFF;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 99999;

                    img {
                        width: 32px;
                        opacity: 0;
                        visibility: hidden;
                        transform: scale(.2);
                        transition: all .4s ease-in-out;
                    }
                }
            }
        }

        &.open {
            img {
                visibility: hidden;
                opacity: 0;
                transition: all .3s ease-in-out;
                transform: scale(.2);
            }

            .nx-dashboard-floating-actions {
                .floating-item {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);

                    &.item-1 {
                        transition: transform .2s 105ms;

                    }

                    &.item-2 {
                        transition: transform .2s 70ms;
                    }

                    &.item-3 {
                        transition: transform .2s 35ms;
                    }

                    &.item-4 {
                        transition: transform .2s 0ms;
                    }

                    .nx-close {
                        opacity: 1;
                        visibility: visible;

                        img {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 1280px) {
    .nx-admin-wrapper {
        gap: 24px;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper {
        padding: 16px;
        gap: 30px;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper .nx-started-content {
        max-width: 580px;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper .nx-started-content h2 {
        padding-bottom: 8px;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper .nx-started-content p {
        font-size: 14px;
        padding-bottom: 22px;
    }

    .nx-admin-wrapper .nx-content-details .nx-primary-btn {
        padding: 10px 14px;
        font-size: 14px;
        gap: 4px;
        min-height: 42px;
    }

    .nx-admin-wrapper .nx-analytics-wrapper {
        gap: 20px;

        .nx-analytics-content-wrapper {
            gap: 10px;
            padding: 20px;

            img {
                padding: 10px 10px;
                height: 50px;
            }

            .analytics-counter {

                span.nx-counter-label {
                    font-size: 16px;
                    line-height: 18px;
                    padding-bottom: 8px;
                }

                h3.nx-counter-number {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }
    }

    .nx-admin-wrapper .nx-notifications-wrapper .nx-admin-items .nx-list-table-wrapper thead td {
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px;
    }

    .nx-admin-wrapper .nx-notifications-wrapper .nx-admin-items .nx-list-table-wrapper tbody tr td {
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px;
    }

    .nx-admin-wrapper .nx-analytics-wrapper .nx-analytics-content-wrapper .nx-admin-wrapper .nx-analytics-wrapper .nx-analytics-content-wrapper .analytics-counter .nx-admin-wrapper .nx-admin-content-wrapper {
        padding: 16px;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-content-details.header {
        gap: 12px;
        margin-bottom: 18px;
    }

    .nx-admin-wrapper .nx-content-details h4 {
        font-size: 20px;
        line-height: 22px;

        p {
            font-size: 14px;
        }
    }

    .nx-admin-wrapper .nx-notifications-wrapper .notifications-not-found {
        padding: 20px;
    }

    .nx-admin-wrapper .nx-notifications-wrapper .notifications-not-found h5 {
        padding-bottom: 8px;
    }

    .nx-admin-wrapper .nx-notifications-wrapper .notifications-not-found p {
        padding-bottom: 12px;
    }

    .nx-admin-wrapper .nx-notifications-wrapper .notifications-not-found button.nx-primary-btn {
        min-height: 30px;
    }

    .nx-admin-wrapper .nx-analytics-integration-wrapper {
        gap: 16px;
        flex-wrap: wrap;
    }

    .nx-admin-wrapper .nx-analytics-integration-wrapper {
        gap: 24px;
    }

    .nx-admin-wrapper .nx-other-details-wrapper {
        gap: 24px;
    }

    .nx-notification-type-header {
        flex-wrap: wrap;

        .header-content-ex {
            max-width: 294px;
        }
    }

    .nx-admin-wrapper .nx-other-details-wrapper .nx-notification-type-wrapper .nx-notification-type-body {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .nx-admin-wrapper .nx-other-details-wrapper .nx-resource-stories-wrapper {
        gap: 24px;

        .nx-resource-wrapper {
            .nx-resource-body {
                .nx-resource-content {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .nx-admin-wrapper .nx-other-details-wrapper .nx-resource-stories-wrapper .nx-stories-wrapper .nx-stories-body {
        gap: 16px;
        flex-direction: column;
    }

    .nx-admin-wrapper .nx-more-docs-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 0;
    }

    .nx-admin-wrapper .nx-more-docs-wrapper .nx-docs-content-wrapper {
        padding: 20px;
    }

    .nx-admin-wrapper .nx-more-docs-wrapper .nx-docs-content-wrapper h3 {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .nx-admin-wrapper .nx-more-docs-wrapper .nx-docs-content-wrapper p {
        font-size: 12px;
        padding-bottom: 24px;
    }

    .nx-admin-wrapper .nx-content-details a.nx-resource-link {
        font-size: 12px;
    }
}


@media only screen and (max-width: 1024px) {
    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .nx-started-wrapper {
        flex-wrap: wrap;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper .nx-video-widget {
        width: 100%;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper .nx-video-widget a {
        width: 100%;
    }

    .nx-admin-wrapper .nx-admin-content-wrapper .nx-started-wrapper .nx-video-widget a img {
        max-width: 100%;
        width: 100%;
    }

    .nx-admin-wrapper .nx-analytics-wrapper {
        gap: 16px;
        display: grid;
    }

    .nx-admin-wrapper .nx-other-details-wrapper {
        gap: 16px;
        flex-wrap: wrap;
    }

    .nx-admin-wrapper .nx-more-docs-wrapper .nx-docs-content-wrapper .img-wrap {
        width: 48px;
        height: 48px;
        margin-bottom: 18px;
    }

    .nx-admin-wrapper .nx-more-docs-wrapper .nx-docs-content-wrapper h3 {
        font-size: 16px;
    }

}