a {
    text-decoration: none;
    display: inline-flex;
}

a:focus {
    box-shadow: none;
    outline: 0;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.nx-admin-wrapper {
    // padding: 20px 32px;
    background: #F6F7FE;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .nx-content-details {
        h2 {
            font-size: 32px;
            color: #092161;
            line-height: 35px;
            font-weight: 600;
            margin: 0;
        }

        h4 {
            font-size: 24px;
            line-height: 26px;
            font-weight: 600;
            color: #092161;
            margin: 0;
        }

        h5 {
            font-size: 16px;
            line-height: 1em;
            font-weight: 700;
            color: #092161;
            margin: 0;
        }

        h6 {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3em;
            color: #092161;
            margin: 0;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #778095;
            margin: 0;
        }

        .nx-primary-btn {
            background-color: #6A4BFF;
            color: #fff;
            border: 1px solid #6A4BFF;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            min-height: 48px;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;
        }

        .nx-secondary-btn {
            background-color: transparent;
            color: #6A4BFF;
            border: 1px solid #6A4BFF;
            padding: 8px 12px;
            font-size: 12px;
            line-height: 1em;
            font-weight: 500;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            min-height: 32px;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;

            // &:hover {
            //     background-color: #6A4BFF;
            //     color: #FFFFFF;
            //     border: 1px solid #6A4BFF;
            // }
        }

        a.nx-resource-link {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            color: #6A4BFF;
            display: inline-flex;
            align-items: center;
            gap: 2px;
        }
    }

    .nx-admin-header {
        padding-top: 32px;
        display: flex;
        align-items: center;
        gap: 32px;

        a.nx-add-new-btn {
            background-color: #6A4BFF;
            color: #fff;
            border: none;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            min-height: 48px;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #5414d0;
                box-shadow: 0 15px 25px -5px rgba(86, 20, 213, 0.3);
            }
        }
    }

    .nx-admin-content-wrapper {
        padding: 24px;
        background: #fff;
        border-radius: 12px;

        &.nx-started {
            padding: 0;
            background: linear-gradient(90deg, #FFFFFF 53.81%, #E8E4FC 100%);
        }

        .nx-started-wrapper {
            padding: 24px;
            display: flex;
            align-items: center;
            gap: 64px;
            background: url(http://localhost:10013/wp-content/plugins/notificationx/assets/admin/images/new-img/get-started-bg.png);
            background-repeat: no-repeat;
            background-position: right;

            .nx-started-content {
                max-width: 788px;
                // display: flex;
                // flex-direction: column;
                // gap: 0;
                // justify-content: flex-start;
                // align-items: flex-start;


                h2 {
                    padding-bottom: 16px;
                }

                p {
                    padding-bottom: 32px;
                }

                a.nx-resource-link {
                    margin-top: 12px;
                }
            }
        }


    }

    .nx-analytics-wrapper {
        display: flex;
        gap: 32px;

        .nx-analytics-content-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 32px;
            background: #fff;
            border-radius: 10px;

            img {
                max-width: 100%;
                padding: 15px 18px;
                background: #F6F7FE;
                border: 1px solid #F0F6FF;
                border-radius: 10px;
                height: 68px;
            }

            .analytics-counter {
                span.nx-counter-label {
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #778095;
                    margin: 0;
                    padding-bottom: 16px;
                    display: inline-block;
                }

                h3.nx-counter-number {
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 30px;
                    color: #092161;
                    margin: 0;
                }
            }
        }
    }

    .nx-notifications-wrapper {

        .nx-notifications-details {
            .notifications-list-header {
                background: #F6F7FE;
                padding: 18px 16px 18px 20px;
                border-radius: 5px 5px 0 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 32px;
                margin-bottom: 4px;

                span.th {
                    font-size: 16px;
                    line-height: 24px;
                    color: #7C8DB5;
                    flex: 1;

                    &:first-child {
                        min-width: 400px;
                    }

                    &:nth-child(2) {
                        min-width: 220px;
                    }

                    &:last-child {
                        max-width: 50px;
                        min-width: 50px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .notifications-list-body {
                .notifications-list-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .notifications-list-items {
                        background: #F6F7FE;
                        padding: 16px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 32px;

                        &:last-child {
                            border-radius: 0 0 5px 5px;
                        }

                        span.td {
                            font-size: 16px;
                            line-height: 24px;
                            color: #092161;
                            flex: 1;

                            .toggle-wrap {
                                position: relative;
                                display: inline-block;
                                width: 32px;
                                height: 16px;
                            }

                            .toggle-wrap input {
                                opacity: 0;
                                width: 0;
                                height: 0;
                            }

                            .slider {
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: #8D92B1;
                                border-radius: 17px;
                                transition: ease-in-out .35s;
                            }

                            .slider:before {
                                position: absolute;
                                content: "";
                                height: 14px;
                                width: 14px;
                                left: 1px;
                                bottom: 1px;
                                background-color: #fff;
                                border-radius: 50%;
                                transition: ease-in-out .35s;
                                box-shadow: 0 1px 2px 0 #1018280F, 0 1px 3px 0 #1018281A;
                            }

                            input:checked+.slider {
                                background-color: #6A4BFF;
                            }

                            input:checked+.slider:before {
                                transform: translateX(16px);
                            }

                            &:first-child {
                                min-width: 400px;
                            }

                            &:nth-child(2) {
                                min-width: 220px;
                            }

                            &:last-child {
                                max-width: 50px;
                                min-width: 50px;
                                display: flex;
                                justify-content: center;
                            }

                            span.td--ex {
                                color: #7C8DB5;
                                display: block;
                            }
                        }

                        span.td.action {
                            img {
                                padding: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .notifications-not-found {
                    max-width: 400px;
                    margin: 0 auto;
                    text-align: center;
                    padding: 30px;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    // gap: 0;

                    h5 {
                        padding-bottom: 12px;
                    }

                    p {
                        padding-bottom: 16px;
                    }

                    button.nx-primary-btn {
                        font-size: 12px;
                        display: inline-flex;
                        padding: 6px 12px;
                        min-height: 32px;

                        img {
                            width: 16px;
                        }
                    }
                }
            }
        }
    }

    .nx-admin-content-wrapper {
        flex: 1;

        .nx-content-details.header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            margin-bottom: 16px;
        }
    }

    .nx-analytics-integration-wrapper {
        display: flex;
        gap: 32px;

        .nx-analytics-graph-wrapper {
            flex: 65%;
            border-radius: 6px;
            position: relative;

            .nx-analytics-overlay {
                position: absolute;
                inset: 0;
                background: #16007E1A;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;

                .nx-get-pro {
                    background-color: #FF9437;
                    color: #fff;
                    border: 1px solid #FF9437;
                    padding: 12px 16px;
                    font-size: 16px;
                    font-weight: 500;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    min-height: 48px;
                    box-shadow: 0px 0px 10px 2px #FFFFFF1A inset;
                    box-sizing: border-box;
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .nx-integration-wrapper {
            flex: 35%;


            .nx-integrations-body {
                img {
                    width: 100%;
                }
            }
        }
    }

    .nx-other-details-wrapper {
        display: flex;
        gap: 32px;

        .nx-notification-type-wrapper {
            flex: 50%;

            .nx-notification-type-header {
                h4 {
                    margin-bottom: 4px;
                }
            }

            .nx-notification-type-body {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;

                .nx-body-content-wrapper {
                    padding: 16px;
                    border: 1px solid #F0F6FF;
                    border-radius: 6px;
                    background: linear-gradient(180deg, #F9F8FC 0%, #FFFFFF 100%);

                    img {
                        margin-bottom: 6px;
                        max-width: 100%;
                    }

                    .nx-content-details {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 0;
                        margin-bottom: 0;

                        h5 {
                            font-weight: 500;
                            padding-bottom: 8px;
                        }

                        p {
                            font-size: 14px;
                            padding-bottom: 16px;
                        }

                        .nx-secondary-btn {
                            &:hover {
                                background-color: #6A4BFF;
                                color: #FFFFFF;
                                border: 1px solid #6A4BFF;
                            }
                        }
                    }
                }
            }
        }


        .nx-resource-stories-wrapper {
            display: flex;
            flex-direction: column;
            gap: 32px;
            flex: 50%;

            .nx-resource-wrapper {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .nx-resource-content {
                    display: inline-flex;
                    gap: 8px;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 1px solid #F0F6FF;
                    cursor: pointer;

                    p,
                    svg path {
                        transition: ease-in-out .25s;
                        fill: #ADA6D6;
                        color: #ADA6D6;
                    }

                    &:hover {
                        p {
                            color: #6A4BFF;
                        }

                        svg path {
                            fill: #6A4BFF;
                        }

                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    span {
                        display: inline-flex;
                    }
                }
            }

            .nx-stories-wrapper {
                .nx-stories-body {
                    display: flex;
                    gap: 24px;

                    .nx-stories-content {
                        border: 1px solid #F0F6FF;
                        border-radius: 6px;

                        img.stories-bg {
                            border-radius: 6px;
                            max-width: 100%;
                        }

                        .nx-content-details {
                            padding: 12px 16px 20px;

                            h5 {
                                font-weight: 500;
                                line-height: 1.2em;
                                margin-bottom: 6px;
                            }

                            p {
                                font-size: 12px;
                                margin-bottom: 16px;
                            }

                            .nx-author-details {
                                display: flex;
                                align-items: center;
                                gap: 14px;

                                h6 {
                                    margin-bottom: 4px;
                                }

                                p {
                                    font-size: 12px;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }


    }

    .nx-more-docs-wrapper {
        display: flex;
        gap: 32px;
        margin-top: 18px;

        .nx-docs-content-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 32px;
            background: #FFFFFF;
            border: 1px solid #F0F6FF;
            border-radius: 12px;

            .img-wrap {
                width: 56px;
                height: 56px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #6A4BFF0D;
                border-radius: 6px;
                margin-bottom: 24px;
            }

            h3 {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.1em;
                color: #092161;
                margin: 0;
                margin-bottom: 16px;
            }

            p {
                font-size: 14px;
                padding-bottom: 32px;
                flex: 1;
            }
        }
    }
}