#notificationx .notificationx-items {
    .nx-admin-items {
        .nx-search-wrapper {
            max-width: 320px;
            input.nx-search-input {
                border: 1px solid #E6EFFB;
                padding: 12px;
                border-radius: 6px;
                font-size: 16px;
                line-height: 150%;
                font-weight: 400;
                color: #535D77;
                margin: 0;
                &:focus,
                &:focus-visible {
                    box-shadow: none;
                    outline: 0;
                }
            }
        }
        table {
            &.wp-list-table {
                border-spacing: 0 4px;
                thead {
                    tr td {
                        font-size: 16px;
                        line-height: 150%;
                        color: #7C8DB5;
                        height: auto;
                        padding: 16px 24px;
                        box-sizing: border-box;

                        &:first-child {
                            display: none;
                        }
                        &:nth-child(2) {
                            width: 8%;
                        }
                        &:nth-child(3) {
                            width: 15%;
                        }
                        &:nth-child(4) {
                            width: 20%;
                        }
                        &:nth-child(5) {
                            width: 27%;
                        }
                        &:nth-child(6) {
                            width: 15%;
                        }
                        &:last-child {
                            width: 15%;
                            text-align: left;
                        }
                    }
                }
                tbody {
                    tr td {
                        font-size: 16px;
                        line-height: 150%;
                        color: #092161;
                        height: auto;
                        padding: 16px 24px;
                        box-sizing: border-box;

                        &:first-child {
                            display: none;
                        }
                        &:nth-child(2) {
                            width: 8%;
                        }
                        &:nth-child(3) {
                            width: 15%;
                        }
                        &:nth-child(4) {
                            width: 20%;
                        }
                        &:nth-child(5) {
                            width: 27%;
                        }
                        &:nth-child(6) {
                            width: 15%;
                        }
                        &:last-child {
                            width: 15%;
                            text-align: left;
                        }
                        .nx-action-buttons {
                            display: flex;
                            gap: 12px;

                            button.nx-btn {
                                border: 1px solid #EBEEF5;
                                border-radius: 3px;
                                background: transparent;
                                font-size: 10px;
                                width: 24px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .nx-admin-items-footer {
            margin-top: 0;
            padding: 16px 0;
            border-top: none;
        }
    }
}

.nx-modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000047;
    padding: 36px;

    .nx-modal {
        width: 640px;
        margin: 0 auto;
        background: #FFF;
        border-radius: 8px;

        .nx-modal-header {
            padding: 16px 24px;
            border-bottom: 1px solid #EBEEF5;
            position: relative;
            h3 {
                font-size: 16px;
                font-weight: 600;
                line-height: 100%;
                color: #092161;
                margin: 0;
            }

            button.nx-modal-close {
                border: none;
                background: transparent;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #535D77;
                font-size: 16px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 24px;
                cursor: pointer;
            }
        }
        .nx-modal-body {
            padding: 24px;
            .nx-entry-field {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                strong {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 150%;
                    color: #535D77;
                    max-width: 80px;
                    min-width: 80px;
                    display: inline-block;
                }
                span {
                    font-size: 14px;
                    line-height: 150%;
                    font-weight: 500;
                    color: #092161;
                    margin-left: 30px;
                }
                .nx-message-content {
                    font-size: 14px;
                    line-height: 150%;
                    color: #092161;
                    margin-top: 4px;
                }
            }
        }

        .nx-modal-footer {
            display: none;
        }
    }
}