#notificationx {
    #notificationx-feedback-wrapper {
        table thead tr > td:nth-child(2) {
            width: 50px;
        }
        table thead tr > td:nth-child(3) {
            width: 80px;
        }
    }
}