/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .fomopress-notification-preview {
    position: fixed;
    right: 20px;
    bottom: 40px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 50px 0px #ddd;
    z-index: 999;
    padding-right: 30px;
}
.fomopress-preview-inner {
    overflow: hidden;
    display: flex;
    align-items: center;
}
.fomopress-preview-inner > div {
    float: left;
}
.fomopress-preview-inner .fomopress-preview-image {
    margin-right: 15px;
}
.fomopress-preview-inner .fomopress-preview-image > img {
    width: 60px;
    display: block;
    height: 60px;
    border-radius: 30px;
}
.fomopress-preview-inner .fomopress-preview-content > span {
    display: block;
}

.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-row {
    line-height: 20px;
}
.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-first-row {
    font-size: 13px;
}
.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-second-row {
    font-size: 14px;
}
.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-third-row {
    font-size: 11px;
}

.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-row.fomopress-highlight {
    font-weight: 700;
}

span.fomopress-preview-close {
    position: absolute;
    right: 6px;
    top: 0px;
    font-weight: 700;
    cursor: pointer;
}

#fomopress_metabox_wrapper {
    background: none;
    border: 0px;
}
#fomopress_metabox_wrapper .handlediv,
#fomopress_metabox_wrapper h2.hndle.ui-sortable-handle {
    display: none;
}

#fomopress_metabox_wrapper .inside {
    padding: 0;
}

.fomopress-metabox-wrapper {}

.fomopress-meta-tab-menu {
    margin-bottom: 30px;
    background: #fff;
}
.fomopress-meta-tab-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fomopress-meta-tab-menu ul li {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.fomopress-meta-tab-menu ul li.active {
    font-weight: 700;
}
/* CONTENT CSS */

.fomopress-meta-tab-contents {
    background: #fff;
}

.fomopress-meta-tab-content {
    display: none;
    padding: 30px;
}

.fomopress-meta-tab-content.active {
    display: block;
}


#fomopress_metabox_wrapper .fomopress-meta-tab-content h2.fomopress-metabox-section-title {
    padding: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.fomopress-info-message-wrapper {
    padding: 0;
}
.fomopress-info-message {
    font-size: 20px;
    padding: 30px;
    border-left: 2px solid orangered;   
}

/*
    Form Input CSS
*/
.fomopress-metabox-section table {
    width: 100%;
}

.fomopress-metabox-section table tr {
    
}
.fomopress-metabox-section table tr th {
    width: 25%;
    text-align: left;
    padding: 15px 15px 15px 0px;
}
.fomopress-metabox-section table tr td {
    width: 75%;
    text-align: left;
    padding: 15px;
}

.fomopress-meta-field, 
.fomopress-media-url {
    padding: 10px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2 !important;
    border-radius: 0px;
    width: 400px;
}

input.fomopress-meta-field:focus,
select.fomopress-meta-field:focus,
input.fomopress-media-url:focus {
    outline: none;
    box-shadow: none;
    border-color: #f2f2f2;
}

select.fomopress-meta-field {
    height: 40px;
}

textarea.fomopress-meta-field {
    height: 150px;
}

input.fomopress-template-field {
    margin: 0;
    border: 0px;
}

/* Group Field */
.fomopress-group-row {}
.fomopress-group-row td.fomopress-control {
    padding-left: 0; 
    padding-right: 0; 
}
.fomopress-group-field-wrapper {}
.fomopress-group-field-wrapper .fomopress-group-field {
    border: 1px solid #f2f2f2;
    margin-bottom: 15px;
}
.fomopress-group-field-wrapper .fomopress-group-field:last-child {
    margin-bottom: 0;
}

.fomopress-group-field-wrapper .fomopress-group-field > h4 {
    margin: 0;
    position: relative;
    padding: 10px;
    color: #000;
}
.fomopress-group-field-wrapper .fomopress-group-field > h4 > div {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 10px;
    top: 0;
}
.fomopress-group-field-wrapper .fomopress-group-field > div.fomopress-group-inner {
    display: none;
    padding: 30px 15px 0;
}
.fomopress-group-field-wrapper .fomopress-group-field.open > div.fomopress-group-inner {
    display: block;   
}

/* Media Fiels */
.fomopress-media-field-wrapper {
    display: flex;
    align-items: center;
}
.fomopress-thumb-container {
    display: none;
}
.fomopress-thumb-container.fomopress-has-thumb {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
}
.fomopress-thumb-container.fomopress-has-thumb > img {
    height: 100px;
}

.fomopress-media-content {}
.fomopress-media-content > input {
    display: block;
    padding: 10px;
    width: 250px;
}

.fomopress-media-button {
    padding: 10px;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    margin-left: 10px;
}

.fomopress-media-button.fomopress-media-remove-button {
    color: red;
    margin-left: 0;
    margin-top: 10px;
}

/* Countdown Timer CSS */
.fomopress-countdown-inputs {
    display: flex;
}

.fomopress-countdown-input > input {
    padding: 15px 10px;
    width: 100px;
    margin-right: 10px;
}