#adminmenu .menu-icon-notificationx img,
.toplevel_page_notificationx .wp-menu-image img {
	width: 20px;
	margin-top: 7px;
	margin-left: 2px;
	padding: 0 !important;
}

.menu-icon-notificationx + .wp-menu-separator {
	display: none;
}