/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.fixed .column-notification_status {
    width: 10%;
}

 #fomopress-notification-preview,
 #fomopress-notification-preview .fomopress-notification-preview-comments,
 #fomopress-notification-preview .fomopress-notification-preview-conversions { 
    display: none;
 }

 #fomopress-notification-preview.fomopress-notification-preview-comments .fomopress-notification-preview-comments,
 #fomopress-notification-preview.fomopress-notification-preview-conversions .fomopress-notification-preview-conversions {
     display: block;
 }

 .fomopress-notification-preview {
    position: fixed;
    right: 20px;
    bottom: 40px;
    background: #fff;
    box-shadow: 0 0 50px 0px #ddd;
    z-index: 999;
}
.fomopress-preview-inner {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-right: 30px;
}
.fomopress-preview-inner > div {
    float: left;
}
.fomopress-preview-inner .fomopress-preview-image.fp-img-left {
    margin-right: 15px;
}
.fomopress-preview-inner .fomopress-preview-image.fp-img-right {
    margin-left: 15px;
}
.fomopress-preview-inner .fomopress-preview-image.fp-img-circle > img {
    border-radius: 30px;
}
.fomopress-preview-inner .fomopress-preview-image.fp-img-rounded > img {
    border-radius: 5px;
}
.fomopress-preview-inner .fomopress-preview-image > img {
    width: 60px;
    display: block;
    height: 60px;
}
.fomopress-preview-inner .fomopress-preview-content > span {
    display: block;
}

.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-row {
    line-height: 1.45;
}
.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-first-row {
    font-size: 13px;
}
.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-second-row {
    font-size: 14px;
}
.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-third-row {
    font-size: 11px;
}

.fomopress-preview-inner .fomopress-preview-content > span.fomopress-preview-row.fomopress-highlight {
    font-weight: 700;
}

span.fomopress-preview-close {
    position: absolute;
    right: 6px;
    top: 0px;
    font-weight: 700;
    cursor: pointer;
}

#fomopress_metabox_wrapper {
    background: none;
    border: 0px;
}
#fomopress_metabox_wrapper .handlediv,
#fomopress_metabox_wrapper h2.hndle.ui-sortable-handle {
    display: none;
}

#fomopress_metabox_wrapper .inside {
    padding: 0;
}

.fomopress-metabox-wrapper {}

.fomopress-meta-tab-menu {
    background: #fff;
    padding: 30px;
}
.fomopress-meta-tab-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fomopress-meta-tab-menu ul li,
.fomopress-builder-menu ul li {
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 15px 25px 15px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: #edeff0;
}

.fomopress-meta-tab-menu ul li:after,
.fomopress-meta-tab-menu ul li:before {
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 25px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
}
.fomopress-meta-tab-menu ul li:after {
    z-index: 1;
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px);
    border-left-color: #fff;
    margin: 0;
}
.fomopress-meta-tab-menu ul li:before {
    z-index: 2;
    border-left-color: #edeff0;
    border-top-width: 25px;
    border-bottom-width: 25px;
}

.fomopress-meta-tab-menu ul li:first-child.fomopress-has-icon {
    padding-left: 25px;
}
.fomopress-meta-tab-menu ul li.fomopress-has-icon > .fomopress-menu-icon {
    margin-right: 10px;
}

.fomopress-meta-tab-menu ul li > span {
    display: inline-block;
    vertical-align: middle;
}

.fomopress-meta-tab-menu ul li img {
    display: block;
}

.fomopress-meta-tab-menu ul li.active,
.fomopress-meta-tab-menu ul li.fp-complete {
    background-color: #6c63ff;
    color: #fff;
}
.fomopress-meta-tab-menu ul li.active > .fomopress-menu-icon,
.fomopress-meta-tab-menu ul li.fp-complete > .fomopress-menu-icon {
    filter: invert(1);
}
.fomopress-meta-tab-menu ul li.active:before,
.fomopress-meta-tab-menu ul li.fp-complete:before {
    border-left-color: #6c63ff;
}
/* CONTENT CSS */

.fomopress-meta-tab-contents {
    background: #fff;
}

.fomopress-meta-tab-content {
    display: none;
    padding: 0px 30px;
    overflow: hidden;
}

.fomopress-meta-tab-content.active {
    display: block;
}
.fomopress-meta-next {
    float: right;
}

.fomopress-metabox-section {
    margin-bottom: 20px;
    border: 1px solid #f7f7f7;
    padding-bottom: 20px;
}

#fomopress_metabox_wrapper .fomopress-meta-tab-content h2.fomopress-metabox-section-title {
    display: block;
    color: #516378;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 0px;
    background: #f8fafb;
    padding: 14px;
    letter-spacing: 2px;
    font-weight: 700;
}

h2.fomopress-metabox-section-title .fomopress-section-reset {
    float: right;
}

.fomopress-group-clone, .fomopress-group-remove {
    text-decoration: none;
    color: #333;
}
.fomopress-group-clone > span, .fomopress-group-remove > span {
    font-size: 18px;
}
.fomopress-group-clone > span {
    color: #5F7EFF;
}
.fomopress-group-remove > span {
    color: #dc4f4b;
}

.fomopress-section-reset > span {
    color: #dc4f4b;
    font-size: 18px;
    cursor: pointer;
}

.fomopress-section-reset > span:hover {
    color: #EF4144;
}

.fomopress-group-field-add {
    background-color: #5F7EFF;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(95,126,255, .5);
    text-shadow: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.fomopress-group-field-add:hover {
    box-shadow: 0 3px 6px rgba(95,126,255, .8);
}

.fomopress-group-field-add > span {
    line-height: 23px;
}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]::before {
    position: absolute;
    bottom: 150%;
    left: calc(50% - 38px);
    margin-bottom: 5px;
    padding: 8px;
    min-width: 60px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    z-index: 9999;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.fomopress-info-message-wrapper {
    padding: 0;
}
.fomopress-info-message {
    font-size: 16px;
    padding: 15px;
    border-left: 2px solid #e61811;
    background-color: #ffdcdc;
    color: #403E3C;
}

/*
    Form Input CSS
*/
.fomopress-metabox-section table {
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
}

.fomopress-metabox-section table tr {
    vertical-align: top;
}
.fomopress-metabox-section table tr th {
    width: 25%;
    text-align: left;
    padding: 15px 15px 15px 0px;
}
.fomopress-metabox-section table tr td {
    width: 75%;
    text-align: left;
    padding: 15px;
}

.fomopress-meta-field, 
.fomopress-media-url {
    padding: 10px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7 !important;
    border-radius: 0px;
    width: 400px;
}

input[type="text"].fomopress-meta-field, input[type="text"].fomopress-settings-field, input[type="number"].fomopress-meta-field, .fomopress-countdown-input > input[type="number"] {
    box-shadow: none;
    border: 1px solid #f2f2f2;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}

input[type="text"].fomopress-meta-field:focus, input[type="text"].fomopress-settings-field:focus, input[type="number"].fomopress-meta-field:focus, .fomopress-countdown-input > input[type="number"]:focus {
    background-color: #fff !important;
    border-color: rgba(108,99,255,.5)!important;
}

input[type="number"].fomopress-meta-field{
    height: auto;
}

input.fomopress-meta-field:focus,
select.fomopress-meta-field:focus,
input.fomopress-media-url:focus {
    outline: none;
    box-shadow: none;
    border-color: #f2f2f2;
}

select.fomopress-meta-field {
    height: 40px;
}

textarea.fomopress-meta-field {
    height: 150px;
}

input.fomopress-template-field {
    margin: 0;
    border: 0px;
}

.fomopress-opt-alert {
    position: relative;
}
.fomopress-opt-alert:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 9999;
}

label.fomopress-adv-checkbox-label {
    background: #fff;
    color: #6c63ff;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 0;
    letter-spacing: 1px;
    border: 1px solid #6c63ff;
    transition: all .3s;
}
label.fomopress-adv-checkbox-label:hover {
    background: #8982ff;
    color: #fff;
    border: 1px solid #6c63ff;
}

.fomopress-adv-checkbox-wrap #fomopress_advance_edit,
.fomopress-adv-checkbox-wrap > input {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}
.fomopress-metabox-section table tr.fomopress-adv_checkbox td {
    padding: 15px 0px;
}

.fomopress-adv-checkbox-wrap > input:checked + label.fomopress-adv-checkbox-label,
.fomopress-adv-checkbox-wrap #fomopress_advance_edit:checked + label.fomopress-adv-checkbox-label {
    background-color: #6c63ff;
    color: #fff;
}

/* Group Field */
.fomopress-group-row {}
.fomopress-group-row td.fomopress-control {
    padding-left: 0; 
    padding-right: 0; 
}
.fomopress-group-field-wrapper {}
.fomopress-group-field-wrapper .fomopress-group-field {
    border: 1px solid #f2f2f2;
    margin-bottom: 15px;
}
.fomopress-group-field-wrapper .fomopress-group-field:last-child {
    margin-bottom: 0;
}

.fomopress-group-field-wrapper .fomopress-group-field > h4 {
    margin: 0;
    position: relative;
    padding: 15px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    background-color: #f8fafb;
}
.fomopress-group-field-wrapper .fomopress-group-field > h4 > div {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 15px;
    top: 0;
}
.fomopress-group-field-wrapper .fomopress-group-field > div.fomopress-group-inner {
    display: none;
    padding: 30px 15px 0;
}
.fomopress-group-field-wrapper .fomopress-group-field.open > div.fomopress-group-inner {
    display: block;   
}

/* Media Fiels */
.fomopress-media-field-wrapper {
    display: flex;
    align-items: center;
}
.fomopress-thumb-container {
    display: none;
}
.fomopress-thumb-container.fomopress-has-thumb {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
}
.fomopress-thumb-container.fomopress-has-thumb > img {
    height: 100px;
}

.fomopress-media-content {}
.fomopress-media-content > input {
    display: block;
    padding: 10px;
    width: 250px;
}

.fomopress-media-button {
    padding: 10px;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    margin-left: 10px;
}

.fomopress-media-button.fomopress-media-remove-button {
    color: red;
    margin-left: 0;
    margin-top: 10px;
}

/* Countdown Timer CSS */
.fomopress-countdown-inputs {
    display: flex;
}

.fomopress-countdown-input > input {
    padding: 5px 10px;
    box-sizing: content-box;
    width: 100px;
    margin-right: 10px;
}

/* Quick Builder CSS */
.fomopress-builder-wrapper {
    padding: 20px;
    margin: 50px 20px 20px 0;
}

.fomopress-builder-content-wrapper.fomopress-tab-content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 50px;
    box-shadow: 0 4px 30px rgba(0,0,0,.07);
    border-radius: 3px;
    border: 25px solid #fff;
}

.fomopress-builder-content select.fomopress-meta-field {
    border-color: rgba(0,0,0, .1);
    background-color: #fff !important;
}

.fomopress-builder-content .fomopress-metabox-section {
    border: none;
}

.fomopress-builder-content .fomopress-single-theme-wrapper {
    margin: 10px;
}

.fomopress-builder-header {
    text-align: center;
}
.fomopress-builder-header > h1 {
    font-size: 2em;
    color: #444;
    margin-bottom: 50px;
}

.fomopress-builder-content .fomopress-metabox-section-title {
    text-align: center;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .035em;
    font-style: italic;
}

.fomopress-builder-content#fomopress-source_tab .quick-builder-submit-btn.btn-prev {
    display: none;
}
.fomopress-builder-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.fomopress-builder-menu ul li  {
    background-color: #fff;
}
.fomopress-builder-menu ul, 
.fomopress-settings-menu ul {
    margin: 0;
    padding: 0;
}

.fomopress-builder-menu ul li {
    padding: 10px 15px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
    position: relative;
}
.fomopress-builder-menu ul li:after {
    position: absolute;
    left: 100%;
    width: 100px;
    height: 10px;
    background: #fff;
    content: "";
    top: 50%;
    margin-top: -5px;
}
.fomopress-builder-menu ul li:last-child:after {
    display: none;
}
.fomopress-builder-menu ul li > span.fomopress-menu-icon { 
    margin-right: 10px;
}
.fomopress-builder-menu ul li > span {
    display: inline-block;
    vertical-align: middle;
}

.fomopress-builder-menu ul li.active, 
.fomopress-builder-menu ul li.fp-complete,
.fomopress-builder-menu ul li.fp-complete:after {
    background-color: #6c63ff;
    color: #fff;
}
.fomopress-builder-menu ul li.active > span.fomopress-menu-icon,
.fomopress-builder-menu ul li.fp-complete > span.fomopress-menu-icon {
    filter: invert(1);
}


.fomopress-builder-menu ul li > span img {
    display: block;
}

.fomopress-builder-content {
    display: none;
}
.fomopress-builder-content.active {
    display: block;
}
.fomopress-builder-hidden {
    display: none;
}

.quick-builder-submit-btn-wrap {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.quick-builder-submit-btn.fomopress-quick-builder-btn {
    flex: 1 1 45%;
    margin: 7px;
}

.quick-builder-submit-btn, .fomopress-meta-next, .fomopress-settings-button {
    background-color: #6648FE;
    color: #fff;
    border: 0;
    padding: 10px 25px;
    border-radius: 3px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0, .3);
    transition: all .3s;
}
.quick-builder-submit-btn:hover, .fomopress-meta-next:hover, .fomopress-settings-button:hover {
    background-color: #6044EA;
    box-shadow: 0 2px 4px rgba(0,0,0, .5);
}

/* Theme Option CSS */
.fomopress-metabox-section table tr.fomopress-theme-field-wrapper > td {
    padding: 0;
}
.fomopress-theme-field-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 -5px;
}

.fomopress-single-theme-wrapper.fomopress-meta-field {
    padding: 0px;
    border: 0;
    background: none;
    width: auto;
    cursor: pointer;
}

.fomopress-single-theme-wrapper > img {
    display: block;
    max-width: 300px;
}

.fomopress-single-theme-wrapper {margin: 0 5px;}

.fomopress-single-theme-wrapper.fomopress-theme-selected {
    position: relative;
    transition: all 0.3s ease 0s;
}

.fomopress-single-theme-wrapper.fomopress-theme-selected:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 4px solid #6c63ff;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

#fomopress-bar_theme .fomopress-single-theme-wrapper.fomopress-meta-field {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
    padding: 5px;
}

#fomopress-bar_theme .fomopress-single-theme-wrapper > img {
    max-width: 1000px;
    width: 100%;
}

/* Custom select2 styles */

.fomopress-control-wrapper .select2-container--default .select2-selection.select2-selection--single {
    background-color: #fff;
    border-color: #ABB9D6;
    height: 40px;
    border-radius: 0;
}

.fomopress-control-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
    font-size: 15px;
    line-height: 40px;
}

.fomopress-control-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

body.fomopress_page_fomopress-builder .select2-dropdown, body.post-type-fomopress .select2-dropdown {
    background-color: #fff;
    color: #262625;
    border-color: #97a1b9;
}

body.fomopress_page_fomopress-builder .select2-container--default .select2-results__option--highlighted[aria-selected], body.fomopress_page_fomopress-builder .select2-container--default .select2-results__option[aria-selected="true"], body.post-type-fomopress .select2-container--default .select2-results__option--highlighted[aria-selected], body.post-type-fomopress .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #6c63ff;
    color: #fff;
}

body.fomopress_page_fomopress-builder .select2-results__option, body.post-type-fomopress .select2-results__option {
    padding: 10px 6px;
}

body.fomopress_page_fomopress-builder .select2-container--default .select2-search--dropdown .select2-search__field, body.post-type-fomopress .select2-container--default .select2-search--dropdown .select2-search__field {
    padding: 8px;
    box-shadow: none;
    border: 1px solid rgba(108,99,255,.5);
}

/* FomoPress Settings Page CSS */
.fomopress-settings-wrap {
    padding: 15px;
}
.fomopress-settings-header {
    height: auto;
    background: #fff;
    border: 1px solid rgba( 0,0,0,0.1 );
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px;
}
.fomopress-settings-header .fps-header-left {
    display: flex;
    align-content: center;
    align-items: center;
}
.fomopress-settings-header .fps-admin-logo-inline {
    box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);
    padding: 15px 10px 10px 13px;
    margin-right: 10px;
}
.fomopress-settings-header .fps-header-left .title {
    font-size: 22px;
    color: #444;
    font-weight: 600;
    margin: 0px;
    line-height: 1;
}
.fomopress-settings-header .fps-header-right {
    text-align: right;
}

.fomopress-settings-header .fps-header-left,
.fomopress-settings-header .fps-header-right {
    flex: 1 1 auto;
}

.fomopress-settings-menu ul li {
    display: inline-block;
    margin-bottom: 0;
}
.fomopress-settings-menu ul li a {
    padding: 15px 20px;
    background-color: #f8fafb;
    color: #516378;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-top: 2px solid #f8fafb;
    display: block;
}

.fomopress-settings-menu ul li a:focus {
    outline: none;
    box-shadow: none;
}

.fomopress-settings-menu ul li.active a {
    background-color: #fff;
    border-top: 2px solid #6648FE;
}

.fomopress-settings-tab {
    background: #fff;
    margin-top: 5px;
    padding: 15px 25px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    border-top: none;
    position: relative;
    display: none;
}
.fomopress-settings-tab.active {
    display: block;
}
.fomopress-settings-button {
    margin: 30px 15px 0 0;
}
.fomopress-settings-section tr th {
    padding-right: 15px;
}
.fomopress-settings-section tr td {
    padding-left: 15px;
}
.fomopress-settings-field, input.fomopress-settings-field {
    padding: 10px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.fomopress-left-right-settings {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.fomopress-settings-left {
    max-width: 80em;
    height: auto;
    flex: 1 1 70%;
}

.fomopress-settings-right {
    flex: 1 1 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fomopress-sidebar {
    background-color: #fff;
    width: 100%;
    padding: 50px 20px;
    margin-top: 34px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fomopress-sidebar-block {
    margin: 1em auto;
}
.fomopress-sidebar-block .fomopress-admin-sidebar-logo {
    max-width: 200px;
    display: block;
    margin: 25px auto;
}
.fomopress-sidebar-block .fomopress-admin-sidebar-logo > img, .fomopress-sidebar-block .fomopress-admin-sidebar-logo > svg {
    width: 100%;
    display: block;
    margin: 10px auto;
}
.fomopress-admin-sidebar-cta a {
    font-size: 1em;
    color: rgba(35,40,45,0.45);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .065em;
    text-align: center;
    margin: 20px auto;
    display: block;
    border: 1px solid rgba(35,40,45,0.185);
    border-radius: 4px;
    padding: 15px;
    width: 200px;
    outline: none;
    box-shadow: none;
    transition: all .3s;
}

.fomopress-admin-sidebar-cta a:hover {
    color: #23282d;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.715);
}

@media only screen and (max-width: 767px) {
.fomopress-left-right-settings {
    flex-flow: row wrap;
    flex-direction: column;
}
.fomopress-settings-right {
    padding: 0;
}
    
}