/**
* All of the CSS for your admin-specific functionality should be
* included in this file.
*/
#notificationx_metabox_wrapper .postbox-header {
    display: none;
}
.fixed .column-notification_status {
    width: 10%;
}

#nx-notification-preview,
#nx-notification-preview .nx-notification-preview-comments,
#nx-notification-preview .nx-notification-preview-conversions {
    display: none;
}

#nx-notification-preview.nx-notification-preview-comments .nx-notification-preview-comments,
#nx-notification-preview.nx-notification-preview-conversions .nx-notification-preview-conversions {
    display: block;
}

@keyframes switch-on {
    50% {
        transform: scaleX(1.3);
    }
}

@keyframes switch-off {
    50% {
        transform: scaleX(1.3);
    }
}

.nx-notification-preview {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 999;
}

#notificationx_metabox_wrapper {
    background: none;
    border: 0px;
}

#notificationx_metabox_wrapper .handlediv,
#notificationx_metabox_wrapper h2.hndle.ui-sortable-handle {
    display: none;
}

#notificationx_metabox_wrapper .inside {
    padding: 0;
}

/* NX FLEX */
.nx-flex {
    display: flex;
}

.nx-align-items-center {
    align-items: center;
}

.nx-builder-hidden {
    display: none !important;
}

.nx-metatab-menu {
    background: #fff;
    padding: 30px;
}

.nx-metatab-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nx-metatab-menu ul li,
.nx-builder-tab-menu ul li {
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 15px 25px 15px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: #edeff0;
}

.nx-metatab-menu ul li {
    padding: 15px 18px 15px 35px;
    text-align: center;
}

.nx-metatab-menu ul li:after,
.nx-metatab-menu ul li:before {
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 25px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
}

.nx-metatab-menu ul li:after {
    z-index: 1;
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px);
    border-left-color: #fff;
    margin: 0;
}

.nx-metatab-menu ul li:before {
    z-index: 2;
    border-left-color: #edeff0;
    border-top-width: 25px;
    border-bottom-width: 25px;
}

.nx-metatab-menu ul li:first-child.nx-has-icon {
    padding-left: 25px;
}

.nx-metatab-menu ul li.nx-has-icon>.nx-menu-icon {
    margin-right: 10px;
}

.nx-metatab-menu ul li>span {
    display: inline-block;
    vertical-align: middle;
}

.nx-metatab-menu ul li img {
    display: block;
}

.nx-metatab-menu ul li.active,
.nx-metatab-menu ul li.nx-complete {
    background-color: #6c63ff;
    color: #fff;
}

.nx-metatab-menu ul li.active>.nx-menu-icon,
.nx-metatab-menu ul li.nx-complete>.nx-menu-icon {
    filter: invert(1);
}

.nx-metatab-menu ul li.active:before,
.nx-metatab-menu ul li.nx-complete:before {
    border-left-color: #6c63ff;
}

/* CONTENT CSS */

.nx-meta-contents {
    background: #fff;
}

.nx-metatab-inner-wrapper {
    display: none;
}

@keyframes nxloadunload {
    10% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.nx-preloader {
    text-align: center;
    padding: 40px 50px 50px;
}

.nx-builder-content-wrapper .nx-preloader {
    padding: 0;
}

.nx-preloader img {
    width: 200px;
    animation-duration: 1s;
    animation-name: nxloadunload;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: nxloadunload;
    -webkit-animation-iteration-count: infinite;
}

.nx-metatab-content {
    display: none;
    padding: 0px 30px;
    overflow: hidden;
}

.nx-metatab-content.active {
    display: block;
}

.nx-meta-next {
    float: right;
}

.nx-meta-section {
    margin-bottom: 20px;
    border: 1px solid #f7f7f7;
    padding-bottom: 20px;
    position: relative;
}

#notificationx_metabox_wrapper .nx-metatab-content h2.nx-meta-section-title {
    display: block;
    color: #516378;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 0px;
    background: #f8fafb;
    padding: 14px;
    letter-spacing: 2px;
    font-weight: 700;
}

h2.nx-meta-section-title .nx-section-reset {
    float: right;
}

.nx-group-clone,
.nx-group-remove {
    text-decoration: none;
    color: #333;
}

.nx-group-clone>span,
.nx-group-remove>span {
    font-size: 18px;
}

.nx-group-clone>span {
    color: #5F7EFF;
}

.nx-group-remove>span {
    color: #dc4f4b;
}

.nx-section-reset>span {
    color: #dc4f4b;
    font-size: 18px;
    cursor: pointer;
}

.nx-section-reset>span:hover {
    color: #EF4144;
}

.nx-group-field-add {
    background-color: #5F7EFF;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(95, 126, 255, .5);
    text-shadow: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nx-group-field-add:hover {
    box-shadow: 0 3px 6px rgba(95, 126, 255, .8);
}

.nx-group-field-add>span {
    line-height: 23px;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]::before {
    position: absolute;
    bottom: 150%;
    left: calc(50% - 38px);
    margin-bottom: 5px;
    padding: 8px;
    min-width: 60px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    z-index: 9999;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.nx-info-message-wrapper {
    padding: 0;
}

.nx-info-message {
    font-size: 16px;
    padding: 15px;
    border-left: 2px solid #e61811;
    background-color: #ffdcdc;
    color: #403E3C;
}

.nx-warning {
    border-color: #f1e11d;
    background-color: #fcffd4;
}

.nx-info-message a {
    color: #6c63ff;
}

/*
Form Input CSS
*/
.nx-meta-section table {
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
}

.nx-meta-section table tr {
    vertical-align: top;
}

.nx-meta-section tr[id^="nx-meta-has_no"] {
    display: none;
}

/* easy fix */
#nx-meta-conversion_from {
    display: none;
}

.nx-meta-section table tr th {
    width: 25%;
    text-align: left;
    padding: 15px 15px 15px 0px;
}

.nx-meta-section table tr td {
    width: 75%;
    text-align: left;
    padding: 15px;
}

.nx-meta-field,
.nx-media-url {
    padding: 10px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7 !important;
    border-radius: 0px;
    width: 400px;
}

.nx-control-wrapper .select2-container--default .select2-selection--multiple {
    border: 1px solid #ABB9D6 !important;
    border-radius: 0px;
}

.template-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.template-items>* {
    flex: 1;
}

.nx-meta-template .nx-meta-template-editable {
    padding: 10px;
    line-height: 25px;
    border: 2px solid #ececec;
    background: #f2f2f2;
    font-size: 14px;
}

input[type="text"].nx-meta-field,
input[type="text"].nx-settings-field,
input[type="number"].nx-meta-field,
.nx-countdown-input>input[type="number"] {
    box-shadow: none;
    border: 1px solid #f2f2f2;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"].nx-meta-field:focus,
input[type="text"].nx-settings-field:focus,
input[type="number"].nx-meta-field:focus,
.nx-countdown-input>input[type="number"]:focus {
    background-color: #fff !important;
    border-color: rgba(108, 99, 255, .5) !important;
}

input[type="number"].nx-meta-field {
    height: auto;
}

input.nx-meta-field:focus,
select.nx-meta-field:focus,
input.nx-media-url:focus {
    outline: none;
    box-shadow: none;
    border-color: #f2f2f2;
}

select.nx-meta-field {
    height: 40px;
}

textarea.nx-meta-field {
    height: 150px;
}

input.nx-template-field {
    margin: 0;
    border: 0px;
}

.nx-opt-alert {
    position: relative;
}

.nx-opt-alert:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 9999;
}

.adv-btn-right {
    text-align: right;
}

label.nx-adv-checkbox-label {
    background: #fff;
    color: #6c63ff;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 0;
    letter-spacing: 1px;
    border: 1px solid #6c63ff;
    transition: all .3s;
}

label.nx-adv-checkbox-label:hover {
    background: #8982ff;
    color: #fff;
    border: 1px solid #6c63ff;
}

.nx-adv-checkbox-wrap #nx_meta_advance_edit,
.nx-adv-checkbox-wrap>input {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

.nx-meta-section table tr.nx-adv_checkbox td {
    padding: 15px 0px;
}

.nx-adv-checkbox-wrap>input:checked+label.nx-adv-checkbox-label,
.nx-adv-checkbox-wrap #nx_meta_advance_edit:checked+label.nx-adv-checkbox-label {
    background-color: #6c63ff;
    color: #fff;
}

/* Group Field */

.nx-group-row td.nx-control {
    padding-left: 0;
    padding-right: 0;
}


.nx-group-field-wrapper .nx-group-field {
    border: 1px solid #f2f2f2;
    margin-bottom: 15px;
}

.nx-group-field-wrapper .nx-group-field:last-child {
    margin-bottom: 0;
}

.nx-group-field-wrapper .nx-group-field>h4 {
    margin: 0;
    position: relative;
    padding: 15px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    background-color: #f8fafb;
}

.nx-group-field-wrapper .nx-group-field>h4>div {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 15px;
    top: 0;
}

.nx-group-field-wrapper .nx-group-field>div.nx-group-inner {
    display: none;
    padding: 30px 15px 0;
    background-color: #FFFFFF;
}

.nx-group-field-wrapper .nx-group-field.open>div.nx-group-inner {
    display: block;
}

/* Media Fiels */
.nx-media-field-wrapper {
    display: flex;
    align-items: center;
}

.nx-thumb-container {
    display: none;
}

.nx-thumb-container.nx-has-thumb {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
}

.nx-thumb-container.nx-has-thumb>img {
    height: 100px;
}


.nx-media-content>input {
    display: block;
    padding: 10px;
    width: 250px;
}

.nx-media-button {
    padding: 10px;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    margin-left: 10px;
}

.nx-media-button.nx-media-remove-button {
    color: red;
    margin-left: 0;
    margin-top: 10px;
}

/* Countdown Timer CSS */
.nx-countdown-inputs {
    display: flex;
}

.nx-countdown-input>input {
    padding: 5px 10px;
    box-sizing: content-box;
    width: 100px;
    margin-right: 10px;
}

/* Quick Builder CSS */
.nx-builder-wrapper {
    padding: 20px;
    margin: 0px 20px 20px 0;
    padding-top: 50px;
}

.nx-builder-content-wrapper.nx-metatab-wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .07);
    border-radius: 3px;
    border: 25px solid #fff;
}

.nx-builder-content select.nx-meta-field,
.nx-builder-content input.nx-meta-field {
    border-color: rgba(0, 0, 0, .1);
    background-color: #fff !important;
}

.nx-builder-content .nx-meta-section {
    border: none;
}

.nx-builder-content .nx-single-theme-wrapper {
    margin: 10px;
    background-color: #fff;
    width: 228px;
}

.nx-builder-header {
    text-align: center;
}

.nx-builder-header>h1 {
    font-size: 2em;
    color: #444;
    margin-bottom: 50px;
}

.nx-builder-content .nx-meta-section-title {
    text-align: center;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .035em;
    font-style: italic;
}

.nx-builder-content#nx-source_tab .quick-builder-submit-btn.btn-prev {
    display: none;
}

.nx-builder-tab-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.nx-builder-tab-menu ul li {
    background-color: #fff;
}

.nx-builder-tab-menu ul,
.nx-settings-menu ul {
    margin: 0;
    padding: 0;
}

.nx-builder-tab-menu ul li {
    padding: 10px 15px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
    position: relative;
}

.nx-builder-tab-menu ul li:after {
    position: absolute;
    left: 100%;
    width: 100px;
    height: 10px;
    background: #fff;
    content: "";
    top: 50%;
    margin-top: -5px;
}

.nx-builder-tab-menu ul li:last-child:after {
    display: none;
}

.nx-builder-tab-menu ul li>span.nx-menu-icon {
    margin-right: 10px;
}

.nx-builder-tab-menu ul li>span {
    display: inline-block;
    vertical-align: middle;
}

.nx-builder-tab-menu ul li.active,
.nx-builder-tab-menu ul li.nx-complete,
.nx-builder-tab-menu ul li.nx-complete:after {
    background-color: #6c63ff;
    color: #fff;
}

.nx-builder-tab-menu ul li.active>span.nx-menu-icon,
.nx-builder-tab-menu ul li.nx-complete>span.nx-menu-icon {
    filter: invert(1);
}


.nx-builder-tab-menu ul li>span img {
    display: block;
}

.nx-builder-content {
    display: none;
}

.nx-builder-content.active {
    display: block;
}

.nx-builder-hidden {
    display: none;
}

.quick-builder-submit-btn-wrap {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.quick-builder-submit-btn.nx-quick-builder-btn {
    flex: 1 1 45%;
    margin: 7px;
}

.quick-builder-submit-btn,
.nx-meta-next,
.btn-settings,
.nx-email-test {
    background-color: #6648FE;
    color: #fff;
    border: 0;
    padding: 10px 25px;
    border-radius: 3px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    transition: all .3s;
}

.quick-builder-submit-btn:hover,
.nx-meta-next:hover,
.nx-settings-button:hover {
    background-color: #6044EA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

/* Theme Option CSS */
.nx-meta-section table tr.nx-theme-control-wrapper>td {
    padding: 0;
}

.nx-theme-field-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 -5px;
}

.nx-single-theme-wrapper.nx-meta-field {
    padding: 10px;
    border: 0;
    background: 0 0;
    width: auto;
    cursor: pointer;
    margin: 5px;
}

.nx-single-theme-wrapper>img {
    display: block;
    max-width: 300px;
}

#nx-meta-bar_theme .nx-single-theme-wrapper>img {
    max-width: 100%;
}

.nx-theme-field-inner {
    margin: 0 -15px;
}

.nx-single-theme-wrapper {
    margin: 0 15px;
    position: relative;
    box-shadow: 0 0 25px 0px rgba(0, 9, 78, .08);
    border-radius: 5px;
    transition: background 0.3s ease 0s;
}

.nx-mailchimp_themes .nx-single-theme-wrapper,
.nx-wpstats_theme .nx-single-theme-wrapper,
.nx-elearning_theme .nx-single-theme-wrapper,
.nx-donation_theme .nx-single-theme-wrapper,
.nx-page_analytics_theme .nx-single-theme-wrapper,
.nx-wporg_theme .nx-single-theme-wrapper,
.nx-comment_theme .nx-single-theme-wrapper,
.nx-custom_theme .nx-single-theme-wrapper,
.nx-theme .nx-single-theme-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
}

.nx-mailchimp_themes .nx-single-theme-wrapper,
.nx-wpstats_theme .nx-single-theme-wrapper,
.nx-elearning_theme .nx-single-theme-wrapper,
.nx-donation_theme .nx-single-theme-wrapper,
.nx-page_analytics_theme .nx-single-theme-wrapper,
.nx-wporg_theme .nx-single-theme-wrapper,
.nx-comment_theme .nx-single-theme-wrapper,
.nx-custom_theme .nx-single-theme-wrapper,
.nx-form_theme .nx-single-theme-wrapper,
.nx-theme .nx-single-theme-wrapper {
    width: 295px;
    height: auto;
    padding: 10px;
    background-color: #f1f1f1;
    flex-basis: 29.3333%;
}

.nx-builder-content-wrapper .nx-mailchimp_themes .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-wpstats_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-wporg_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-comment_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-custom_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-elearning_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-donation_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-page_analytics_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-form_theme .nx-single-theme-wrapper,
.nx-builder-content-wrapper .nx-theme .nx-single-theme-wrapper {
    width: 228px;
    flex-basis: 208px;
}

.nx-bar_theme .nx-single-theme-wrapper {
    width: 100%;
    height: auto;
}

.nx-bar_theme .nx-single-theme-wrapper>label>img,
.nx-mailchimp_themes .nx-single-theme-wrapper>label>img,
.nx-wpstats_theme .nx-single-theme-wrapper>label>img,
.nx-wporg_theme .nx-single-theme-wrapper>label>img,
.nx-comment_theme .nx-single-theme-wrapper>label>img,
.nx-elearning_theme .nx-single-theme-wrapper>label>img,
.nx-donation_theme .nx-single-theme-wrapper>label>img,
.nx-page_analytics_theme .nx-single-theme-wrapper>label>img,
.nx-custom_theme .nx-single-theme-wrapper>label>img,
.nx-theme .nx-single-theme-wrapper>label>img,
.nx-form_theme .nx-single-theme-wrapper>label>img {
    width: 100%;
    max-width: 100%;
}

.nx-single-theme-wrapper.nx-theme-selected {
    position: relative;
    transition: all 0.3s ease 0s;
}

.nx-single-theme-wrapper.nx-theme-selected:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 4px solid #6c63ff;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

#nx-bar_theme .nx-single-theme-wrapper.nx-meta-field {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
    padding: 5px;
}

#nx-bar_theme .nx-single-theme-wrapper>img {
    max-width: 1000px;
    width: 100%;
}

/* Custom select2 styles */

.nx-control-wrapper .select2-container--default .select2-selection.select2-selection--single {
    background-color: #fff;
    border-color: #ABB9D6;
    height: 40px;
    border-radius: 0;
}

.nx-control-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
    font-size: 15px;
    line-height: 40px;
}

.nx-control-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

body.notificationx_page_nx-builder .select2-dropdown,
body.post-type-notificationx .select2-dropdown {
    background-color: #fff;
    color: #262625;
    border-color: #97a1b9;
}

body.notificationx_page_nx-builder .select2-container--default .select2-results__option--highlighted[aria-selected],
body.notificationx_page_nx-builder .select2-container--default .select2-results__option[aria-selected="true"],
body.post-type-notificationx .select2-container--default .select2-results__option--highlighted[aria-selected],
body.post-type-notificationx .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #6c63ff;
    color: #fff;
}

body.notificationx_page_nx-builder .select2-results__option,
body.post-type-notificationx .select2-results__option {
    padding: 10px 6px;
}

body.notificationx_page_nx-builder .select2-container--default .select2-search--dropdown .select2-search__field,
body.post-type-notificationx .select2-container--default .select2-search--dropdown .select2-search__field {
    padding: 8px;
    box-shadow: none;
    border: 1px solid rgba(108, 99, 255, .5);
}

/* NotificationX Settings Page CSS */
.nx-settings-wrap {
    padding: 15px;
}

.nx-settings-header {
    height: auto;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.nx-header-for-post-new.nx-settings-header,
.nx-header-for-post.nx-settings-header {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.nx-settings-header .nx-header-left {
    display: flex;
    align-content: center;
    align-items: center;
}

.nx-settings-header .nx-admin-logo-inline {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    padding: 25px 20px 20px 23px;
    margin-right: 10px;
}

.nx-settings-header .nx-admin-logo-inline>svg {
    width: 31.5px;
    height: 32px;
}

.nx-settings-header .nx-header-left .title {
    font-size: 22px;
    color: #444;
    font-weight: 600;
    margin: 0px;
    padding-left: 10px;
    line-height: 1;
}

.nx-settings-header .nx-header-right {
    text-align: right;
}

.nx-settings-header .nx-header-right>span {
    display: block;
    padding-right: 25px;
}

.nx-settings-header .nx-header-left,
.nx-settings-header .nx-header-right {
    flex: 1 1 auto;
}

.nx-settings-menu ul li {
    display: inline-block;
    margin-bottom: 0;
}

.nx-settings-menu ul li a {
    padding: 15px 20px;
    background-color: #f8fafb;
    color: #516378;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-top: 2px solid #f8fafb;
    display: block;
}

.nx-settings-menu ul li a:focus {
    outline: none;
    box-shadow: none;
}

.nx-settings-menu ul li.active a {
    background-color: #fff;
    border-top: 2px solid #6648FE;
}

.nx-settings-menu li[data-tab="api_integrations_tab"] {
    display: none;
}

.nx-settings-tab {
    padding: 15px 25px;
    border-top: none;
    position: relative;
    display: none;
}

.nx-settings-tab.active {
    display: block;
}

.nx-settings-button,
.nx-email-test {
    margin: 30px 15px 0 0;
    padding: 16px 30px;
    display: flex;
    align-items: center;
}

.nx-settings-section>table,
.nx-api-integration-settings>table {
    border-spacing: 0px 10px;
}

.nx-settings-section table,
.nx-api-integration-settings table {
    width: 100%;
}

.nx-settings-section input.nx-settings-field[type="text"],
.nx-api-integration-settings input.nx-settings-field[type="text"] {
    width: 50%;
}

.nx-settings-section tr th,
.nx-api-integration-settings tr th {
    padding-right: 15px;
    width: 25%;
    text-align: left;
}

.nx-settings-section tr td,
.nx-api-integration-settings tr td {
    padding-left: 15px;
}

.nx-settings-field,
input.nx-settings-field {
    padding: 10px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.nx-left-right-settings {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* .nx-api-opec {
    position: relative;
}

.nx-api-opec::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
} */

/* .nx-api-opec::after {
    content: attr(data-opec);
    position: absolute;
    top: 40%;
    color: red;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
} */

.nx-left-right-settings>div {
    flex: 1;
}


.nx-settings-left {
    max-width: 80em;
    height: auto;
    flex: 1 1 70%;
}

.nx-settings-right {
    flex: 1 1 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nx-sidebar {
    background-color: #fff;
    width: 100%;
    padding: 50px 20px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nx-sidebar-block {
    margin: 1em auto;
}

.nx-sidebar-block .nx-admin-sidebar-logo {
    max-width: 200px;
    display: block;
    margin: 25px auto;
}

.nx-sidebar-block .nx-admin-sidebar-logo>img,
.nx-sidebar-block .nx-admin-sidebar-logo>svg {
    width: 100%;
    display: block;
    margin: 10px auto;
}

.nx-admin-sidebar-cta a {
    font-size: 1em;
    color: rgba(35, 40, 45, 0.45);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .065em;
    text-align: center;
    margin: 20px auto;
    display: block;
    border: 1px solid rgba(35, 40, 45, 0.185);
    border-radius: 4px;
    padding: 15px;
    width: 200px;
    outline: none;
    box-shadow: none;
    transition: all .3s;
}

.nx-admin-sidebar-cta a:hover {
    color: #23282d;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.715);
}

@media only screen and (max-width: 767px) {
    .nx-left-right-settings {
        flex-flow: row wrap;
        flex-direction: column;
    }

    .nx-settings-right {
        padding: 0;
    }

}

/* ADMIN */
/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/

a.notificationx-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
}

.notificationx-inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    max-width: 400px;
}

.nx-flex-reverse.notificationx-inner {
    flex-direction: row-reverse;
}

.nx-has-close-btn.notificationx-inner {
    padding-right: 30px !important;
}

span.notificationx-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    cursor: pointer;
    width: 8px;
    height: 8px;
}

span.notificationx-close>svg {
    fill: #000000;
    position: absolute;
}

/*
Notification Image CSS
*/
.notificationx-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nx-img-right .notificationx-image {
    margin-left: 15px;
    margin-right: 0px;
}

.notificationx-image img.nx-img-square {
    border-radius: 0px !important;
}

.notificationx-image img.nx-img-circle,
.notificationx-image>img {
    border-radius: 50% !important;
}

.notificationx-image img.nx-img-rounded {
    border-radius: 5px !important;
}

.notificationx-image>img {
    width: 100%;
}

/*
Notification Content CSS
*/
.notificationx-inner.nx-img-right .notificationx-content {
    display: flex;
    flex-direction: column;
}

.notificationx-inner.nx-img-right .notificationx-content .nx-branding {
    position: static;
    margin-left: 0px;
    padding: 5px 0px 0px
}

.notificationx-content {
    float: left;
}

.notificationx-content>span {
    display: block;
}

.nx-first-row {
    font-size: 12px;
    line-height: 1.2;
}

.nx-second-row {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.5;
}

.nx-third-row {
    font-size: 11px;
    line-height: 1;
}

/*
NotificationXBar CSS
*/
.nx-author {
    font-weight: 600;
}

.nx-time {
    display: block;
}

.nx-bar {
    background: #ddd;
    position: absolute;
    z-index: 9;
    visibility: hidden;
    width: 100%;
    left: 0;
    text-align: center;
}

.nx-bar .nx-bar-inner {
    padding: 20px;
    display: inline-block;
}

.nx-bar-content-wrap {
    display: flex;
    align-items: center;
}

.nx-bar-content {
    display: inline-block;
    margin-left: 15px;
}


.nx-bar.nx-position-bottom {
    position: fixed;
    bottom: 0;
}

.nx-bar.nx-position-top {
    top: 0;
}

.nx-bar-visible {
    visibility: visible;
}

a.nx-bar-button {
    font-size: 14px;
    padding: 6px 15px;
    margin-left: 15px;
    background-color: #262626;
    color: #fff;
    border-radius: 3px;
}

a.nx-bar-button:hover {
    color: #fff;
}

.nx-close {
    margin: 0;
    position: absolute;
    right: 30px;
    margin-top: -5px;
    cursor: pointer;
    top: 50%;
    color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 17px;
    font-size: 14px;
}

.nx-close>svg {
    position: absolute;
    left: 0;
}

/*
NotificationX CountDown CSS
*/

.nx-countdown-wrapper {
    display: flex;
    align-items: center;
}

.nx-countdown {
    overflow: hidden;
    background-color: #262626;
    color: #FFF;
}

.nx-countdown-text {
    margin-right: 10px;
}

.nx-time-section {
    float: left;
    margin: 0 5px;
    padding: 10px;
    position: relative;
    width: 40px;
}

.nx-time-section:after {
    content: ":";
    position: absolute;
    right: -6px;
    top: 9px;
    line-height: 1;
}

.nx-time-section:last-of-type:after {
    display: none;
}

.nx-time-section>span {
    display: block;
    line-height: 1;
}

.nx-time-section>span.nx-countdown-time-text {
    display: none;
    font-size: 14px;
}

.nx-countdown.nx-expired .nx-time-section {
    background-color: #262626;
}

.nx-countdown.nx-expired .nx-time-section>span,
.nx-countdown .nx-expired-text {
    display: none;
}

.nx-countdown.nx-expired .nx-expired-text {
    display: block;
}

/* Nx Bar Theme CSS */

.nx-bar.theme-two {
    background-color: #5704A2;
    color: #FFF;
}

.nx-bar.theme-three {
    background-color: #3F4462;
    color: #FFF;
}

.nx-bar.theme-three .nx-time-section,
.nx-bar.theme-three a.nx-bar-button {
    background-color: #6549FE;
}

.nx-bar.theme-three .nx-time-section:after {
    content: '';
}

.nx-bar.theme-three .nx-countdown {
    background-color: transparent;
}

.nx-bar.theme-three .nx-time-section {
    width: 55px;
}

.nx-bar.theme-three .nx-time-section>span.nx-countdown-time-text {
    display: block;
}

.nx-bar.theme-three p.nx-close>svg,
.nx-bar.theme-two p.nx-close>svg {
    fill: #FFF;
}


/* Powered By CSS */
.nx-branding {
    font-size: 10px;
    color: #999;
    margin-left: 2px;
    vertical-align: middle;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 9999;
    padding: 5px;
}

.nx-branding svg {
    position: relative;
    top: 4px;
}

a.nx-powered-by {
    cursor: pointer;
    color: #5614D5;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

a.nx-powered-by:hover {
    color: #21D8A3;
}

/* Theme specific CSS */

.notificationx-inner.nx-notification-theme-one {
    border: 1px solid #f2f2f2;
}

.notificationx-inner.nx-notification-theme-two {
    border-radius: 50px;
    padding-right: 50px;
}

.notificationx-inner.nx-notification-theme-two span.notificationx-close {
    right: 20px;
    top: 25px;
}

.nx-notification-theme-two .nx-branding {
    right: 20px;
}

/* Comments Theme Three */
.notificationx-inner.nx-notification-theme-three {
    padding: 0px;
}

.notificationx-inner.nx-notification-theme-three .notificationx-image {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.notificationx-inner.nx-notification-theme-three .notificationx-image {
    border-right: 1px solid #f2f2f2;
}

.notificationx-inner.nx-notification-theme-three.nx-img-right .notificationx-image {
    border-left: 1px solid #f2f2f2;
    border-right: 0px;
}

.notificationx-inner.nx-img-right.nx-notification-theme-three .notificationx-content {
    padding-left: 15px;
}

.notificationx-inner.nx-notification-theme-three.nx-img-right .notificationx-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.notificationx-inner.nx-notification-theme-three.nx-img-right .notificationx-image {
    height: auto;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.notificationx-inner.nx-notification-theme-two.nx-img-right.nx-has-close-btn {
    padding-right: 20px !important;
}

.notificationx-inner.nx-notification-theme-two.nx-img-right.nx-has-close-btn .notificationx-content {
    padding-left: 25px;
}

.notificationx-inner.nx-notification-theme-two.nx-img-right span.notificationx-close {
    right: auto;
    left: 19px;
    top: 50%;
    margin-top: -4px;
}

/* Datepicker CSS */
/* Date Picker Default Styles */
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
    z-index: 1000 !important;
}

body.wp-admin:not(.rtl) .ui-datepicker {
    margin-left: -1px;
}

body.wp-admin.rtl .ui-datepicker {
    margin-right: -1px;
}

.ui-datepicker * {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-left: 7px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\f341';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\f345';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker tr:first-of-type td {
    border-top: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}

/* Default Color Scheme */
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #6c63ff;
}

.ui-datepicker thead {
    background: #32373c;
}

.ui-datepicker td .ui-state-hover {
    background: #5f56f0;
    color: #fff;
}

/* Styled Checkbox */
.nx-sound-appearance {
    padding: 10px 30px;
    border: 1px solid #8369ff;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* .nx-sound-appearance>div {} */

.nx-sound-appearance>div.nx-left>span {
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
    letter-spacing: 1px;
    display: none;
}

.nx-sound-appearance>div.nx-left>span.nx-sound-active {
    display: inline-block;
}

.nx-sound-appearance>div.nx-right label {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block;
    font-size: 24px;
    margin-left: -3px;
}

.nx-admin-status-title {
    margin-bottom: 8px;
    display: none;
}

.nx-admin-status-title.nxast-enable {
    color: #5614d5;
}


.nx-sound-appearance>div.nx-right input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.nx-sound-appearance>div.nx-right input[type="checkbox"]:checked+label::before {
    background: #5614d5;
    border: 1px solid #5614d5;
}

.nx-sound-appearance>div.nx-right label:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 1em;
    left: 0.1em;
    transition: background 0.1s 0.1s ease;
    background: #cbcfd0;
    border: 1px solid #cbcfd0;
    border-radius: 50px;
}

.nx-sound-appearance>div.nx-right input[type="checkbox"]:checked+label::after {
    left: 1.2em;
    background: #ffffff;
    animation: switch-on 0.3s ease-out;
}

.nx-sound-appearance>div.nx-right label:after {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    left: 0.2em;
    top: 0.14em;
    transition: all 0.2s ease;
    box-shadow: 0 0 0 5px #fcfff4 inset;
    background: #fff;
    z-index: 2;
    animation: switch-off 0.3s ease-out;
}

/* Settings Page CSS */

.nx-module-section>h5 {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #724fb6;
    font-weight: 500;
    margin: 0px 0px 20px 0px;
}

.nx-module-section {
    margin-bottom: 20px;
}

.nx-checkbox-area {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nx-checkbox {
    overflow: hidden;
    display: flex;
    flex-basis: 330px;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 15px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 18px 0px rgba(0, 4, 32, 0.08);
    position: relative;
}

.nx-checkbox label {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block;
}

.nx-checkbox label:before,
.nx-checkbox label:after {
    content: "";
    position: absolute;
    background: #cbcfd0;
}

.nx-checkbox label:before {
    width: 2em;
    height: 1em;
    left: 0.1em;
    transition: background 0.1s 0.1s ease;
    border: 1px solid #cbcfd0;
    border-radius: 50px;
}

.nx-checkbox input[type="checkbox"]:checked+label::before {
    background: #5614d5;
    border: 1px solid #5614d5;
}

.nx-checkbox input[type="checkbox"]:checked+label::after {
    left: 1.2em;
    background: #ffffff;
    animation: switch-on 0.3s ease-out;
}

.nx-checkbox label:after {
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    left: 0.2em;
    top: 0.14em;
    transition: all 0.2s ease;
    box-shadow: 0 0 0 5px #fcfff4 inset;
    z-index: 2;
    animation: switch-off 0.3s ease-out;
}

.nx-checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.nx-checkbox p.nx-module-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin: 0.5em;
    display: flex;
}

.nx-checkbox p.nx-module-title>a {
    border: 1px solid #000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    line-height: 10px;
    margin-left: 10px;
    opacity: 0.3;
    transition: opacity 0.3s ease 0s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nx-checkbox p.nx-module-title>a:hover {
    opacity: 1;
}

/* API Integration CSS */

.nx-api-integration-settings>h3 {
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, .07);
    padding: 20px 50px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
    background: #fff;
    z-index: 99;
}

.nx-api-integration-settings .nx-api-integration-inner {
    display: none;
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .07);
}

.nx-api-integration-settings .nx-api-integration-inner.open {
    display: block;
}

.nx-api-integration-settings .nx-api-integration-inner table {
    border-spacing: 0 10px;
}

.nx-api-integration-settings:last-child {
    margin-bottom: 10px;
}

.nx-api-integration-settings .nx-api-integration-inner .nx-field-description,
.nx-field-description {
    margin-left: 10px;
    font-size: 12px;
}

.nx-api-integration-settings .nx-pro-label,
.nx-single-theme-wrapper .nx-pro-label,
.nx-checkbox .nx-pro-label {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
    left: -20px;
    width: 80px;
    background-image: -moz-linear-gradient(-122deg,
            rgb(146, 113, 255) 0%,
            rgb(87, 37, 255) 100%);
    background-image: -webkit-linear-gradient(-122deg,
            rgb(146, 113, 255) 0%,
            rgb(87, 37, 255) 100%);
    background-image: -ms-linear-gradient(-122deg,
            rgb(146, 113, 255) 0%,
            rgb(87, 37, 255) 100%);
    background-image: linear-gradient(-122deg,
            rgb(146, 113, 255) 0%,
            rgb(87, 37, 255) 100%);
    box-shadow: 0px 3px 7px 0px rgba(0, 5, 41, 0.1);
    color: #fff;
}

.nx-api-integration-settings .nx-pro-label.nx-pro-access,
.nx-single-theme-wrapper .nx-pro-label.nx-pro-access,
.nx-checkbox .nx-pro-label.nx-pro-access {
    background-color: #0ccf9f;
    background-image: none;
}

.nx-display_type .nx-single-theme-wrapper>input:checked+label+.nx-pro-label-wrapper .nx-pro-label.nx-pro-access {
    z-index: 9;
    background-color: #05b589;
}

sup.nx-pro-label.has-to-update {
    font-size: 10px;
    line-height: 20px;
}

.nx-settings-content {
    display: flex;
}

.nx-settings-form-wrapper {
    flex: 6;
}

.nx-settings-right {
    flex: 3;
    background: #fff;
    margin: 6px 0px 0px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .07);
}

.nx-settings-form-wrapper {
    margin-top: 5px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .07);
}

#nx-settings-modules_sections {
    margin-bottom: 20px;
}

.nx-settings-section>h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.nx-settings-section>h2:before {
    content: attr(data-text);
    position: absolute;
    width: auto;
    height: 100%;
    background: #fff;
    padding-right: 10px;
}

.nx-settings-section>h2:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 50%;
    height: 0px;
    border-top: 2px dashed #f2f2f2;
    margin-top: -1px;
    z-index: -1;
}

#nx-go_license_tab .nx-settings-right {
    display: block;
    box-shadow: none;
}

#nx-go_license_tab .nx-settings-right,
#nx-go_license_tab .nx-sidebar {
    margin: 0px;
}

#nx-go_license_tab .nx-sidebar {
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#nx-go_license_tab .nx-sidebar .nx-sidebar-block.nx-license-block {
    order: 1;
}

#nx-go_license_tab .nx-sidebar .nx-sidebar-block {
    margin: 1em 0;
    order: 2;
    flex: 1;
}

.nx-settings-documentation {
    margin-top: 10px;
    background: #fff;
    padding: 30px 30px;
}

.nx-settings-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.nx-admin-block {
    flex-basis: 25%;
    padding: 25px;
    box-shadow: 0 0 20px 0px #f2f2f2;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

header.nx-admin-block-header {
    display: flex;
    align-items: center;
}

.nx-admin-block-header-icon {
    width: 35px;
}

h4.nx-admin-title {
    margin: 0 15px;
    font-size: 17px;
}

.nx-admin-block-content {
    flex: 1;
}

.nx-admin-block-content>a {
    color: #fff;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    background-image: -webkit-linear-gradient(-169deg, rgb(146, 113, 255) 0%, rgb(87, 37, 255) 100%);
}

.nx-save-now {
    background-color: #e74c3c;
}

#nx-spinner {
    width: 16px;
    height: 16px;
    display: inline-block;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#nx-spinner+span {
    margin-left: 5px;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nx-single-theme-wrapper>label {
    display: block;
    border-radius: 5px;
}

.nx-single-theme-wrapper>input {
    display: none;
}

.nx-single-theme-wrapper>input:checked+label {
    position: relative;
}

.nx-single-theme-wrapper>label>img {
    vertical-align: middle;
    max-width: 80%;
}

.nx-single-theme-wrapper>input:checked+label:before {
    content: "";
    position: absolute;
    right: -15px;
    top: -15px;
    left: auto;
    width: 30px;
    height: 30px;
    border: 0;
    box-sizing: border-box;
    transition: all .3s ease 0s;
    background: #09dca8;
    border-radius: 50%;
}

.nx-single-theme-wrapper>input:checked+label::after {
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    height: 12px;
    width: 6px;
    border-bottom: 3.5px solid #fff;
    border-right: 3.5px solid #fff;
    position: absolute;
    right: -5px;
    top: -10px;
}

.nx-single-theme-wrapper {
    font-size: 18px;
    width: 230px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 30px;
    /* overflow: hidden; */
}

.nx-pro-label-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.nx-single-theme-wrapper>label {
    width: 100%;
    position: relative;
    z-index: 2;
}

.nx-single-theme-wrapper .nx-pro-label {
    height: 30px;
    line-height: 30px;
    left: -29px;
    width: 100px;
    z-index: 9;
}

.nx-display_type .nx-single-theme-wrapper>input:checked+label {
    background-color: #0ccf9f;
    color: #fff;
}

.nx-no-module-on {
    padding: 50px;
    background-color: #fff;
}

.nx-no-module-on img {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}

.nx-no-module-on p {
    font-size: 20px;
}

.nx-default_avatar .nx-theme-field-inner,
.nx-default_avatar .nx-single-theme-wrapper {
    margin: 0px;
}

.nx-default_avatar .nx-single-theme-wrapper {
    font-size: 18px;
    width: 100px;
    height: auto;
    line-height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #f2f2f2;
    margin-right: 10px;
    margin-bottom: 20px;
}

.nx-email-test {
    padding: 12px 20px;
    font-size: 10px;
    background-color: #4cb55d;
}

.nx-meta-checkbox-label-switch {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block;
    font-size: 24px;
    margin-left: -3px;
    display: inline-block;
}

.nx-meta-checkbox-label-switch:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 1em;
    left: .1em;
    transition: background .1s .1s ease;
    background: #cbcfd0;
    border: 1px solid #cbcfd0;
    border-radius: 50px;
}

.nx-meta-checkbox-label-switch:after {
    content: "";
    position: absolute;
    width: .8em;
    height: .8em;
    border-radius: 100%;
    left: .2em;
    top: .14em;
    transition: all .2s ease;
    box-shadow: 0 0 0 5px #fcfff4 inset;
    background: #fff;
    z-index: 2;
    -webkit-animation: switch-off .3s ease-out;
    animation: switch-off .3s ease-out;
}

#nx_meta_evergreen_timer {
    display: none;
}

.nx-control-wrapper input[type=checkbox]:checked+label.nx-meta-checkbox-label-switch::before {
    background: #5614d5;
    border: 1px solid #5614d5;
}

.nx-control-wrapper input[type=checkbox]:checked+label.nx-meta-checkbox-label-switch::after {
    left: 1.2em;
    background: #fff;
    -webkit-animation: switch-on .3s ease-out;
    animation: switch-on .3s ease-out;
}
button.nx-on-click-install {
    background: #6c63ff;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.nx-ele-bar-button {
    background: #fff;
    color: #6c63ff;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 0;
    letter-spacing: 1px;
    border: 1px solid #6c63ff;
    transition: all .3s;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

button.nx-on-click-install.nx-ele-bar-button {
    background-color: #fff;
    color: #6c63ff;
    border: 1px solid #6c63ff;
    border-radius: 0;
}
.nx-ele-bar-button.active {
    background-color: #6c63ff;
    color: #fff;
}
.nx-ele-bar-button.hidden {
    display: none;
}

.nx-ele-bar-button:hover,
.nx-ele-bar-button:active {
    outline: none;
    color: #6c63ff;
    border-color: #6c63ff;
}

.nx-ele-bar-button.active:hover,
.nx-ele-bar-button.active:active {
    color: #fff;
}

.nx-ele-bar-button.nx-bar_with_elementor-remove {
    background-color: #fb4c4c;
    border-color: #fb4c4c;
    color: #fff;
}

.nx-ele-bar-button.nx-bar_with_elementor.active {
    background-color: #6c63ff;
    border-color: #6c63ff;
    color: #fff;
}

/* NX PRESS BAR MODAL */
.nx-press-bar-modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    display: none;
}
.nx-press-bar-modal-wrapper.active {
    display: block;
}

.nx-press-bar-modal {
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.nx-press-bar-modal-header {
    position: relative;
    margin-bottom: 30px;
}
.nx-press-bar-modal-header>h3 {
    margin: 0;
    display: inline-block;
}
.nx-modal-close {
    position: absolute;
    right: -20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    top: -20px;
}

.nx-press-bar-modal-content {
    overflow-y: auto;
    height: 100%;
}

.nx-press-single-template {
    border: 1px solid #f2f2f2;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex: 1;
    align-items: center;
}
.nx-press-single-template .nx-ele-bar-button {
    margin-right: 0;
    margin-left: 15px;
}
.nx-press-single-template img {
    max-width: 100%;
    flex: 1;
}
.nx-bar_with_elementor-import:hover {
    background-color: #6c63ff;
    color: #FFF;
}

.nx-press-bar-modal-preload {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #FFF;
}
.nx-press-bar-modal-preload.active {
    display: flex;
}
.nx-press-bar-modal-preload.active .nx-press-bar-modal-preload-text {
    width: 50%;
}
.nx-press-bar-modal-preload.active .nx-press-bar-modal-preload-text>* {
    display: none;
}
.nx-press-bar-modal-preload.active .nx-press-bar-modal-preload-text .nx-modal-loading-text.active,
.nx-press-bar-modal-preload.active .nx-press-bar-modal-preload-text .nx-modal-success-text.active {
    display: block;
}

.nx-press-bar-modal-preload.active .nx-press-bar-modal-preload-text .nx-modal-success-text>span {
    display: block;
    margin-top: 20px;
}

.nx-meta-modal-next.nx-ele-bar-button {
    margin-top: 10px;
    margin-right: 0px;
}
.nx-bar-install-elementor {
    display: flex;
}
.nx-bar-install-elementor>.nx-bar_with_elementor_instal {
    margin-left: 15px;
}