#adminmenu .menu-icon-notificationx img,
.toplevel_page_notificationx .wp-menu-image img,
.toplevel_page_nx-admin .wp-menu-image img {
    width: 20px;
    margin-top: 7px;
    margin-left: 2px;
    padding: 0 !important;
}

.menu-icon-notificationx+.wp-menu-separator {
    display: none;
}

/* Notice CSS */
/* review notice */
.wpdeveloper-review-notice {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    margin: 15px;
    border-left: 4px solid transparent;
    display: flex;
    align-items: center;
}

.wpdeveloper-review-notice:after {
    content: '';
    display: table;
    clear: both;
}

.wpdeveloper-notice-thumbnail {
    width: 90px;
    float: left;
    padding: 5px;
    text-align: center;
    border-right: 4px solid transparent;
}

.wpdeveloper-notice-thumbnail img {
    width: 72px;
    opacity: .85;
    transition: all .3s;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-thumbnail img {
    width: 50px;
    padding: 10px;
}

.wpdeveloper-notice-thumbnail img:hover {
    opacity: 1;
}

.eael-review-text {
    overflow: hidden;
}

.eael-review-text h3 {
    font-size: 24px;
    margin: 0 0 5px;
    font-weight: 400;
    line-height: 1.3;
}

.eael-review-text p {
    font-size: 13px;
    margin: 0 0 5px;
}

.wpdeveloper-notice-link {
    margin: 8px 0 0 0;
    padding: 0;
}

.wpdeveloper-notice-link li {
    display: inline-block;
    margin-right: 15px;
}

.wpdeveloper-notice-link li a {
    display: inline-block;
    color: #10738B;
    text-decoration: none;
    padding-left: 26px;
    position: relative;
}

.wpdeveloper-notice-link li a span {
    position: absolute;
    left: 0;
    top: -2px;
}

.wpdeveloper-notice-message {
    padding: 10px 0;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-message {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-message+.notice-dismiss {
    top: 18px;
}

.wpdeveloper-upsale-notice #plugin-install-core {
    margin-left: 10px;
}

.notice.notice-has-thumbnail {
    padding-left: 0px;
}

.wpdeveloper-upsale-notice {
    display: flex;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-thumbnail {
    padding: 0;
    width: 80px;
}

/* CSS for Admin Page */
.nx-admin-wrapper {
    padding: 30px 20px 30px 15px;
}

.nx-admin-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.nx-admin-header>img {
    width: 200px;
}

.nx-admin-header a.nx-add-new-btn {
    margin-left: 40px;
    background-color: #fff;
    color: #5614d5;
    border: 0px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid;
}

.nx-admin-header a.nx-add-new-btn:hover {
    color: #fff;
    background-color: #5614d5;
}

.nx-admin-header a.nx-add-new-btn:focus,
.nx-admin-header a.nx-add-new-btn:visited,
.nx-admin-header a.nx-add-new-btn:active {
    outline: none;
}

.nx-admin-menu {
    margin-top: 30px;
    margin-bottom: 0px;
}

.nx-admin-menu ul {
    margin-bottom: 0px;
}

.nx-admin-menu ul li {
    display: inline-block;
}

.nx-admin-menu ul li a {
    margin-right: 25px;
    text-decoration: none;
}

.nx-admin-menu ul li.active a {
    /* font-weight: 500; */
    color: #5614d5;
}

.nx-admin-menu ul li a {
    color: #313236;
}

.nx-admin-menu ul li.nx-empty-trash-btn a {
    background-color: #fafafa;
    color: #dd7474;
    padding: 5px 10px;
}

.nx-admin-items {
    font-family: Roboto;
}

.nx-admin-items table {
    border-spacing: 0 20px;
    border: 0px;
    background: none;
    box-shadow: none;
}

.nx-admin-items table thead {
    background-color: #fafafa;
}

.nx-admin-items table thead tr>td:nth-child(1) {
    width: 30%;
}
.nx-admin-items table thead tr>td:nth-child(2) {
    width: 25%;
}

.nx-admin-items table tbody {
    transform: translateY(-20px);
}

.nx-admin-items table thead td,
.nx-admin-items table tbody td {
    padding: 15px 25px;
    font-size: 15px;
}

.nx-admin-items table tbody tr {
    border-spacing: 0 30px;
    box-shadow: 0px 10px 22px 0px rgba(0, 4, 32, 0.05);
    vertical-align: middle;
}

.nx-admin-items table tbody tr>td {
    margin-bottom: 20px;
    background-color: #fff;
    vertical-align: middle;
    color: #313236;
}

.nx-admin-items-pagination ul {
    margin: 0px;
    display: flex;
    align-items: center;
}

.nx-admin-items-pagination ul>li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0px;
}
.nx-admin-items-pagination ul>li>a:focus {
    outline: none;
    box-shadow: none;
}
.nx-admin-items-pagination ul>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #5614d5;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    line-height: 30px;
    color: #5614d5;
    border-radius: 3px;
    transition: all 0.1s ease-in;
}

.nx-admin-items-pagination ul>li.nx-current-page>a,
.nx-admin-items-pagination ul>li>a:hover {
    background-color: #2ec7ad;
    border-color: #2ec7ad;
    color: #fff;
}

.nx-admin-type,
.nx-admin-date .nx-admin-publish-status,
.nx-admin-title>strong {
    font-size: 16px;
}

.nx-admin-date .nx-admin-publish-date,
.nx-admin-title .nx-admin-title-actions>a {
    font-size: 14px;
}

.nx-admin-title>strong,
.nx-admin-title>strong a,
.nx-admin-stats>a {
    color: #5614d5;
    font-weight: 400;
}

.nx-admin-title-actions {
    margin-top: 15px;
}

.nx-admin-title-actions>a {
    background-repeat: no-repeat;
    background-size: 13px 15px;
    padding-left: 20px;
    margin-right: 10px;
    color: #555555;
}

.nx-admin-title .nx-admin-title-regenerate {
    background-image: url('../img/icons/regenerate.png');
}
.nx-admin-title .nx-admin-title-edit {
    background-image: url('../img/icons/edit.png');
}

.nx-admin-title .nx-admin-title-duplicate {
    background-image: url('../img/icons/duplicate.png');
}

.nx-admin-title .nx-admin-title-restore {
    background-size: 16px 16px;
    padding-left: 22px;
    background-image: url('../img/icons/restore.png');
}

.nx-admin-title .nx-admin-title-trash {
    color: #c4434e;
    background-image: url('../img/icons/trash.png');
}

.nx-admin-preview img {
    display: block;
    max-width: 100%;
    background-color: #5621d51a;
    padding: 5px;
    box-shadow: 0 0 30px 0px #5621d50d;
}

.nx-admin-status label {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block;
    font-size: 24px;
    margin-left: -3px;
}

.nx-admin-status-title {
    margin-bottom: 8px;
    display: none;
}

.nx-admin-status-title.nxast-enable {
    color: #5614d5;
}

.nx-admin-not-found,
td .nx-admin-not-found p {
    color: #c4434e;
    margin: 0px;
}

.nx-admin-status-title.active {
    display: block;
}

.nx-admin-status input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.nx-admin-status input[type="checkbox"]:checked+label::before {
    background: #5614d5;
    border: 1px solid #5614d5;
}

.nx-admin-status label:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 1em;
    left: 0.1em;
    transition: background 0.1s 0.1s ease;
    background: #cbcfd0;
    border: 1px solid #cbcfd0;
    border-radius: 50px;
}

.nx-admin-status input[type="checkbox"]:checked+label::after {
    left: 1.2em;
    background: #ffffff;
    animation: switch-on 0.3s ease-out;
}

.nx-admin-status label:after {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    left: 0.2em;
    top: 0.14em;
    transition: all 0.2s ease;
    box-shadow: 0 0 0 5px #fcfff4 inset;
    background: #fff;
    z-index: 2;
    animation: switch-off 0.3s ease-out;
}

.nx-stats-tease,
.nx-cmo-conf {
    color: #888888;
    cursor: pointer;
    position: relative;
}

.nx-cmo-conf {
    color: #5614d5;
}

.nx-stats-tease>img {
    filter: blur(3px);
}

.nx-stats-pro-tease {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
}
.nx-stats-pro-tease>a {
    background-color: #6648fe;
    color: #FFF;
    padding: 15px 40px;
    border-radius: 3px;
}
.nx-stats-pro-tease>a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.nx-admin-preview {
    margin: -10px;
}
.nx-header-for-post.nx-analytics-header-counter-wrapper,
.nx-header-for-post-new.nx-analytics-header-counter-wrapper {
    margin-right: 20px;
}
.nx-header-analytics-counter-wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
}
.nx-analytics-header-counter-wrapper.nx-analytics-widget .nx-header-analytics-counter-wrapper {
    flex-direction: column;
    margin-bottom: 0;
}
.nx-analytics-header-counter-wrapper.nx-analytics-widget .nx-header-analytics-counter-wrapper>div:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
}
.nx-header-analytics-counter-wrapper>div {
    flex: 1;
    flex-basis: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
}
.nx-header-analytics-counter {
    background-color: #FFF;
    color: #fff;
    border-radius: 5px;
}

.nx-header-analytics-counter>a {
    color: #4c4d57;
    padding: 45px;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nx-analytics-header-counter-wrapper.nx-analytics-widget .nx-header-analytics-counter>a {
    padding: 25px;
}

.nx-header-analytics-counter>a span.nx-counter-icon {
    margin-right: 20px;
}

.nx-analytics-header-counter-wrapper.nx-analytics-widget .nx-header-analytics-counter>a span.nx-counter-icon>img {
    width: 50px;
}

.nx-header-analytics-counter>a span.nx-counter-number {
    font-size: 50px;
    line-height: 1;
    letter-spacing: 2px;
    display: block;
}

.nx-analytics-header-counter-wrapper.nx-analytics-widget .nx-header-analytics-counter>a span.nx-counter-number {
    font-size: 30px;
}
.nx-analytics-header-counter-wrapper.nx-analytics-widget .nx-header-analytics-counter>a span.nx-counter-label {
    font-size: 14px;
}

.nx-header-analytics-counter>a span.nx-counter-label {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
}
#nx-instructions {
    display: block;
}
.nx-type-instructions-wrapper .nxins-type {
    display: none;
}