.nx-admin-analytics-wrapper {
    padding: 15px;
}

.nx-analytics-menu {
    margin-bottom: 30px;
}

.nx-analytics-form {
    display: flex;
    align-items: stretch;
}

.nx-analytics-form>* {
    flex-basis: 10%;
}

.nx-analytics-form select#nx_notificationx,
.nx-analytics-form .select2.select2-container.select2-container--default {
    flex-basis: 30%;
    /* height: 40px; */
    overflow: hidden;
}

.nx-analytics-form input#nx_start_date,
.nx-analytics-form input#nx_end_date {
    flex-basis: 12%;
}

.nx-analytics-form input:not(.select2-search__field),
.nx-analytics-form select {
    border: 1px solid #f2f2f2;
    padding: 12px;
    border-radius: 0px;
    height: 40px;
}

.nx-analytics-form-field.nx_notificationx {
    flex-basis: 25%;
}

.nx-analytics-form-field.nx_comparison_factor {
    flex-basis: 20%;
}

.nx-analytics-form-field>select {
    width: 100%;
}

.nx-analytics-form-field {
    margin-right: 10px;
}

.nx-analytics-form-field>label {
    display: block;
    font-size: 12px;
    color: #8b8b8b;
    padding: 5px 0px;
}

.nx-analytics-form .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
}
.nx-analytics-form .select2-container--default .select2-selection--multiple {
    border: 1px solid #f2f2f2;
    padding: 5px 0px;
}

.nx-analytics-form .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    margin-bottom: 5px;
}

.nx-analytics-form .select2-selection__rendered,
.nx-analytics-form .select2-container {
    /* display: flex !important; */
    /* align-items: center; */
}

.nx-analytics-form .select2-container>span.selection {
    width: 100%;
}

.nx-analytics-form .select2-selection__rendered .select2-selection__choice {
    padding: 5px;
    margin: 0 5px 0 0;
}

.nx-canvas-area {
    min-height: 300px;
}

#ui-datepicker-div {
    display: none;
}

#nx_analytics_submit.nx-settings-button {
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 5px;
    justify-content: center;
    margin-top: 28px;
}

.nx-analytics-form input:focus,
.nx-analytics-form select:focus {
    outline: none;
    box-shadow: none;
    border-color: #6648fe;
}

.nx-analytics-form input[type="submit"]:focus {
    border: none;
}

/*
'#1abc9c',
'#27ae60',
'#3498db',
'#8e44ad',
'#e67e22',
'#e74c3c',
'#f39c12',
'#34495e',
'#9b59b6',
'#16a085'
*/