/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.fomopress-notification {
    position: fixed;
    left: 30px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 25px 5px #f2f2f2;
}

.fomopress-notification.fomopress-bottom_right {
    right: 30px;
    left: auto;
}

.fomopress-notification-inner {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.fomopress-notification-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.fomopress-notification-image > img {
    height: 100%;
    width: auto;
}
.fomopress-notification-content {
    float: left;
}
.fomopress-notification-content > span {
    display: block;
}


.fomopress-author {
    font-weight: 600;
}

.fomopress-time { 
    display: block;
}

.fomopress-press-bar {
    background: #ddd;
    position: absolute;
    z-index: 9;
    visibility: hidden;
    width: 100%;
    left: 0;
    text-align: center;
}
.fomopress-press-bar .fomopress-bar-inner {
    padding: 20px;
    display: inline-block;
}

.fomopress-press-bar-content {
    display: flex;
    align-items: center;
}

.fomopress-countdown-wrapper {
    display: flex;
    align-items: center;
}

.fomopress-countdown {overflow: hidden;}

.fomopress-countdown-text {
    margin-right: 10px;
}

.fomopress-time-section {
    float: left;
    margin: 0 5px;
    padding: 10px;
    background: #fff;
}

.fomopress-time-section > span {
    display: block;
}

.fomopress-bar-content {
    display: inline-block;
    margin-left: 15px;
}

a.fomopress-bar-button {
    background: #999;
    color: #fff;
    font-size: 14px;
    padding: 6px 15px;
    border-radius: 5px;
    margin-left: 15px;
}

.fomopress-close {
    margin: 0;
    position: absolute;
    right: 10px;
    margin-top: -5px;
    cursor: pointer;
    top: 50%;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 17px;
    font-size: 14px;
}

.fomopress-press-bar.fomopress-position-bottom {
    position: fixed;
    bottom: 0;
}
.fomopress-press-bar.fomopress-position-top {
    top: 0;
}

.fomopress-press-bar-visible {
    visibility: visible;
}

.fomopress-countdown.fomopress-expired {}

.fomopress-countdown.fomopress-expired .fomopress-time-section {
    background-color: #f2f2f2;
}
.fomopress-countdown.fomopress-expired .fomopress-time-section > span,
.fomopress-countdown .fomopress-expired-text {
    display: none;
}

.fomopress-countdown.fomopress-expired .fomopress-expired-text {
    display: block;
}