/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.nx-notification {
    position: fixed;
    left: 30px;
    z-index: 9999;
}

a.notificationx-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    /* z-index: 999; */
}

.nx-notification.nx-bottom_right {
    right: 30px;
    left: auto;
}

.notificationx-inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    max-width: 400px;
}

.nx-flex-reverse.notificationx-inner {
    flex-direction: row-reverse;
}

.nx-has-close-btn.notificationx-inner {
    padding-right: 30px !important;
}

span.notificationx-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    cursor: pointer;
    width: 8px;
    height: 8px;
}

span.notificationx-close>svg {
    fill: #000000;
    position: absolute;
}

/*
    Notification Image CSS
*/
.notificationx-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.nx-img-right .notificationx-image {
    margin-left: 15px;
    margin-right: 0px;
}

.notificationx-image img.nx-img-square {
    border-radius: 0px !important;
}

.notificationx-image img.nx-img-circle,
.notificationx-image>img {
    border-radius: 50% !important;
}

.notificationx-image img.nx-img-rounded {
    border-radius: 5px !important;
}

.notificationx-image>img {
    width: 100%;
}

/*
    Notification Content CSS
*/
.notificationx-inner.nx-img-right .notificationx-content {
    display: flex;
    flex-direction: column;
}

.notificationx-inner.nx-img-right .notificationx-content .nx-branding {
    position: static;
    margin-left: 0px;
    padding: 5px 0px 0px
}

.notificationx-content {
    float: left;
    min-width: 200px;
}

.notificationx-content>span {
    display: block;
}

.nx-first-row {
    font-size: 12px;
    line-height: 1.2;
}

.nx-second-row {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.5;
}

.nx-third-row {
    font-size: 11px;
    line-height: 1;
}

/*
    NotificationXBar CSS
*/
.nx-author {
    font-weight: 600;
}

.nx-time {
    display: block;
}

.nx-bar {
    background: #ddd;
    position: absolute;
    z-index: 999999;
    visibility: hidden;
    width: 100%;
    left: 0;
    text-align: center;
    transition: height 0.3s ease-in-out 0s;
}

.nx-bar .nx-bar-inner {
    padding: 20px;
    display: inline-block;
}

.nx-bar-content-wrap {
    display: flex;
    align-items: center;
}

.nx-bar-content {
    display: inline-block;
    margin-left: 15px;
}


.nx-bar.nx-position-bottom {
    position: fixed;
    bottom: 0;
}

.nx-bar.nx-position-top {
    top: 0;
}

.nx-bar-visible {
    visibility: visible;
}

a.nx-bar-button {
    font-size: 14px;
    padding: 6px 15px;
    margin-left: 15px;
    background-color: #262626;
    color: #fff;
    border-radius: 3px;
}

a.nx-bar-button:hover {
    color: #fff;
}

.nx-close {
    margin: 0;
    position: absolute;
    right: 30px;
    margin-top: -5px;
    cursor: pointer;
    top: 50%;
    color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 17px;
    font-size: 14px;
}

.nx-close>svg {
    position: absolute;
    left: 0;
}

.nx-sticky-bar {
    position: fixed;
    width: 100%;
}


/*
    NotificationX CountDown CSS
*/

.nx-countdown-wrapper {
    display: flex;
    align-items: center;
}

.nx-countdown {
    overflow: hidden;
    background-color: #262626;
    color: #FFF;
}

.nx-countdown-text {
    margin-right: 10px;
}

.nx-time-section {
    float: left;
    margin: 0 5px;
    padding: 10px;
    position: relative;
    width: 40px;
}

.nx-time-section:after {
    content: ":";
    position: absolute;
    right: -6px;
    top: 9px;
    line-height: 1;
}

.nx-time-section:last-of-type:after {
    display: none;
}

.nx-time-section>span {
    display: block;
    line-height: 1;
}

.nx-time-section>span.nx-countdown-time-text {
    display: none;
    font-size: 14px;
}

.nx-countdown.nx-expired .nx-time-section {
    background-color: #262626;
}

.nx-countdown.nx-expired .nx-time-section>span,
.nx-countdown .nx-expired-text {
    display: none;
}

.nx-countdown.nx-expired .nx-expired-text {
    display: block;
}

/* Nx Bar Theme CSS */

.nx-bar {}

.nx-bar.theme-two {
    background-color: #5704A2;
    color: #FFF;
}

.nx-bar.theme-three {
    background-color: #3F4462;
    color: #FFF;
}

.nx-bar.theme-three .nx-time-section,
.nx-bar.theme-three a.nx-bar-button {
    background-color: #6549FE;
}

.nx-bar.theme-three .nx-time-section:after {
    content: '';
}

.nx-bar.theme-three .nx-countdown {
    background-color: transparent;
}

.nx-bar.theme-three .nx-time-section {
    width: 55px;
}

.nx-bar.theme-three .nx-time-section>span.nx-countdown-time-text {
    display: block;
}

.nx-bar.theme-three p.nx-close>svg,
.nx-bar.theme-two p.nx-close>svg {
    fill: #FFF;
}


/* Powered By CSS */
.nx-branding {
    font-size: 10px;
    color: #999;
    margin-left: 2px;
    vertical-align: middle;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 9999;
    padding: 5px;
}

.nx-branding svg {
    position: relative;
    top: 4px;
}

a.nx-powered-by {
    cursor: pointer;
    color: #5614D5;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

a.nx-powered-by:hover {
    color: #21D8A3;
}

/* Theme specific CSS */

.notificationx-inner.nx-notification-theme-one {
    border: 1px solid #f2f2f2;
}

.notificationx-inner.nx-notification-theme-two,
.notificationx-inner.nx-notification-total-download,
.notificationx-inner.nx-notification-review_saying,
.notificationx-inner.nx-notification-reviewed {
    border-radius: 50px;
    padding-right: 50px;
}

.notificationx-inner.nx-notification-theme-two span.notificationx-close,
.notificationx-inner.nx-notification-review_saying span.notificationx-close,
.notificationx-inner.nx-notification-reviewed span.notificationx-close,
.notificationx-inner.nx-notification-total-download span.notificationx-close {
    right: 20px;
    top: 25px;
}

.nx-notification-theme-two .nx-branding,
.nx-notification-review_saying .nx-branding,
.nx-notification-reviewed .nx-branding,
.nx-notification-total-download .nx-branding {
    right: 20px;
}

.nx-notification-total-download .notificationx-content .nx-first-row,
.nx-notification-today-download .notificationx-content .nx-first-row,
.nx-notification-7day-download .notificationx-content .nx-first-row,
.nx-notification-actively_using .notificationx-content .nx-second-row,
.nx-notification-review_saying .notificationx-content .nx-second-row {
    color: #6c63ff;
}

.nx-download_stats .nx-notification-actively_using .notificationx-content .nx-first-row {
    font-weight: 400;
}

.nx-download_stats .nx-notification-actively_using .notificationx-content .nx-second-row {
    font-weight: 700;
}

.nx-notification-total-download .notificationx-content .nx-third-row,
.nx-notification-today-download .notificationx-content .nx-third-row,
.nx-notification-7day-download .notificationx-content .nx-third-row {
    color: #999;
}

.nx-notification-review_saying .notificationx-content {
    max-width: 250px;
}

/* Comments Theme Three */
.notificationx-inner.nx-notification-theme-three {
    padding: 0px;
}

.notificationx-inner.nx-notification-theme-three .notificationx-image {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.notificationx-inner.nx-notification-theme-three .notificationx-image {
    border-right: 1px solid #f2f2f2;
}

.notificationx-inner.nx-notification-theme-three.nx-img-right .notificationx-image {
    border-left: 1px solid #f2f2f2;
    border-right: 0px;
}

.notificationx-inner.nx-img-right.nx-notification-theme-three .notificationx-content {
    padding-left: 15px;
}

.notificationx-inner.nx-notification-theme-three.nx-img-right .notificationx-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.notificationx-inner.nx-notification-theme-three.nx-img-right .notificationx-image {
    height: auto;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.notificationx-inner.nx-notification-theme-two.nx-img-right.nx-has-close-btn {
    padding-right: 20px !important;
}

.notificationx-inner.nx-notification-theme-two.nx-img-right.nx-has-close-btn .notificationx-content {
    padding-left: 25px;
}

.notificationx-inner.nx-notification-theme-two.nx-img-right span.notificationx-close {
    right: auto;
    left: 19px;
    top: 50%;
    margin-top: -4px;
}

.nx-download_stats .nx-notification-theme-two {}

.nx-download_stats .notificationx-content .nx-first-row {
    font-weight: 700;
}

.nx-download_stats .notificationx-content .nx-second-row {
    font-size: 12px;
    font-weight: 400;
}

.nx-download_stats .notificationx-image>img,
.nx-reviews .notificationx-image>img {
    width: 100%;
}
/* Comment theme four, Review theme review-comment*/
.nx-wp_comments .notificationx-inner.nx-notification-theme-four,
.notificationx-inner.nx-notification-review-comment{
    background-color: transparent !important;
    box-shadow: none;
    padding: 0;
    overflow: visible;
    align-items: stretch;
}
.nx-has-close-btn.notificationx-inner.nx-notification-theme-four,
.nx-has-close-btn.notificationx-inner.nx-notification-review-comment{
    padding-right: 0 !important;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-image,
.notificationx-inner.nx-notification-review-comment .notificationx-image{
    width: auto;
    padding: 10px;
    box-shadow: 0 0 30px 0 rgba(36,30,157,.12);
    flex-shrink: 0;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    overflow: visible;
    border-bottom-right-radius: 0;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-image:after,.notificationx-inner.nx-notification-review-comment .notificationx-image:after{
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid #fff;
    width: 56px;
    height: 39px;
    z-index: 2;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-image:before,
.notificationx-inner.nx-notification-review-comment .notificationx-image:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    right: 0;
    bottom: 0;
    box-shadow: 0 20px 30px rgba(36,30,157,.12);
    z-index: 1;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-image img,
.notificationx-inner.nx-notification-review-comment .notificationx-image img{
    width: 100%;
    max-width: 100px;
    position: relative;
    z-index: 3;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-content,
.notificationx-inner.nx-notification-review-comment .notificationx-content{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(36,30,157,.12);
    font-family: 'Roboto',sans-serif;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-content .nx-first-row,
.notificationx-inner.nx-notification-review-comment .notificationx-content .nx-first-row{
    font-size: 16px;
    font-weight: 700;
    color: #484d6b;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-content .nx-first-row .title,
.notificationx-inner.nx-notification-review-comment .notificationx-content .nx-first-row .title{
    color: #4f06ce;
}
.nx-wp_comments .notificationx-inner.nx-notification-theme-four .notificationx-content .nx-second-row,
.notificationx-inner.nx-notification-review-comment .notificationx-content .nx-second-row{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 7px;
    color: #697097;
}
.notificationx-inner.nx-notification-theme-four .nx-branding,
.notificationx-inner.nx-notification-review-comment .nx-branding{
    bottom: 12px;
    padding-top: 0;
    right: 15px;
}
.notificationx-inner.nx-notification-theme-four span.notificationx-close,
.notificationx-inner.nx-notification-review-comment span.notificationx-close{
    right: 15px;
}
/*Comment theme five, Comment theme six*/
.notificationx-inner.nx-notification-theme-five,
.notificationx-inner.nx-notification-theme-six{
    border-radius: 120px;
    padding: 0;
    overflow: visible;
    max-height: 120px;
    min-width: 400px;
    box-shadow: 0 0 25px rgba(36,30,157,.12);
}
.notificationx-inner.nx-notification-theme-five .notificationx-image,
.notificationx-inner.nx-notification-theme-six .notificationx-image{
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    overflow: visible;
}
.notificationx-inner.nx-notification-theme-five .notificationx-image{
    background-color: #fae8f4;
}
.notificationx-inner.nx-notification-theme-six .notificationx-image{
    background-color: #f0edff;
}
.notificationx-inner.nx-notification-theme-five .notificationx-image:before,
.notificationx-inner.nx-notification-theme-six .notificationx-image:before{
    content: '';
    width: 28px;
    height: 28px;
    background-image: url("../img/nx-quote-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    box-shadow: 0 0 10px rgba(36,30,157,.12);
    z-index: 1;
}
.notificationx-inner.nx-notification-theme-five .notificationx-image:before{
    background-color: #fe67b7;
}
.notificationx-inner.nx-notification-theme-six .notificationx-image:before{
    background-color: #7253ec;
}
.notificationx-inner.nx-notification-theme-five .notificationx-content,
.notificationx-inner.nx-notification-theme-six .notificationx-content{
    padding: 15px 0;
    font-family: "Roboto", sans-serif;
}
.notificationx-inner.nx-notification-theme-five .notificationx-content .nx-first-row,
.notificationx-inner.nx-notification-theme-six .notificationx-content .nx-first-row{
    font-size: 16px;
    font-weight: 700;
    color: #484d6b;
    padding-right: 15px;
}
.notificationx-inner.nx-notification-theme-five .notificationx-content .title{
    color: #fe67b7;
}
.notificationx-inner.nx-notification-theme-six .notificationx-content .title{
    color: #7253ec;
}
.notificationx-inner.nx-notification-theme-five .notificationx-content .nx-second-row,
.notificationx-inner.nx-notification-theme-six .notificationx-content .nx-second-row{
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 7px;
    color: #4b5171;
    line-height: 1.4;
    font-style: italic;
}
.notificationx-inner.nx-notification-theme-five .notificationx-content .notificationx-close,
.notificationx-inner.nx-notification-theme-six .notificationx-content .notificationx-close{
    right: 35px;
    top: 17px;
}
.notificationx-inner.nx-notification-theme-five .notificationx-content .nx-branding,
.notificationx-inner.nx-notification-theme-six .notificationx-content .nx-branding{
    padding: 0;
    right: 40px;
    bottom: 12px;
}
.notificationx-inner.nx-notification-theme-six .notificationx-content{
    background-image: url("../img/nx-quote-bg.png");
    background-repeat: no-repeat;
    background-position: left 53%;
}