.nx-notification.nx-comments {
	& .nx-notification-theme-two {
		border-radius: 50px;
		& span.notificationx-close {
			right: 20px;
			top: 20px;
		}
		&.nx-img-right { 
			& > .notificationx-content {
				padding-left: 40px;
				padding-right: 10px;
			}
			& span.notificationx-close {
				right: auto;
				top: 50%;
				left: 20px;
				margin-top: -4px;
			}
		}
	}
	& .nx-notification-theme-one, & .nx-notification-theme-two, & .nx-notification-theme-three {
		& .notificationx-content  {
			& .nx-first-row {
				& .nx-first-word {
					@include fontWeight( 500 );
				}
			}
			& .nx-second-row {
				& .nx-first-word {
					@include fontWeight( 600 );
					@extend %text-ellipsis;
				}
			}
		}
	}
	& .nx-notification-theme-one, & .nx-notification-theme-two {
		background-color: #fff;
		& .notificationx-image  {
			border-radius: 50%;
			overflow: hidden;
		}
	}
	& .nx-notification-theme-three {
		background-color: #fff;
		& .notificationx-content  {
			@include border(1px, solid, #ddd);
		}
		&.nx-img-right { 
			& .notificationx-content  {
				border-left: none;
				@include border(1px, solid, #ddd, 'right');
			}	
		}
	}
	
	& .nx-notification-theme-seven-free {
		border-radius: 200px;
		& span.notificationx-close {
			right: 30px;
			top: 20px;
		}
		& .notificationx-image  {
			border-radius: 50%;
		}
	}
}