// DOWNLOAD STATS THEMES CSS
.notificationx-shortcode-wrapper > .nx-notification.nx-download_stats, .nx-notification.nx-download_stats,
.notificationx-shortcode-wrapper > .nx-notification.nx-custom, .nx-notification.nx-custom {
	& .nx-notification-today-download, & .nx-notification-7day-download {
		& .notificationx-content {
			& .nx-first-row {
				color: #7253ec;
				@include fontWeight( 700 );
			}
			& .nx-third-row {
				& .nx-first-word {
					color: #45c9b1;
				}
			}
		}
	}

	& .nx-notification-7day-download, & .nx-notification-actively_using {
		border-radius: 10px;
		& .notificationx-content {
			justify-content: space-between;
			& .nx-third-row {
				& .nx-first-word {
					color: #999;
				}
			}
		}
	}

	& .nx-notification-actively_using {
		& .notificationx-content {
			justify-content: space-evenly;
			& .nx-second-row {
				& .nx-first-word {
					color: #7253ec;
					@include fontWeight(700);
				}
			}
		}
	}

	& .nx-notification-total-download {
		border-radius: 200px;
		& .notificationx-image {
			border-radius: 50%;
			padding: 5px;
			margin-right: 0px;
			background: none;
			& > img {
				border-radius: 50%;
			}
		}
		& span.notificationx-close {
			right: 20px;
			top: 20px;
		}
		& .notificationx-content {
			padding-left: 10px;
			& .nx-first-row {
				& .nx-first-word {
					color: #7253ec;
					@include fontWeight(700);
				}
			}
			& .nx-third-row {
				font-size: 11px;
				& .nx-first-word {
					color: #999;
				}
			}
		}

		&.nx-img-right {
			& .notificationx-image {
				margin-left: 0px;
				margin-right: 10px;
			}
			& .notificationx-content { 
				padding-left: 40px;
			}
			& span.notificationx-close {
				@extend %left-center-close;
			}
		}

		&.nx-img-rounded {
			& .notificationx-image {
				border-radius: 0px;
				& > img {
					border-radius: 5px;
				}
			}
		}
	}

}