// Reviews Themes CSS
.notificationx-shortcode-wrapper > .nx-notification.nx-reviews, .nx-notification.nx-reviews,
.notificationx-shortcode-wrapper > .nx-notification.nx-custom, .nx-notification.nx-custom {
    & .nx-notification-total-rated {
        & .notificationx-content {
            & .nx-first-row, & .nx-second-row {
                @include fontWeight(700);
            }
            & .nx-second-row {
				color: #7253ec;
            }
        }
    }
    & .nx-notification-reviewed, & .nx-notification-review_saying {
        border-radius: 200px;
        & span.notificationx-close {
			right: 20px;
			top: 20px;
        }
        &.nx-img-right {
            & span.notificationx-close {
                @extend %left-center-close;
            }
            & .notificationx-content {
                padding-left: 40px;
            }
        }
        & .notificationx-image {
			border-radius: 50%;
			& > img {
				border-radius: 50%;
			}
		}
		&.nx-img-rounded, &.nx-img-square {
			& .notificationx-image {
				padding: 10px;
				& > img {
					border-radius: 5px;
				}
			}
		}
		&.nx-img-square {
			& .notificationx-image {
				& > img {
					border-radius: 0px;
				}
			}
		}
    }

    & .nx-notification-review_saying {
        & .notificationx-content {
            padding-right: 40px;
            padding-left: 0px;
            & .nx-second-row {
                @include fontWeight(700);
            }
            & .nx-second-row {
                color: #7253ec;
            }
            & .nx-third-row {
                & .nx-first-word {
                    color: #45c9b1;
                }
            }
        }
        &.nx-img-right {
            & .notificationx-content {
                padding-right: 0px;
                padding-left: 40px;
            }
        }
    }
}

// REVIEW THEMES LIKE COMMENTS
.notificationx-shortcode-wrapper > .nx-notification.nx-reviews, .nx-notification.nx-reviews,
.notificationx-shortcode-wrapper > .nx-notification.nx-custom, .nx-notification.nx-custom {
	// SIX
	& .nx-notification-review-comment {
		@extend %bgnone;
		@extend %box-shadow-none;
		& .notificationx-image {
			@extend %box-shadow;
			border-radius: 10px;
			align-self: stretch;
			@extend %posr;
			@extend %flex;
			@extend %flex-align-center;
			@extend %flex-justify-center;
			min-width: 140px;
			height: auto;
			margin: 0;
			padding: 20px;
			margin-right: 15px;
			overflow: visible;
			&:after {
				@extend %posa;
				@extend %content;
				position: absolute;
				bottom: -10px;
				right: 0;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-right: 30px solid #fff;
				width: 56px;
				height: 39px;
				z-index: 2;
			}
		}
		&.nx-img-right { 
			& .notificationx-image  {
				margin-left: 15px;
				margin-right: 0px;
			}	
		}
		& .notificationx-content {
			background-color: #fff;
			border-radius: 10px;
			padding: 15px; 
			@extend %box-shadow;
			& .nx-first-row {
				font-size: 16px;
				@include fontWeight(700);
				& .nx-first-word, & .nx-fourth-word {
					color: #7253ec;
				}
			}
			& .nx-second-row {
				color: #697097;
				max-width: 280px;
			}
			& .nx-third-row {
				margin-top: 5px;
			}
		}
		&.nx-img-circle {
			& .notificationx-image {
				& > img {
					border-radius: 50%;
					height: auto;
				}
			}
		}
		&.nx-img-rounded {
			& .notificationx-image {
				& > img {
					border-radius: 10px;
				}
			}
		}

		@media only screen and (max-width: 786px) {
			& .notificationx-image {
				display: none;
			}
		}
	}
	// SEVEN, EIGHT
	& .nx-notification-review-comment-2, & .nx-notification-review-comment-3 {
		border-radius: 200px;
        color: #484d6b;
        &:before {
            @include quote_icon( 28px, #fe67b7 );
        }
		& span.notificationx-close {
			right: 40px;
			top: 20px;
		}
		& .notificationx-image  {
            border-radius: 50%;
            padding: 10px;
			min-width: 120px;
			height: 120px;
			margin: 0;
			flex-basis: 120px;
			overflow: hidden;
			background: none;
			@extend %posr;
			& > img {
				// @extend %posa;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				// left: 15px;
                // top: 15px;
			}
		}
		& .notificationx-content {
            padding-left: 0px;
			& .nx-first-row {
				font-weight: 700;
				& .nx-first-word {
					color: #fe67b7;
				}
			}
			& .nx-second-row {
				font-weight: 400;
				font-size: 13px;
				margin-bottom: 7px;
				margin-top: 5px;
				color: inherit;
				line-height: 1.4;
				font-style: italic;
				max-width: 280px;
			}
			& .nx-branding {
				margin-right: 10px
			}
			& .nx-third-row {
				margin-top: 5px;
			}
		}
		&.nx-img-right { 
			& .notificationx-content  {
				padding-left: 40px;
				padding-right: 0px;
                background-position: 40px 53%;
			}	
			& span.notificationx-close {
				@extend %left-center-close;
			}
		}
		&.nx-img-circle { 
			& .notificationx-image {
				& > img {
					border-radius: 50%;
				}
			}
		}
		&.nx-img-rounded, &.nx-img-square {
			& .notificationx-image { 
				padding: 20px;
			}
		}
		&.nx-img-rounded { 
			& .notificationx-image {
				& > img {
					border-radius: 10px;
				}
			}
		}
		&.nx-img-square { 
			& .notificationx-image {
				& > img {
					border-radius: 0px;
				}
			}
		}

		@media only screen and (max-width: 786px) {
			& .notificationx-image {
				min-width: 60px;
				width: 60px;
				height: 60px;
				flex-basis: 60px;
				margin: 5px;
				& > img {
					// width: 100%;
					// height: 100%;
					// left: 0;
					// top: 0;
				}
			}
		}
	}
	// EIGHT
	& .nx-notification-review-comment-3 {
        &:before {
            background-color: #7253ec;
        }
		& .notificationx-content {
			background-image: url('../img/nx-quote-bg.png');
			background-repeat: no-repeat;
			background-position: 10px 53%;
			& .nx-first-row {
				& .nx-first-word {
					color: #7253ec;
				}
			}
		}
	}
}