// color theme one
.themes-page_analytics_pa-theme-one,
.themes-donation_theme-four,
.themes-donation_theme-five,
.themes-donation_maps_theme,
.themes-woocommerce_sales_theme-four,
.themes-woocommerce_sales_theme-five,
.themes-woocommerce_sales_maps_theme,
.themes-conversions_theme-four,
.themes-conversions_theme-five,
.themes-conversions_maps_theme,
.themes-total-rated,
.themes-reviewed,
.themes-review_saying,
.themes-download_stats_actively_using,
.themes-comments_theme-four,
.themes-comments_theme-five,
.themes-comments_maps_theme,
.themes-elearning_theme-four,
.themes-elearning_theme-five,
.themes-elearning_maps_theme,
.themes-email_subscription_theme-two,
.themes-email_subscription_theme-three,
.themes-google_reviews_maps_theme,
.themes-email_subscription_maps_theme,
.themes-email_subscription_theme-one {
    .notificationx-content {
        &>p {
            &.nx-first-row {
                font-size: 13px;
                font-weight: 500;
                color: #000;
            }

            &.nx-second-row {
                font-size: 14px;
                font-weight: 500;
                color: #6a4bff;

                >span {
                    span {

                        @media only screen and (max-width: 576px) {
                            display: none;
                        }
                    }
                }
            }

            &.nx-third-row {
                font-size: 10px;
                color: #7c8db5;
            }
        }
    }
}

.themes-review_saying {
    .notificationx-content {
        &>p {
            &.nx-third-row {
                color: #45c9b1;
            }
        }
    }
}

.themes-google_reviews_maps_theme {
    .notificationx-content {
        &>p {
            &.nx-second-row {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}