.themes-youtube_channel-1,
.themes-youtube_video-2,
.themes-youtube_video-4 {
    border-radius: 6px;
    box-shadow: 0px 12px 24px 0px rgba(0, 1, 35, 0.08);

    .notificationx-inner {
        .notificationx-image {
            padding: 8px;
            > img {
                border-radius: 4px;
            }
        }
        .notificationx-content {
            padding: 8px 4px;
            margin-left: 0;
            margin-right: 0;
            & > p {
                &.nx-first-row {
                    font-size: 16px;
                    line-height: 20px;
                    color: #344054 !important;
                    font-weight: 500;
                    margin-bottom: 10px;
                    // > span {
                    //     span {
                    //         &:nth-child(1),
                    //         &:nth-child(2) {
                    //             font-weight: 500;
                    //             color: #000;
                    //         }
                    //     }
                    // }
                }
                &.nx-second-row {
                    color: #667085;
                    > span {
                        font-size: 12px;
                        width: 100%;
                        display: flex;
                        gap: 2px;
                        font-weight: 400;
                        > span:nth-child(1) {
                            color: #5614D5;
                            font-weight: 500;
                        }
                        > span:nth-child(2) {
                            margin-right: 12px;
                        }
                        > span:nth-child(3) {
                            color: #5614D5;
                            font-weight: 500;
                        }
                        > span:nth-child(5) {
                            color: #5614D5;
                            font-weight: 500;
                            margin-left: 12px;
                        }
                    }
                }
                &.nx-third-row {
                    > span {
                        margin-right: 0;
                        // font-size: 13px;
                        // width: 100%;
                        // display: grid;
                        // grid-template-columns: repeat(3, 1fr);
                        // gap: 5px;
                        // color: #b6bfd1;
                    }
                    .nx-branding {
                        width: 100%;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    > .notificationx-link {
        background: #CC0000 !important;
        right: 0 !important;
        padding: 6px 12px !important;
    }
}

.themes-youtube_channel-2,
.themes-youtube_video-1, 
.themes-youtube_video-3 {
    border-radius: 50px 8px 8px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(-10px 0px 15px rgba(0, 0, 0, 0.1));
    
    .notificationx-inner {
        border-radius: 50px 8px 8px 50px;
        .notificationx-image {
            flex-basis: 90px;
            width: 90px;
            min-width: 90px;
            border-radius: 50%;
            box-shadow: 0 0 0 20px #fff;
            padding: 0px;
            animation: bling 1.5s infinite;
            position: relative;
            @keyframes bling {
                0% {
                    outline: 0px solid rgba(204, 0, 0, .8);
                }
                33% {
                    outline: 3px solid rgba(204, 0, 0, .6);
                }
                66% {
                    outline: 7px solid rgba(204, 0, 0, .4);
                }
                100% {
                    outline: 10px solid rgba(204, 0, 0, .2);
                }
            }
            @keyframes bling-before {
                0% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(1.2);
                }
            }
            @keyframes bling-after {
                0% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(1.4);
                }
            }
            img {
                border-radius: 50%;
                height: 100%;
            }
        }
        // .notificationx-content {
        //     width: 100%;
        //     margin-right: 10px;
        //     margin-left: 20px;
        // }
        .notificationx-content {
            padding: 16px 4px;
            margin-left: 20px;
            margin-right: 0;
            & > p {
                &.nx-first-row {
                    font-size: 16px;
                    line-height: 20px;
                    color: #344054 !important;
                    font-weight: 500;
                    margin-bottom: 6px;
                    // > span {
                    //     span {
                    //         &:nth-child(1),
                    //         &:nth-child(2) {
                    //             font-weight: 500;
                    //             color: #000;
                    //         }
                    //     }
                    // }
                }
                &.nx-second-row {
                    color: #5614D5;
                    > span {
                        font-size: 12px;
                        width: 100%;
                        display: flex;
                        font-weight: 500;
                        > span:nth-child(1) {
                            margin-right: 8px;
                        }
                    }
                }
                &.nx-third-row {
                    > span {
                        margin-right: 0;
                        // font-size: 13px;
                        // width: 100%;
                        // display: grid;
                        // grid-template-columns: repeat(3, 1fr);
                        // gap: 5px;
                        // color: #b6bfd1;
                    }
                    .nx-branding {
                        width: 100%;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    
    > .notificationx-link {
        background: #CC0000 !important;
        right: 0 !important;
        padding: 6px 12px !important;
    }
}


// .themes-youtube_video-1 {
//     .notificationx-content {
//         & > p {
//             &.nx-first-row {
//                 font-size: 14px;
//                 color: #000 !important;
//                 font-weight: 600;
//             }
//             &.nx-second-row {
//                 margin-top: 5px;
//                 > span {
//                     font-size: 13px;
//                     width: 100%;
//                     display: grid;
//                     grid-template-columns: repeat(3, 1fr);
//                     gap: 5px;
//                     color: #000;
//                     font-weight: 600;
//                 }
//             }
//             &.nx-third-row {
//                 > span {
//                     font-size: 13px;
//                     width: 100%;
//                     display: grid;
//                     grid-template-columns: repeat(3, 1fr);
//                     gap: 5px;
//                     color: #b6bfd1;
//                 }
//                 .nx-branding {
//                     width: 100%;
//                     margin-top: 10px;
//                 }
//             }
//         }
//     }
// }
