// color theme one
.themes-page_analytics_pa-theme-one,
.themes-donation_theme-four,
.themes-donation_theme-five,
.themes-donation_maps_theme,
.themes-conversions_theme-four,
.themes-conversions_theme-five,
.themes-conversions_maps_theme,
.themes-reviews_total-rated,
.themes-reviews_reviewed,
.themes-reviews_review_saying,
.themes-download_stats_actively_using,
.themes-comments_theme-four,
.themes-comments_theme-five,
.themes-comments_maps_theme,
.themes-elearning_theme-four,
.themes-elearning_theme-five,
.themes-elearning_maps_theme,
.themes-email_subscription_theme-two,
.themes-email_subscription_theme-three,
.themes-email_subscription_maps_theme,
.themes-email_subscription_theme-one{
  .notificationx-inner {
      .notificationx-content {
          & > p {
              &.nx-first-row {
                  font-size: 13px;
                  font-weight: 500;
                  color: #000;
              }
              &.nx-second-row {
                  font-size: 14px;
                  font-weight: 500;
                  color: #6A4BFF;
              }
              &.nx-third-row {
                  font-size: 10px;
                  color: #7C8DB5;
              }
          }
      }
  }
}
.themes-reviews_review_saying{
  .notificationx-inner {
      .notificationx-content {
          & > p {
              &.nx-third-row {
                  color: #45C9B1;
              }
          }
      }
  }
}