// color theme two
.themes-comments_theme-one,
.themes-comments_theme-two,
.themes-comments_theme-three,
.themes-elearning_theme-one,
.themes-elearning_theme-two,
.themes-elearning_theme-three,
.themes-donation_theme-three,
.themes-donation_theme-two,
.themes-donation_theme-one,
.themes-form_theme-three,
.themes-form_theme-two,
.themes-form_theme-one,
.themes-woocommerce_theme-three,
.themes-woocommerce_theme-one,
.themes-woocommerce_theme-two,
.themes-conversions_theme-three,
.themes-conversions_theme-one,
.themes-conversions_theme-two {
    .notificationx-content {
        & > p {
            &.nx-first-row {
                font-size: 14px;
                color: #7c8db5;
                font-weight: 400;
                .nx-first-word {
                    font-weight: 500;
                }
            }
            &.nx-second-row {
                font-size: 14px;
                font-weight: 500;
                color: #000;
            }
            &.nx-third-row {
                font-size: 10px;
                color: #7c8db5;
            }
        }
    }
}
