@import "color-theme-one";
@import "color-theme-two";
@import "color-theme-three";
@import "color-theme-four";
@import "color-theme-five";
@import "color-theme-six";
@import "color-theme-youtube";

.themes-download_stats_actively_using,
.themes-download_stats_7day-download,
.themes-page_analytics_pa-theme-one,
.themes-woocommerce_conv-theme-seven,
.themes-woocommerce_theme-one,
.themes-conversions_conv-theme-seven,
.themes-conversions_theme-one {
    border-radius: 5px !important;
}

.themes-elearning_conv-theme-nine,
.themes-donation_conv-theme-nine,
.themes-woocommerce_conv-theme-nine,
.themes-conversions_conv-theme-nine,
.themes-page_analytics_pa-theme-two {
    border-radius: 5px !important;
    background: transparent !important;
    .notificationx-image,
    .notificationx-content {
        border-radius: 5px !important;
    }
}
