@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
.notificationx-frontend,
#notificationx-frontend,
#notificationx-frontend-crosssite {
    font-family: "Open Sans", sans-serif;
    text-shadow: none;
    color: #000;
    .nx-container {
        position: fixed;
        // overflow-y: scroll;
        // height    : 85%;
        z-index: 99998;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        &.nxc-bottom_left {
            bottom: 30px;
            left: 30px;
            right: 0px;
            align-items: flex-start;
            @media only screen and (max-width: 480px) {
                bottom: 10px;
                left: 10px;
                right: 10px;
            }
        }
        &.nxc-bottom_right {
            bottom: 30px;
            right: 30px;
            left: 0px;
            align-items: flex-end;
            @media only screen and (max-width: 480px) {
                bottom: 10px;
                right: 10px;
                left: 10px;
            }
        }
        .nx-notification {
            pointer-events: initial;
        }
    }
}

@keyframes SlideBottom {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(1000%);
    }
}

@keyframes SlideTop {
    0% {
        transform: translateY(1000%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
