/*
    NotificationX CountDown CSS
*/

.nx-countdown-wrapper {
	display: flex;
	align-items: center;
}

.nx-countdown {
	overflow: hidden;
	background-color: #262626;
	color: #FFF;
}

.nx-countdown-text {
	margin-right: 10px;
}

.nx-time-section {
	float: left;
	margin: 0 5px;
	padding: 10px;
	position: relative;
	width: 40px;
}

.nx-time-section:after {
	content: ":";
	position: absolute;
	right: -6px;
	top: 9px;
	line-height: 1;
}

.nx-time-section:last-of-type:after {
	display: none;
}

.nx-time-section > span {
	display: block;
	line-height: 1;
}

.nx-time-section > span.nx-countdown-time-text {
	display: none;
	font-size: 14px;
}

.nx-countdown.nx-expired .nx-time-section {
	background-color: #262626;
}

.nx-countdown.nx-expired .nx-time-section > span,
.nx-countdown .nx-expired-text {
	display: none;
}

.nx-countdown.nx-expired .nx-expired-text {
	display: block;
}