%content {
    content: '';
}
%posa {
    position: absolute;
}
%posr {
    position: relative;
}
%flex {
    display: flex;
}
%flex-direction-column {
    flex-direction: column;
}
%flex-align-center {
    align-items: center;
}
%flex-justify-center {
    justify-content: center;
}
%self-stretch {
    align-self: stretch;
}

%wh100 {
    width: 100%;
    height: 100%;
}
%lr0 {
    left: 0;
    right: 0;
}
%outline {
    outline: none;
}
%text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    display: inline-block;
    @media only screen and (max-width: 786px) {
        width: 180px;
    }
    @media only screen and (min-width: 480px) and (max-width: 786px) {
        width: 200px;
    }
}

%bgnone {
    background: none;
}

%left-center-close {
    right: auto;
    top: 50%;
    left: 20px;
    margin-top: -4px;
}

%box-shadow {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
}

%box-shadow-none {
    box-shadow: none;
}