/**
 * global css for all notifications
 */
.nx-notification {
	position: fixed;
	left: 30px;
	z-index: 9999;
}

a.notificationx-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	outline: none;
	/* z-index: 999; */
}

.nx-notification.nx-bottom_right {
	right: 30px;
	left: auto;
}

.notificationx-inner {
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 15px;
	background: #fff;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
	max-width: 400px;
}

.nx-flex-reverse.notificationx-inner {
	flex-direction: row-reverse;
}

.nx-has-close-btn.notificationx-inner {
	padding-right: 30px !important;
}

span.notificationx-close {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 999;
	cursor: pointer;
	width: 8px;
	height: 8px;
}

span.notificationx-close > svg {
	fill: #000000;
	position: absolute;
}

/*
    Notification Image CSS
*/
.notificationx-image {
	width: 60px;
	height: 60px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.nx-img-right .notificationx-image {
	margin-left: 15px;
	margin-right: 0px;
}

.notificationx-image img.nx-img-square {
	border-radius: 0px !important;
}

.notificationx-image img.nx-img-circle,
.notificationx-image > img {
	border-radius: 50% !important;
}

.notificationx-image img.nx-img-rounded {
	border-radius: 5px !important;
}

.notificationx-image > img {
	width: 100%;
}

/*
    Notification Content CSS
*/
.notificationx-inner.nx-img-right .notificationx-content {
	display: flex;
	flex-direction: column;
}

.notificationx-inner.nx-img-right .notificationx-content .nx-branding {
	position: static;
	margin-left: 15px;
	padding: 0px;
}

.notificationx-content {
	float: left;
	min-width: 200px;
	display: flex;
	flex-direction: column;
}

.notificationx-content > span {
	display: block;
}

.notificationx-content > span.nx-third-row {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.nx-first-row {
	font-size: 12px;
	line-height: 1.2;
}

.nx-second-row {
	margin: 5px 0;
	font-size: 14px;
	font-weight: bolder;
	line-height: 1.5;
}

.nx-third-row {
	font-size: 11px;
	line-height: 1;
}

/*
    NotificationXBar CSS
*/
.nx-author {
	font-weight: 600;
}

.nx-time {
	display: block;
}
.nx-close {
	margin: 0;
	position: absolute;
	right: 30px;
	margin-top: -5px;
	cursor: pointer;
	top: 50%;
	color: #fff;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	line-height: 17px;
	font-size: 14px;
}

.nx-close > svg {
	position: absolute;
	left: 0;
}

.nx-sticky-bar {
	position: fixed;
	width: 100%;
}

/* Powered By CSS */
.nx-branding {
	font-size: 10px;
	color: #999;
	margin-left: 2px;
	vertical-align: middle;
	z-index: 9999;
	float: right;
	position: relative;
	top: -4px;
}

.nx-img-right .nx-branding {
	float: none;
}

.nx-branding svg {
	position: relative;
	top: 4px;
}

a.nx-powered-by {
	cursor: pointer;
	color: #5614D5;
	transition: all .3s ease-in-out;
	text-decoration: none;
}

a.nx-powered-by:hover {
	color: #21D8A3;
}
