/**
 * global css for all notifications
 */
.nx-notification, .notificationx-shortcode-wrapper > .nx-notification {
	position: fixed;
	left: 30px;
	z-index: 9999999;
	line-height: 1.5;
	&.nx-bottom_right {
		left: auto;
		right: 30px;
	}
	& .notificationx-link {
		@extend %posa;
		@extend %wh100;
		@extend %lr0;
		top: 0px;
	}
	& .nx-branding {
		& > a {
			z-index: 999;
		}
		& > a > svg {
			width: 80px;
			fill: #5614d5;
			height: 16px;
			display: block;
		}
		& > a:hover > svg {
			fill: lighten(#5614d5, 30%);
			transition: fill 0.3s ease 0s;
		}
	}
	span.notificationx-close {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 999;
		cursor: pointer;
		width: 8px;
		height: 8px;
		display: none;
		svg {
			fill: #000000;
			position: absolute;
		}
	} 
	& a.notificationx-link {
		@extend %posa;
		@extend %wh100;
		@extend %lr0;
		@extend %outline;
	}
	& .notificationx-inner {
		@extend %flex;
		@extend %flex-align-center;
		background-color: #fff;
		@extend %box-shadow;
		&.nx-has-close-btn {
			span.notificationx-close {
				display: block;
			}
			& > .notificationx-content {
				padding-right: 30px;
			}
		}
		&.nx-img-right {
			flex-direction: row-reverse;
			& > .notificationx-content {
				padding-right: 10px;
				padding-left: 15px;
			}
		}
		& .notificationx-content  {
			& > .nx-first-row {
				font-size: 13px;
			}
			& > .nx-second-row {
				font-size: 14px;
			}
			& > .nx-third-row {
				@extend %flex;
				@extend %flex-align-center;
				justify-content: space-between;
				font-size: 13px;
				& span.nx-first-word {
					& > svg {
						display: inline-block;
					}
				}
			}
			min-width: 250px;
			@extend %flex;
			@extend %flex-direction-column;
			@extend %self-stretch;
			@extend %flex-justify-center;
			padding: 15px 10px 15px;
			& .nx-branding {
				@extend %flex;
				@extend %flex-align-center;
				& > svg {
					margin-right: 3px;
				}
				& > a {
					margin-left: 3px;
				}
			}
		}
		& .notificationx-image  {
			@extend %flex;
			@extend %flex-align-center;
			@extend %flex-justify-center;
			flex-basis: 80px;
			background-color: #fff;
			width: 80px;
			height: 80px;
			margin: 10px;
			& > img {
				object-fit: cover;
				max-height: 100%;
				min-width: 100%;
			}
		}
		&.nx-img-circle {
			& .notificationx-image {
				border-radius: 50%;
				overflow: hidden;
				& > img {
					height: 200px;
					width: 200px;
					object-fit: cover;
				}
			}
		}
		&.nx-img-square {
			& .notificationx-image, & .notificationx-image > img {
				border-radius: 0;
			}
		}
		&.nx-img-rounded {
			& .notificationx-image {
				border-radius: 5px;
				overflow: hidden;
				& > img {
					border-radius: 5px;
				}
			}
		}
	}

	@media only screen and (max-width: 786px) {
		left: 10px;
		right: 10px;
		bottom: 10px;
		& .notificationx-inner {
			& .notificationx-image {
				width: 60px;
				height: 50px;
			}
			& .notificationx-content {
				min-width: 200px;
				& .nx-branding {
					& > svg {
						width: 10px;
					}
					& > a > svg {
						width: 60px;
					}
				}
			}
		}
		&.nx-bottom_right {
			left: 10px;
			right: 10px;
			bottom: 10px;
		}
	}

	@media only screen and (min-width: 480px) and (max-width: 786px) {
		left: 20px;
		right: auto;
		&.nx-bottom_right {
			left: auto;
			right: 20px;
		}
	}
}
body.has-nx-bar, body.nx-press_bar-active{
	@include transition(padding 0.2s ease-in);
}

.notificationx-shortcode-wrapper > .nx-notification {
	z-index: 9;
}