/* review notice */
.wpnotice-thumbnail-wrapper img {
    display: block;
}
.wpnotice-wrapper.notificationx .wpnotice-thumbnail-wrapper img {
    width: 45px;
}

.button.button-primary.btn-nx-cta {
    background-color: #6A4BFF;
}

.button.button-primary.btn-nx-cta:hover {
    background-color: #5414d0;
}

.btn-nx-cta:focus {
    outline: none;
    box-shadow: none;
}

.wpnotice-content-wrapper>p {
    margin-top: 0px;
}

.notice-notificationx-opt_in {
    display: block !important;
}

.notice-notificationx-review {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    margin: 15px;
    grid-template-columns: 80px 1fr !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.notice-notificationx-review .wpnotice-thumbnail-wrapper img{
    height: 50px;
}

.notice-notificationx-review:after {
    content: "";
    display: table;
    clear: both;
}

.wpdeveloper-notice-thumbnail {
    width: 90px;
    float: left;
    padding: 5px;
    text-align: center;
    border-right: 4px solid transparent;
}

.wpdeveloper-notice-thumbnail img {
    width: 72px;
    opacity: 0.85;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.wpdeveloper-notice-thumbnail img:hover {
    opacity: 1;
}

.wpdeveloper-notice-thumbnail img,
.wpdeveloper-update-notice .wpdeveloper-notice-thumbnail img,
.wpdeveloper-update_400k-notice .wpdeveloper-notice-thumbnail img {
    width: 32px;
}

.wpdeveloper-notice-thumbnail,
.wpdeveloper-update-notice .wpdeveloper-notice-thumbnail,
.wpdeveloper-update_400k-notice .wpdeveloper-notice-thumbnail {
    width: auto;
    padding: 7px;
}

.wpdeveloper-update-notice .wpdeveloper-notice-message,
.wpdeveloper-update_400k-notice .wpdeveloper-notice-message {
    padding: 5px 0;
}

.wpdeveloper-update-notice,
.wpdeveloper-update_400k-notice {
    border-color: #6648fe;
    padding: 0
}

a.ea-notice-cta {
    background-color: #4d18ff;
    background: linear-gradient(-30deg, #4d18ff, #9a7cff);
    margin-top: 30px;
    color: #fff;
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

a.ea-notice-cta:hover {
    opacity: 0.85;
}

span.coupon-code {
    background: #ebebeb;
    padding: 5px 10px;
    letter-spacing: 0.035em;
}

.eael-review-text {
    overflow: hidden;
}

.eael-review-text h3 {
    font-size: 24px;
    margin: 0 0 5px;
    font-weight: 400;
    line-height: 1.3;
}

.eael-review-text p {
    font-size: 13px;
    margin: 0 0 5px;
}

.notificationx-notice-links {
    margin: 8px 0 0 0;
    padding: 0;
}

.notificationx-notice-links li {
    display: inline-flex;
    margin-right: 15px;
    align-items: center;
}

.notificationx-notice-links li a {
    display: inline-block;
    color: #10738b;
    text-decoration: none;
    position: relative;
}

.wpdeveloper-notice-message {
    padding: 10px 0;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-message+.notice-dismiss {
    top: 10px;
}

.wpdeveloper-upsale-notice #plugin-install-core {
    margin-left: 10px;
}

.notice.notice-has-thumbnail {
    padding-left: 0;
}

.wpdeveloper-upsale-notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-thumbnail {
    padding: 10px;
    width: 40px;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-thumbnail img {
    width: 32px;
}

.toplevel_page_eael-settings .wp-menu-image img {
    max-width: 20px;
    padding-top: 8px !important;
}

.wpdeveloper-upsale-notice .wpdeveloper-notice-message .button {
    margin-left: 15px;
}

.notice-has-thumbnail.wpdeveloper-freedom30-notice {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    position: relative;
    /* background-image: linear-gradient(180deg, #8C94FF 0%, #2564FF 100%);
    color: #fff;
    border-left: 0px; */
}

.notice-has-thumbnail.wpdeveloper-freedom30-notice .wpdeveloper-notice-thumbnail {
    width: 70px;
}

.notice-has-thumbnail.wpdeveloper-freedom30-notice .wpdeveloper-notice-thumbnail img {
    width: 50px;
}

.notice-notificationx-black_friday_notice {
    padding: 16px 0;
    display: flex !important;
}

#wpnotice-notificationx-black_friday_notice.notice-info {
    border-left-color: #5614d5;
}

#wpnotice-notificationx-black_friday_notice .wpnotice-thumbnail-wrapper {
    padding-left: 30px !important;
    padding-right: 28px !important;
}

#wpnotice-notificationx-black_friday_notice .wpnotice-content-wrapper a {
    text-transform: capitalize;
    margin-right: 16px;
}

#wpnotice-notificationx-black_friday_notice .wpnotice-content-wrapper button {
    text-transform: capitalize;
}

#wpnotice-notificationx-black_friday_notice .wpnotice-content-wrapper button:hover {
    background-color: transparent;
}
.notice-notificationx-6th_anniversary.is-dismissible {
    gap: 40px !important;
    padding: 6px 0;
}
.notice-notificationx-6th_anniversary.is-dismissible .wpnotice-thumbnail-wrapper img {
    width: auto !important;
    max-width: 160px !important;
    padding-left: 12px;
}

.notice-notificationx-6th_anniversary.is-dismissible .wpnotice-content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    flex: 1;
    padding-right: 16px;
}

.notice-notificationx-6th_anniversary.is-dismissible .wpnotice-content-wrapper p {
    margin: 0;
    font-size: 14px;
}

@media all and (max-width: 1024px) {
    .notice-notificationx-6th_anniversary.is-dismissible {
        gap: 24px !important;
    }

    .notice-notificationx-6th_anniversary.is-dismissible .wpnotice-content-wrapper {
        flex-wrap: wrap;
        gap: 8px;
    }
}

/*
* Halloween Notice css
*/
#wpnotice-notificationx-nx_halloween_2024, #wpnotice-notificationx-nx_black_friday_2024 {
    border-left-color: #1E1E1E;
    padding: 10px 40px 10px 20px;
}
#wpnotice-notificationx-nx_halloween_2024 .wpnotice-content-wrapper > a.button-primary,
#wpnotice-notificationx-nx_halloween_2024 .wpnotice-content-wrapper > a.button-primary:focus,
#wpnotice-notificationx-nx_halloween_2024 .wpnotice-content-wrapper > a.button-primary:hover,
#wpnotice-notificationx-nx_black_friday_2024 .wpnotice-content-wrapper > a.button-primary,
#wpnotice-notificationx-nx_black_friday_2024 .wpnotice-content-wrapper > a.button-primary:focus,
#wpnotice-notificationx-nx_black_friday_2024 .wpnotice-content-wrapper > a.button-primary:hover
{
    background-color: #593dbd;
    border-color: #593dbd;
}
#wpnotice-notificationx-nx_halloween_2024 .wpnotice-content-wrapper, #wpnotice-notificationx-nx_black_friday_2024 .wpnotice-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#wpnotice-notificationx-nx_halloween_2024 .wpnotice-content-wrapper p, #wpnotice-notificationx-nx_black_friday_2024 .wpnotice-content-wrapper p {
    font-size: 15px;
    margin: 0;
}
.notice-notificationx-nx_halloween_2024.is-dismissible .wpnotice-thumbnail-wrapper img, .notice-notificationx-nx_black_friday_2024.is-dismissible .wpnotice-thumbnail-wrapper img {
    width: auto !important;
    max-width: 160px !important;
    padding-left: 12px;
}
@media screen and (max-width: 574px) {
    #wpnotice-notificationx-nx_halloween_2024, #wpnotice-notificationx-nx_black_friday_2024 {
        display: none !important;
    }
}

/*
* Holidays Deal css
*/
#wpnotice-notificationx-nx_holidays_deal, #wpnotice-notificationx-nx_black_friday_2024 {
    border-left: 1px solid #c3c4c7;
    padding: 10px 40px 10px 20px;
}
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper .nx-notice-action-button > a.button-primary,
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper .nx-notice-action-button > a.button-primary:focus,
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper .nx-notice-action-button > a.button-primary:hover
{
    background-color: #5626E7;
    border-color: #5626E7;
}
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper .nx-notice-action-button {
    display: flex;
    align-items: center;
    justify-content: start;
}
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper .nx-notice-action-button .nx-notice-action-dismiss {
    color: #5626E7;
    font-size: 14px;
}
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper {
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
#wpnotice-notificationx-nx_holidays_deal .wpnotice-content-wrapper p {
    font-size: 15px;
    margin: 0;
}
.notice-notificationx-nx_holidays_deal.is-dismissible .wpnotice-thumbnail-wrapper img {
    width: auto !important;
    max-width: 160px !important;
    padding-left: 12px;
}
@media screen and (max-width: 574px) {
#wpnotice-notificationx-nx_holidays_deal {
        display: none !important;
    }
}