/* review notice */
.wpnotice-thumbnail-wrapper img {
    display: block;
}

.button.button-primary.btn-nx-cta {
    background-color: #6A4BFF;
}
.button.button-primary.btn-nx-cta:hover {
    background-color: #5414d0;
}

.btn-nx-cta:focus {
    outline: none;
    box-shadow: none;
}

.wpnotice-content-wrapper > p {
    margin-top: 0px;
}

.notice-notificationx-opt_in {
    display: block !important;
}

.notice-notificationx-review {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    margin: 15px;
    grid-template-columns: 80px 1fr !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.notice-notificationx-review:after {
    content: "";
    display: table;
    clear: both;
}

.wpdeveloper-notice-thumbnail {
    width: 90px;
    float: left;
    padding: 5px;
    text-align: center;
    border-right: 4px solid transparent;
}
.wpdeveloper-notice-thumbnail img {
    width: 72px;
    opacity: 0.85;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.wpdeveloper-notice-thumbnail img:hover {
    opacity: 1;
}
.wpdeveloper-notice-thumbnail img,
.wpdeveloper-update-notice .wpdeveloper-notice-thumbnail img,
.wpdeveloper-update_400k-notice .wpdeveloper-notice-thumbnail img {
    width: 32px;
}
.wpdeveloper-notice-thumbnail,
.wpdeveloper-update-notice .wpdeveloper-notice-thumbnail,
.wpdeveloper-update_400k-notice .wpdeveloper-notice-thumbnail {
    width: auto;
    padding: 7px;
}
.wpdeveloper-update-notice .wpdeveloper-notice-message,
.wpdeveloper-update_400k-notice .wpdeveloper-notice-message {
    padding: 5px 0;
}
.wpdeveloper-update-notice,
.wpdeveloper-update_400k-notice {
    border-color: #6648fe;
    padding: 0
}
a.ea-notice-cta {
    background-color: #4d18ff;
    background: linear-gradient(-30deg, #4d18ff, #9a7cff);
    margin-top: 30px;
    color: #fff;
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 10px;
    transition: all 0.3s ease;
}
a.ea-notice-cta:hover {
    opacity: 0.85;
}
span.coupon-code {
    background: #ebebeb;
    padding: 5px 10px;
    letter-spacing: 0.035em;
}
.eael-review-text {
    overflow: hidden;
}
.eael-review-text h3 {
    font-size: 24px;
    margin: 0 0 5px;
    font-weight: 400;
    line-height: 1.3;
}
.eael-review-text p {
    font-size: 13px;
    margin: 0 0 5px;
}
.notificationx-notice-links {
    margin: 8px 0 0 0;
    padding: 0;
}
.notificationx-notice-links li {
    display: inline-flex;
    margin-right: 15px;
    align-items: center;
}
.notificationx-notice-links li a {
    display: inline-block;
    color: #10738b;
    text-decoration: none;
    position: relative;
}

.wpdeveloper-notice-message {
    padding: 10px 0;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-message + .notice-dismiss {
    top: 10px;
}
.wpdeveloper-upsale-notice #plugin-install-core {
    margin-left: 10px;
}
.notice.notice-has-thumbnail {
    padding-left: 0;
}
.wpdeveloper-upsale-notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-thumbnail {
    padding: 10px;
    width: 40px;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-thumbnail img {
    width: 32px;
}
.toplevel_page_eael-settings .wp-menu-image img {
    max-width: 20px;
    padding-top: 8px !important;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-message .button {
    margin-left: 15px;
}

.notice-has-thumbnail.wpdeveloper-freedom30-notice {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    position: relative;
    /* background-image: linear-gradient(180deg, #8C94FF 0%, #2564FF 100%);
    color: #fff;
    border-left: 0px; */
}

.notice-has-thumbnail.wpdeveloper-freedom30-notice .wpdeveloper-notice-thumbnail {
    width: 70px;
}
.notice-has-thumbnail.wpdeveloper-freedom30-notice .wpdeveloper-notice-thumbnail img {
    width: 50px;
}

.notice-notificationx-black_friday_notice {
    padding: 16px 0;
    display: flex !important;
}
#wpnotice-notificationx-black_friday_notice.notice-info {
    border-left-color: #5614d5;
}
#wpnotice-notificationx-black_friday_notice .wpnotice-thumbnail-wrapper {
    padding-left: 30px !important;
    padding-right: 28px !important;
}
#wpnotice-notificationx-black_friday_notice .wpnotice-content-wrapper a {
    text-transform: capitalize;
    margin-right: 16px;
}
#wpnotice-notificationx-black_friday_notice .wpnotice-content-wrapper button {
    text-transform: capitalize;
}
#wpnotice-notificationx-black_friday_notice .wpnotice-content-wrapper button:hover {
    background-color: transparent;
}
