&.themes-review-comment-2,
&.themes-reviews_review-comment-2,
&.themes-theme-seven-free {
    border-radius: 100px;
    &:not(.img-position-right) {
      .notificationx-content:first-child {
        margin-left: 25px;
      }
    }
    &.img-position-right {
      .notificationx-content:first-child {
        margin-right: 25px;
      }
    }
    .notificationx-inner{
        border-radius: 100px;
    }
    .notificationx-image{
        // transform: translateX(-2px);
        // &.position-right {
        //     transform: translateX(2px);
        // }
      &:not(.image-circle) {
        padding: 19px;
      }
    }
    .notificationx-image{
        border-radius: 100px!important;
        padding: 8px;
        background: #fae8f4;
        position: relative;
        overflow: initial;
        &:after{
            position: absolute;
            top: 5px;
            left: 5px;
            font-family: "FontAwesome";
            content: '\f10d';
            background: #ff66bc;
            height: 20px;
            width: 20px;
            border-radius: 50px;
            border: 2px solid #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 7px;
            box-shadow: 0 5px 10px rgba(#ff66bc, 0.4);
        }
    }
    div.notificationx-close {
        align-self: center;
        margin-top: 0px;
    }
    &.img-position-right {
        div.notificationx-close{
            order: 0;
            padding: 10px 10px 10px 15px;
        }
        div.notificationx-content{
            order: 1;
        }
        div.notificationx-image{
            order: 2;
        }
    }
    .notificationx-link{
      border-radius: 100px;
    }
}
